<div class='itemCreation central-column'>
  <div id="entity"></div>

  <div id="existingEntityItemsWarning" class="hidden">
    <p>{{icon 'warning'}} {{i18n 'You already have this book in your inventory:'}}</p>
    <div id="existingEntityItems"></div>
  </div>

  <div class="panel">
    <label for="transaction">{{i18n "I have it and it's available for:"}}</label>
    <div id="transaction" class="select-button-group">
      {{partial 'inventory:form:button_group' transactions}}
    </div>
    <label for="listing">{{i18n 'Who can see it?'}}</label>
    <div id="listing" class="select-button-group">
      {{partial 'inventory:form:button_group' listings}}
    </div>

    <label for="details">{{i18n 'details'}}</label>
    <textarea id='details' class='error radius' placeholder="{{i18n "details_placeholder"}}"></textarea>

    <div id="notesGroup">
      <label for="notes">
        {{i18n 'private notes'}}
      </label>
      {{partial 'inventory:item_notes_lock'}}

      <textarea id='notes' class='error radius' placeholder='{{i18n 'notes_placeholder'}}'></textarea>
    </div>

    <div class='validationButtons custom-button-group'>
      <a id="cancel" class="button grey">{{icon 'ban'}}{{I18n 'cancel'}}</a>
      <a id="validate" class="button success" tabindex="0">{{icon 'check'}}{{I18n "validate"}}</a>
      <a id="validateAndAddNext" class="button secondary" tabindex="0">
        {{icon 'plus'}}{{I18n 'validate and add another book'}}
      </a>
    </div>
  </div>
</div>
