<div class='row itemCreation'>
  <div class='small-12 large-8 large-offset-2 columns'>
    {{partial 'entities:entity_box' this.entity}}
    <div class="panel">
      <h2>{{i18n "I have it and it's available for:"}}</h2>
      <div id="transaction" class="select-button-group">
        <a id="inventorying" class="button active">{{icon 'cube'}} <span>{{i18n 'I just want to say I have it'}}</span></a>
        <a id="giving" class="button">{{icon 'heart'}} <span>{{i18n 'Giving'}}</span></a>
        <a id="lending" class="button">{{icon 'refresh'}} <span>{{i18n 'Lending'}}</span></a>
        <a id="selling" class="button">{{icon 'money'}} <span>{{i18n 'Selling'}}</span></a>
      </div>

      <h3>{{i18n 'Who can see it?'}}</h3>
      <div id="listing" class="select-button-group">
        <a id="private" class="button">{{icon 'lock'}} <span>{{i18n 'Only me'}}</span></a>
        <a id="friends" class="button active">{{icon 'users'}} <span>{{i18n 'Friends'}}</span></a>
        <a id="public" class="button">{{icon 'rss'}} <span>{{i18n 'Public'}}</span></a>
      </div>

      <h3>{{i18n 'Comment'}}:</h3>
      <textarea id='comment' class='error' placeholder="({{i18n "comment_placeholder"}})"></textarea>

      <h3>{{i18n 'Personal notes'}}:</h3>
      <textarea id='notes' class='error' placeholder='({{i18n 'notes_placeholder'}})'></textarea>
      <div class='flex-row-centered margin-top'>
          {{partial 'validation_buttons'}}
      </div>
    </div>
  </div>
</div>