<div class='itemCreation custom-column'>
  {{partial 'entities:entity_box' entity}}
  <div class="panel">
    <label>{{i18n "I have it and it's available for:"}}</label>
    <div id="transaction" class="select-button-group">
      {{partial 'inventory:form:button_group' transactions}}
    </div>
    <label for="listing">{{i18n 'Who can see it?'}}</label>
    <div id="listing" class="select-button-group">
      {{partial 'inventory:form:button_group' listings}}
    </div>

    <label for="details">{{i18n 'details'}}</label>
    <textarea id='details' class='error radius' placeholder="{{i18n "details_placeholder"}}"></textarea>

    <div id="notesGroup">
      <label for="notes">
        {{i18n 'private notes'}}
      </label>
      {{partial 'inventory:item_notes_lock'}}

      <textarea id='notes' class='error radius' placeholder='{{i18n 'notes_placeholder'}}'></textarea>
    </div>

    <div class='flex-row-centered margin-top text-center'>
      {{partial 'validation_buttons'}}
    </div>
  </div>
</div>
