<div class="head">
  {{#if ordinal}}
    <span class="ordinal">{{ordinal}}</span>
  {{else}}
    <select class="ordinalSelector glowing">
      <option value="">--</option>
      {{#each possibleOrdinals}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  {{/if}}
  {{#if isPlaceholder}}
    <span class="label">{{label}}</span>
    <span class="creation-call">{{i18n 'create'}}</span>
  {{else}}
    <a class="showEntity link" href="{{pathname}}">
      <span class="label">{{label}}</span>
      <span class="description">{{description}}</span>
    </a>
    <a href="{{edit}}" class="showEntityEdit pencil"
      title="{{i18n 'edit data'}}">
      {{icon 'pencil'}}
    </a>
    <a class="toggleMergeWorkPicker" title="{{i18n 'merge'}}">
      {{icon 'compress'}}
    </a>
  {{/if}}
</div>
<div class="mergeWorkPicker"></div>
<div class="authorsContainer"></div>
<div class="editionsContainer"></div>
{{#if isPlaceholder}}
  <div class="placeholderEditor hidden enterClickWrapper">
    <div class="placeholder-label-editor">
      {{partial 'entities:editor:language_selector' langs}}
      <input type="text" class="placeholderLabel enterClick" value="{{label}}">
    </div>
    <a class="create tiny-success-button enterClickTarget">{{I18n 'create'}}</a>
  </div>
{{/if}}
