<div>
  {{#if image.url}}<img src="{{imgSrc image.url 100}}" alt="{{label}}">{{/if}}
</div>
<a class="showEntity link" href="{{pathname}}">{{label}}</a>
<p class="uri">{{uri}}</p>
<p class="claims">
  {{claim claims 'wdt:P50' true}}
  {{claim claims 'wdt:P179' true}}
</p>

<div>
  {{#if serieNeedsToBeMovedToWikidata}}
    <span class="add disabled" title="{{i18n "move the serie to Wikidata to be able to add this work"}}">{{icon 'plus'}} {{I18n 'add to the serie'}}</a>
  {{else}}
    <a class="add">{{icon 'plus'}} {{I18n 'add to the serie'}}</a>
  {{/if}}
</div>

{{#unless workPickerDisabled}}
  {{partial 'entities:cleanup:work_picker' this}}
{{/unless}}
