<div class="row">
  <div class="small-12 large-6 large-offset-3 columns">

    <h2 class="subheader text-center">{{i18n 'Edit User'}}</h2>
    {{partial '../user/templates/username_picker' this}}

    <h3 class="with-tip">{{i18n 'Language'}}</h3>
    <div id="languagePicker">
      <div class="small-12 large-11 columns">
        <select name="language">
          <option value="{{currentLanguages.code}}">{{currentLanguages.label}}</option>
          {{#each languages}}
            <option value="{{code}}">{{label}}</option>
          {{/each}}
        </select>
      </div>
      <div class="check small-12 large-1 columns"></div>
  </div>
</div>