<li class="has-form">
 {{input search}}
</li>
{{#if scanner}}
  <li class="active"><a id="scanner" href="{{scanner}}">
{{else}}
  <li data-tooltip title="{{i18n 'only available from mobiles yet'}}">
  <a id="scanner" class="disabled">
{{/if}}
    {{icon 'barcode'}}{{I18n 'scan a book'}}</a>
</li>
<li>
  <a id="name">
    {{username}}
    <img id="pic" src="{{src picture 64}}">
  </a>
</li>
<li id="before-requests"></li>
{{!-- li#requests will be inserted here --}}
<li id="before-notifications"></li>
{{!-- li#notifications will be inserted here --}}

<li class="has-dropdown">
  <a>
    {{icon 'cog'}}
    <span class="labels">{{i18n 'settings'}}</span>
  </a>
  <ul class="dropdown">
    <li><a id="editProfile">{{icon 'user'}} {{I18n 'edit profile'}}</a></li>
    <li><a id="editLabs">{{icon 'flask'}} {{I18n 'experimentations'}}</a></li>
    <li><a id="signout">{{icon 'sign-out'}} {{I18n 'sign out'}}</a></li>
  </ul>
</li>