<a>{{icon 'comments'}} {{I18n 'discussions'}}</a>
<ul class="dropdown">
  <li>
    {{iconLinkText 'pencil' blog 'Blog'}}
  </li>
  <li class="showFeedbackMenu">
    {{iconLinkText 'envelope' '/#feedback' 'Send feedback'}}
  </li>
  <li>
    {{iconLinkText 'facebook' facebook 'Facebook'}}
  </li>
  <li>
    {{iconLinkText 'twitter' twitter 'Twitter'}}
  </li>
</ul>
