<a>{{icon 'comments'}} {{I18n 'discussions'}}</a>
<ul class="dropdown">
  <li>
    {{iconLinkText 'pencil' 'http://blog.inventaire.io/' 'Blog'}}
  </li>
  <li class="showFeedbackMenu">
    {{iconLinkText 'envelope' '/' 'Send feedback'}}
  </li>
  <li>
    {{iconLinkText 'facebook' 'https://facebook.com/inventaire.io' 'Facebook'}}
  </li>
  <li>
    {{iconLinkText 'twitter' 'https://twitter.com/inventaire_io' 'Twitter'}}
  </li>
</ul>
