<li class="has-dropdown">
  <a>{{icon 'comments'}}{{I18n 'discussions'}}</a>
  <ul class="dropdown">
    <li>
      {{iconLinkText name='pencil' url=blog text='Blog'}}
    </li>
    <li class="showFeedbackMenu">
      {{iconLinkText name='envelope' url='/#feedback' I18n='send feedback'}}
    </li>
    <li>
      {{iconLinkText name='facebook' url=facebook text='Facebook'}}
    </li>
    <li>
      {{iconLinkText name='twitter' url=twitter text='Twitter'}}
    </li>
  </ul>
</li>