<a>{{icon 'comments'}} {{I18n 'feedbacks & news'}}</a>
<ul class="dropdown">
  <li>
    {{iconLinkText 'pencil' 'http://blog.inventaire.io/' 'Blog'}}
  </li>
  <li><label>{{i18n 'social networks'}}</label></li>
  <li>
    {{iconLinkText 'facebook' 'https://facebook.com/inventaire.io' 'Facebook'}}
  </li>
  <li>
    {{iconLinkText 'twitter' 'https://twitter.com/inventaire_io' 'Twitter'}}
  </li>

  <li><label>{{i18n 'development'}}</label></li>
  <li>
    {{iconLinkText 'github' 'https://github.com/maxlath/inventaire' 'Github'}}
  </li>

  <li><label>{{i18n 'contact email'}}</label></li>
  <li>
    {{iconLinkText 'envelope' 'mailto:hello@inventaire.io?subject=Hi!' 'hello@inventaire.io'}}
  </li>
</ul>
