<li>{{iconLinkText name='question' url=faq I18n='help'}}</li>
<li>
  <a class="showWelcome">{{icon 'home'}}{{I18n 'back to welcome screen'}}</a>
</li>
<li><a id="signout">{{icon 'sign-out'}}{{I18n 'sign out'}}</a></li>