<li id="settingsMenu" class="has-dropdown">
  <a>
    {{icon 'cog'}}
    <span class="labels">{{i18n 'settings'}}</span>
  </a>
  <ul class="dropdown">

    <li><label>{{i18n 'settings'}}</label></li>
    <li><a id="editProfile">{{icon 'user'}}{{I18n 'edit profile'}}</a></li>
    <li><a id="editNotifications">{{icon 'envelope'}}{{I18n 'edit notifications'}}</a></li>
    <li><a id="editLabs">{{icon 'flask'}}{{I18n 'labs'}}</a></li>

    {{#unless smallScreen}}
      <li><label>{{i18n 'contribute'}}</label></li>
      {{partial 'general:menu:contribute' urls}}
      {{partial 'general:menu:discussions' urls}}
    {{/unless}}

    {{#unless smallScreen}}
      <li><label>{{i18n 'others'}}</label></li>
      {{partial 'general:menu:others'}}
    {{/unless}}
  </ul>
</li>

{{!-- more things can be shown vertically in small screen mode --}}
{{#if smallScreen}}
  {{partial 'general:menu:discussions' urls}}
  <li class="has-dropdown">
    <a>{{icon 'lightbulb-o'}}{{I18n 'contribute'}}</a>
    <ul class="dropdown">
      {{partial 'general:menu:contribute' urls}}
    </ul>
  </li>
  {{partial 'general:menu:others'}}
{{/if}}