<a href="{{pathname}}" class="showGroup">
  <div class="group-cover-picture" style="background-image: url('{{imgSrc picture 100}}')"></div>
  <div class="info">
    <p class="name">{{name}}</p>
    <p class="description">{{description}}</p>
  </div>
</a>
<div class="actions">
  <a class="accept tiny-button light-blue">{{icon 'check'}} {{I18n 'accept invitation'}}</a>
  <a class="decline tiny-button">{{icon 'minus'}} {{I18n 'decline'}}</a>
</div>
