<div class="row">
  <div class='small-12 large-4 columns text-center'>
    {{#if pictures}}
      <img src='{{firstElement pictures}}' alt='{{label}} cover'>
    {{/if}}
    <div class="authorData text-center">
      <h3>{{label}}</h3>
      <h4 class="subheader">{{description}}</h4>
      <p>
        {{partial 'wiki_sitelinks' this}}
      </p>
    </div>
  </div>

  <div class='small-12 large-8 columns'>
    <ul class="authorsBooks">
    </ul>
    <a id="displayBooks" class="button">{{i18n "Fetch the author's books"}}</a>
    <span class="loading"></span>
    <a class="more hidden button success">{{i18n 'More'}}</a>
  </div>
</div>