<div class='small-12 large-4 columns text-center'>
  <img src='{{firstElement pictures}}' alt='{{label}} cover'>
</div>

<div class='small-12 large-8 columns'>
  <h4>{{label}}</h4>
  <a href="http://www.wikidata.org/entity/{{id}}" target="_blank">{{id}}</a>
  {{!-- <a href='https://en.wikipedia.org/wiki/{{sitelinks.enwiki.title}}'>{{label}}</a> --}}
  <div class="authorsBooks"></div>
  <a id="displayBooks" class="button">{{i18n "Fetch the author's books"}}</a>
</div>
