<div class='small-12 large-4 columns text-center'>
  {{#if pictures}}
    <img src='{{firstElement pictures}}' alt='{{title}} cover'>
  {{/if}}
  <p></p>
</div>

<div class='small-12 large-4 columns'>

  {{!-- AUTHOR --}}
  {{#if wikidata}}
    {{claim claims 'P50'}}
  {{else}}
    <h4 class="subheader">{{#each authors}}{{this}} {{/each}}</h4>
  {{/if}}

  <a class='itemTitle' data-href="{{pathname}}"><h3>{{title}}</h3></a>
  {{timeClaim claims 'P577' 'year'}}
  <p class="grey">{{limit description 140}}</p>
  {{!-- {{partial 'wiki_sitelinks' this}} --}}
</div>

<div class='actions small-12 large-4 columns'>
  <div>
    <a id='selectEntity' class='secondary' data-href="{{pathname}}" target="_blank">
      {{icon 'chevron-right'}}
      {{i18n 'More details'}}
    </a>
    <br>
    <a id='addToInventory' data-href="{{pathname}}/add" target="_blank">
      {{icon 'plus'}}
      {{i18n 'Add to my inventory'}}
    </a>
  </div>
</div>