<hr>
<h4>{{i18n 'Title'}}</h4>
<input id="title" type='text' placeholder="{{i18n 'My new item'}}" value="{{title}}">
{{!-- <h4 for="Tags" class="text-left">Tags</h4>
<input id="tags" type='text' placeholder='(optional)'> --}}

{{!-- <h4 for="List" class="text-left">Visibility mode</h4>
<select id="visibility">
  <option value="private" selected>Private items</option>
  <option value="contacts">Visible to contacts</option>
  <option value="public">Public</option>
</select> --}}

{{!--  <h4 for="transactionMode" class="text-left">Transaction mode</h4>
<select id="transactionMode">
  <option value="none" selected>none (a transaction mode is optional)</option>
  <option value="give">to give</option>
  <option value="loan">to loan</option>
  <option value="rent">to rent</option>
  <option value="sell">to sell</option>
</select> --}}


<h4>{{i18n 'Listing'}}</h4>
{{partial '../items/form/templates/listing_picker' this}}

<h4>{{i18n 'Add a picture'}}</h4>
<input type="file" accept="image/jpeg, image/png" multiple />

<h4>{{i18n 'Comment'}}</h4>
<textarea id="comment" placeholder="({{i18n 'optional'}})">{{comment}}</textarea>



