<div class="grid">
  <div class="cell cell50">
    <input type="text" value="{{firstName}}" placeholder="First name" class="contact-firstName" />
  </div>
  <div class="cell cell50">
    <input type="text" value="{{lastName}}" placeholder="Last name" class="contact-lastName" />
  </div>
  <div class="cell">
    <input type="text" value="{{email}}" placeholder="Email" class="contact-email" />
  </div>
  <div class="cell">
    <input type="text" value="{{phone}}" placeholder="Phone number" class="contact-phone" />
  </div>
  <div class="cell">
    <button class="remove-contact">Remove</button>
    {{partial 'hello' this}}
  </div>
</div>