<div class="small-4 large-3 columns"><a href="{{_id}}">{{title}}</a></div>
<div class="small-4 large-3 columns">{{owner}}</div>
<div class="small-4 large-3 columns">{{comment}}</div>
<div class="small-12 large-3 columns">
{{created}}
<a class="remove">Remove</a>
</div>