<main>
    <dl id="inventoriesTabs" class="row tabs">
{{!--       <dd class="small-12 large-3 active text-center">
        <a id="allItems"><i class="fa fa-cubes"></i> All items</a>
      </dd> --}}
      <dd class="small-12 large-4 text-center active">
        <a id="personalInventory"><i class="fa fa-home"></i> {{i18n 'Personal Inventory'}}</a>
      </dd>
      <dd class="small-12 large-4 text-center">
        <a id="networkInventory"><i class="fa fa-users"></i> {{i18n 'Network Inventory'}}</a>
      </dd>
      <dd class="small-12 large-4 text-center">
        <a id="publicInventory"><i class="fa fa-rss"></i> {{i18n 'Public Inventory'}}</a>
      </dd>
  </dl>



  <div class="row">
    <div class="small-12 large-3 columns right">
      <ul id="visibility-tabs">
        <a id="noVisibilityFilter"><li class="active">{{i18n 'All'}}</li></a>
        <a id="private"><li>{{i18n 'Private Inventory'}}</li></a>
        <a id="contacts"><li>{{i18n 'Shared Inventory'}}</li></a>
        <a id="public"><li>{{i18n 'Public Inventory'}}</li></a>
      </ul>
    </div>
    <div class="small-12 large-9 columns">
      <div id="itemsView" class="row"></div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 large-offset-3 columns text-center">
      <a class="button success" id="addItem">{{i18n 'Add Item'}}</a>
    </div>
  </div>

</main>