<div class="row">
  <div class="small-12 large-6 columns">
    <div id="welcome-left" class="text-center">
      <h2>Inventaire</h2>
      <h3>
        {{i18n 'Keep a list of your things'}}<br>
        {{i18n 'Share it with others'}} <br>
        {{i18n 'See what resources are available in your network!'}}
      </h3>
      <ul id="loginButtons"></ul>
      <h4 class="subheader">{{i18n 'Bonuses'}}:</h4>
      <p class="grey">
        {{i18n 'You own the data'}} <br>
        {{i18n 'Built on and in Open Source'}} <br>
        {{i18n 'Built on and for Open Knowledge'}} <br>
      </p>
      <div class="pusher"></div>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div id="welcome-right"></div>
  </div>
</div>