{{#if wikidata}}
  <a href="http://www.wikidata.org/entity/{{id}}" {{{partial 'external_link'}}}>{{icon 'wikidata'}}</a>
{{/if}}
{{#if wikipedia}}
    <a href="{{wikipedia.url}}" {{{partial 'external_link'}}}>{{icon 'wikipedia'}}</a>
{{/if}}
{{#if wikisource}}
    <a href="{{wikisource.url}}" {{{partial 'external_link'}}}>{{icon 'wikisource'}}</a>
{{/if}}