{{#unless loggedIn}}<div class="fog"></div>{{/unless}}

<h2>{{i18n 'add_menu_title'}}</h2>

<div class="custom-tabs-titles">
  <div class="tabs">
    <div class="level-1">
      <a id="searchTab" href="/add/search" class="tab">
        {{icon 'search'}}
        <span class="label">{{I18n 'search'}}</span>
      </a>
      <a id="scanTab" href="/add/scan" class="tab">
        {{icon 'barcode'}}
        <span class="label">{{I18n 'scan'}}</span>
      </a>
      <a id="importTab" href="/add/import" class="tab">
        {{icon 'database'}}
        <span class="label">{{I18n 'import'}}</span>
      </a>
    </div>
  </div>
</div>

<div class="custom-tabs-content"></div>
