<div class="custom-tabs">
  <ul class="custom-tabs-titles">
    {{#each tabs}}
      <a id="{{id}}" href="{{href}}" class="tab" title="{{i18n title}}">
        {{icon this.icon}}
        <span class="title">{{I18n label}}</span>
      </a>
    {{/each}}
  </ul>
  <div class="custom-tabs-content"></div>
</div>
