<div class="checkbox-cell">
  {{#if isInvalid}}
    <input type="checkbox" title="{{i18n 'invalid ISBN'}}" disabled>
  {{else}}
    <input type="checkbox"
      {{#if selected}}checked{{/if}}
      {{#if needInfo}}title="{{i18n 'need more information'}}" disabled{{/if}}
    >
  {{/if}}
</div>
<div class="data">
  <div>
    {{~#if title~}}
      <span class="label">{{i18n 'title'}}:</span>
      <span class="value">{{title}}</span>
    {{~/if~}}
  </div>
  <div>
    {{~#if authors~}}
      <span class="label">{{i18n 'authors'}}:</span>
      <span class="value">{{join authors}}</span>
    {{~/if~}}
  </div>
  <div class="isbn-data">
    <span class="label">ISBN:</span>
    <span class="value">{{rawIsbn}}</span>
  </div>
  <div class="status">
    {{~#if isInvalid~}}
      <span class="invalid-isbn">{{i18n 'invalid ISBN'}}</span>
    {{~/if~}}
    {{~#if needInfo~}}
      <a class="addInfo tiny-warning-button">{{i18n 'need more information'}}</a>
    {{~/if~}}
    {{~#if existingInstancesCount~}}
      <span class="existing-instances">
        {{{I18n 'item_existing_instances' count=existingInstancesCount pathname=existingInstancesPathname}}}
      </span>
    {{~/if~}}
    {{~#if errorMessage~}}
      <span class="error-message">{{errorMessage}}</span>
    {{~/if~}}
  </div>
</div>
<div class="action">
  <a class="remove tiny-button light-grey" title="{{i18n 'remove'}}">{{icon 'trash'}}</a>
</div>
