<div class="container">
  <span class="loading"></span>
</div>
<div class="statusMessage"></div>
<div id="shadowVideoBox">
  <div id="shadowAreaBox" class="hidden">
    {{icon 'barcode'}}
  </div>
</div>
<div class="bottom">
  <a id="validateScan" class="success-button hidden">
    {{I18n 'validate'}}
    <span id="totalCounter"></span>
  </a>
  <div class="notFound hidden">
    {{icon 'warning'}}
    {{i18n 'Editions needing additional information:'}}
    <span id="notFoundCounter"></span>
  </div>
</div>
<a id="closeScan">{{icon 'times'}}</a>
