<h3>1/ {{i18n 'upload your collection from another website'}}</h3>
<section>
  <ul class="importers">
    {{#each importers}}
      <li>
        <p>
          {{link label this.link}}
          <span class="format">( .{{format}} )</span>
        </p>
        <input id="{{id}}" type="file" accept="{{accept}}" />
      </li>
    {{/each}}
  </ul>
  <p class="warning"></p>
</section>

<div id="queue">
  <span class="loading"></span>
</div>

<p class="check"></p>

<a id="addedItems" href="{{inventory}}" class="light-blue-button hidden">
  {{i18n 'go to your inventory to see the imported books'}}
</a>
