<h3>2/ {{i18n 'select the books you want to add'}}</h3>
<section>
  <table>
    <thead>
      <tr>
        <th class="selected"><input type="checkbox" checked></th>
        <th class="title">{{i18n 'title'}}</th>
        <th class="authors">{{i18n 'authors'}}</th>
        <th class="isbn">{{i18n 'isbn'}}</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p class="bottom">
    <a id="emptyQueue">
      {{icon 'trash'}}<span>{{i18n 'empty the queue'}}</span>
    </a>
  </p>
</section>

<h3>3/ {{i18n 'select the settings to apply to the selected books'}}</h3>
<section class="settings">
  <label for="transaction">{{i18n 'transaction'}}</label>
  <div id="transaction" class="select-button-group">
    {{partial 'inventory:form:button_group' transactions}}
  </div>
  <label>{{i18n 'visibility'}}</label>
  <div id="listing" class="select-button-group">
    {{partial 'inventory:form:button_group' listings}}
  </div>
</section>

<h3>4/ {{i18n 'import this batch'}}</h3>
<div class="validation">
  <div class="import">
    <a id="validate" class="button success radius">{{i18n 'import'}}</a>
    <span class="cant-import hidden">
      {{i18n "no book selected"}}
    </span>
  </div>
  {{!-- using force-hidden to override Foundation display setting --}}
  <div class="progress round success force-hidden">
    <span class="meter" style="width:0%">
      <p class="fraction"></p>
    </span>
  </div>
</div>

<p class="check"></p>

<a id="addedItems" href="{{inventory}}" class="link hidden">
  {{i18n 'go to your inventory to see the imported books'}}
</a>
