<div class="image-wrapper">
  {{~#if picture~}}<img src="{{imgSrc picture 128}}" alt="{{title}}">{{~/if~}}
</div>
<div class="data-wrapper">
  <div class="title">
    <span class="label">{{i18n 'title'}}:</span>
    {{title}}
  </div>
  <div class="authors">
    <span class="label">{{i18n 'authors'}}:</span>
    {{authors}}
  </div>
  <div class="isbn">
    <span class="label">ISBN:</span>
    <span>{{isbn}}</span>
  </div>
  <div class="action">
    <a href="{{pathname}}" class="showItem tiny-button light-blue">{{i18n 'display'}}</a>
  </div>
</div>
