<div class="image-wrapper">
  {{#if picture}}<img src="{{src picture 48}}" alt="{{title}}">{{/if}}
</div>
<div class="title">{{title}}</div>
<div class="authors">{{authors}}</div>
<div class="isbn">{{isbn}}</div>
<div class="action">
  <a href="{{pathname}}" class="showItem tiny-button light-blue">{{i18n 'display'}}</a>
</div>
