<a href="{{pathname}}">
  {{icon 'search'}}
  <div class="query">
    {{query}}
  </div>
  <div class="pics">
    {{#each pictures}}
      <img src="{{imgSrc this 96}}" alt="{{query}}">
    {{/each}}
  </div>
</a>
