{{#if hasVideoInput}}
  <section class="inner">
    <a id="embeddedScanner" class="button radius bold secondary">
      {{icon 'barcode'}}{{I18n 'scan a barcode'}}
    </a>
  </section>
{{else}}
  <section class="inner">
    <h3>{{i18n 'add_by_barcode_scan'}}</h3>
    <p class="disabled">
      {{icon 'ban'}}
      {{#if doesntSupportEnumerateDevices}}
        <span>{{{i18n 'scanner_disabled_tip_2'}}}</span>
      {{else}}
        <span>{{i18n 'requires an activated camera'}}</span>
      {{/if}}
    </p>
  </section>
{{/if}}

{{!-- TODO: add a note on the possibility to use barcode reader devices --}}
