<section class="inner">
  <h3>{{i18n 'search by'}}</h3>
  <div class="search-buttons">
    <a href="/search?type=book" class="search-button">
      {{icon 'search'}}
      {{I18n 'book'}}
    </a>
    <a href="/search?type=author" class="search-button">
      {{icon 'search'}}
      {{I18n 'author'}}
    </a>
    <a href="/search?type=serie" class="search-button">
      {{icon 'search'}}
      {{I18n 'series_singular'}}
    </a>
    <a href="/search?type=subject" class="search-button">
      {{icon 'search'}}
      {{I18n 'subject'}}
    </a>
  </div>
</section>

<div id="historyWrapper" class="hidden">
  <h3>{{icon 'history'}}{{i18n 'previous searches'}}</h3>
  <ul id="history"></ul>
  <a class="clearHistory">{{icon 'trash'}}{{i18n 'clear history'}}</a>
</div>
