<div class="connect">
  <img src="{{src 'img.inventaire.io/inventaire-sarah-buckley-6117998074-CC-BY-banner.jpg' 560}}" alt="inventaire banner">
  <h2>{{i18n "call_to_connect_welcome_title"}}</h2>
  <h3>{{i18n "call_to_connect_welcome_message"}}</h3>
  <p class="callToConnection">{{i18n connectionMessage}}</p>
  <div class="loginButtons">
    {{partial 'welcome:login_buttons'}}
  </div>
</div>
