<div class="connect">
  <img src="{{src banner 560}}" alt="inventaire banner">
  <h2>{{i18n "call_to_connect_welcome_title"}}</h2>
  <p>{{I18n "call_to_connect_welcome_message"}}</p>
  <p class="callToConnection">{{I18n connectionMessage}}</p>
  <div class="login-buttons">
    {{partial 'welcome:login_buttons'}}
  </div>
</div>
