{{#if canGoBack}}<a id="back">{{icon 'arrow-left'}}</a>{{/if}}
<p>{{{confirmationText}}}</p>
{{#if warningText}}
  <p class="grey">{{icon 'warning'}}&nbsp;{{{warningText}}}</p>
{{/if}}
{{#if formLabel}}
  <label for="confirmationForm">{{i18n formLabel}}</label>
  <textarea id="confirmationForm" placeholder="{{i18n formPlaceholder}}..."></textarea>
{{/if}}

<p>
  <a id="no" class="button grey radius bold" tabindex="0">{{i18n no}}</a>
  <a id="yes" class="button {{yesButtonClass}} radius bold" tabindex="0">{{i18n yes}}</a>
</p>
{{#if altActionText}}
  <a id="altAction" class="button grey radius" tabindex="0">{{i18n altActionText}}</a>
{{/if}}
<div class="check"></div>
