{{#if standalone}}<div>{{/if}}

<h3>{{i18n 'donate'}}</h3>
<p>{{{i18n 'donate_intro'}}}</p>
<ul>
  <li>
    <h4>{{icon 'gratipay'}} Gratipay / Liberapay </h4>
    {{i18n 'make a one-time or recurrent donation'}}
    <p>
      {{link 'via Gratipay' gratipay}} / {{link 'via Liberapay' liberapay}} ({{i18n 'Europe'}})
    </p>
  </li>
  <li>
    <h4>{{icon 'credit-card'}} {{I18n 'credit/debit card'}}</h4>
    {{link 'via PayPal' paypal}}
  </li>
  <li>
    <h4>{{icon 'bitcoin'}} Bitcoin</h4>
    {{link bitcoin.hash bitcoin.url}}
    <span>
      {{i18n 'or'}} {{link 'via coinbase' bitcoin.coinbase}}
    </span>
  </li>
  <li>
    <h4>Faircoin</h4>
    {{link faircoin.hash faircoin.url}}
  </li>
</ul>

<h3>{{i18n 'non-monetary donations'}}</h3>
<p>{{{i18n 'non_monetary_donations'}}}</p>

{{#if standalone}}</div>{{/if}}
