<div class="errorBox">
    {{#if header}}
      <h2 class="subheader">
        {{#if icon}}{{icon icon}}{{/if}}
        {{header}}
      </h2>
    {{/if}}
    <p>{{message}}</p>
    {{#if context}}<p class="context">{{context}}</p>{{/if}}
    {{#if redirection}}
      <div class="redirection">
        <p>{{redirection.legend}}</p>
        <a {{#if href}} href="{{redirection.href}}" {{/if}}
        class="button radius {{redirection.classes}}">{{redirection.text}}</a>
      </div>
    {{/if}}
</div>