{{#if standalone}}<div>{{/if}}

<h3>{{i18n 'feedback_title'}}</h3>
<p>{{i18n 'feedback_intro'}}</p>
<form>
  <div class="from">
    {{#if loggedIn}}
      <label>{{i18n 'from:'}}</label>
      <span class="username">{{user.username}}</span>
    {{else}}
      <input type="email" name="email" class="radius unknownUser" placeholder="{{i18n 'from'}}...">
    {{/if}}
    </div>
  <div class="to">
    <label>{{i18n 'to:'}}</label>
    <span class="email">{{contact.email}}</span>
  </div>

  <input type="text" id="subject" name="subject" placeholder="{{i18n 'subject'}}..." class="radius" value="{{subject}}">
  <textarea id="message" name="feedback" placeholder="{{i18n 'your message'}}..."></textarea>
  <div>
    <a id="sendFeedback" class="button success radius bold" tabindex="0">
      {{icon 'send'}}{{i18n 'send feedback'}}
      <span class="loading"></span>
    </a>
  </div>
</form>
<div class="checkWrapper">
  <span class="check"></span>
</div>
<div id="getInvolved">
  <h5>{{{i18n 'get_involved'}}}</h5>
  <p>{{{i18n 'contribution_ideas'}}}</p>
</div>

{{#if standalone}}</div>{{/if}}
