{{#if standalone}}<div>{{/if}}
{{#unless minimal}}
  <h3>{{i18n 'feedback_title'}}</h3>
  <p>{{i18n 'feedback_intro'}}</p>
{{/unless}}

<form>
  {{#unless minimal}}
    <div class="from">
      {{#if loggedIn}}
        <label>{{i18n 'from:'}}</label>
        <span class="username">{{user.username}}</span>
      {{else}}
        <input type="email" name="email" class="radius unknownUser" placeholder="{{i18n 'from'}}...">
      {{/if}}
    </div>
    <div class="to">
      <label>{{i18n 'to:'}}</label>
      <span class="email">{{contact.email}}</span>
    </div>
  {{/unless}}

  <input type="text" id="subject" name="subject" placeholder="{{i18n 'subject'}}..." class="radius" value="{{subject}}">
  <textarea id="message" name="feedback" placeholder="{{i18n 'your message'}}..."></textarea>
  <div>
    <a id="sendFeedback" class="button light-blue radius bold" tabindex="0">
      {{icon 'send'}}{{i18n 'send feedback'}}
      <span class="loading"></span>
    </a>
  </div>
</form>
<div class="checkWrapper">
  <span class="check"></span>
</div>

<p id="confirmation" class="hidden">
  {{icon 'check'}}
  {{#unless minimal}}
    {{i18n 'Thank you for your message! Coming back to you shortly'}}
  {{/unless}}
</p>
{{#unless minimal}}
  <div id="getInvolved">
    <h5>{{{i18n 'get_involved'}}}</h5>
    <p>{{{i18n 'contribution_ideas'}}}</p>
  </div>
{{/unless}}

{{#if standalone}}</div>{{/if}}
