<div class="global-menu has-dropdown">
  <img src="{{imgSrc user.picture 32}}">
  {{icon 'caret-down'}}
  <div class="dropdown dropdown-align-right">
    {{iconLinkText name='cog' url='/settings' I18n='settings' linkClasses='showSettings'}}
    {{iconLinkText name='info-circle' url='/welcome' I18n='info' linkClasses='showInfo'}}
    {{iconLinkText name='comments' url='/feedback' I18n='feedback' linkClasses='showFeedbackMenu'}}
    {{iconLinkText name='sign-out' url='/logout' I18n='logout' linkClasses='logout'}}
  </div>
</div>
