<a class="iconButton search">
  {{icon 'search'}}
  <span>{{i18n 'search a book'}}</span>
</a>
<a class="iconButton user">
  {{!-- {{icon 'asterisk'}} --}}
  {{icon 'bell'}}
  {{!-- <span>{{i18n 'my inventory'}}</span> --}}
  <span>{{i18n 'activity'}}</span>
</a>
<a class="iconButton friends">
  {{!-- {{icon 'compass'}} --}}
  {{icon 'list'}}
  {{!-- <span>{{i18n 'friends & groups'}}</span> --}}
  <span>{{i18n 'browse books'}}</span>
</a>
<a class="iconButton settings">
  {{icon 'cog'}}
  <span>{{i18n 'settings'}}</span>
</a>
