<a class="iconButton add">
  {{icon 'plus'}}
  <span>{{i18n 'add a book'}}</span>
</a>
<a class="iconButton browse">
  {{icon 'list'}}
  <span>{{i18n 'browse books'}}</span>
</a>
<a class="iconButton exchanges">
  {{icon 'exchange'}}
  <span>{{i18n 'exchanges'}}</span>
</a>
