{{#with hash}}
  <a href="{{href}}" id="{{name}}IconButton" class="iconButton {{name}}"
     title="{{i18n title}}">
    {{#if counter}}
      <div class="icon-with-counter count-{{counter}}">
        {{icon icon}}
        <span class="counter">{{counter}}</span>
      </div>
    {{else}}
      <div class="icon-without-counter">
        {{icon icon}}
      </div>
    {{/if}}
    <div class="label">{{i18n label}}</div>
  </a>
{{/with}}
