<a class="iconButton add">
  {{icon 'plus'}}
  <span>{{i18n 'add a book'}}</span>
</a>
<a class="iconButton browse">
  {{icon 'list'}}
  <span>{{i18n 'browse books'}}</span>
</a>
<a class="iconButton exchanges">
  <div class="iconWithCounter count-{{exchangesUpdates}}">
    {{icon 'exchange'}}
    <span class="counter">{{exchangesUpdates}}</span>
  </div>
  <div class="label">
    <span>{{i18n 'exchanges'}}</span>
  </div>
</a>
