<form class="newMessage">
  <div class="main">
    <div class="avatar">
      <img src="{{src user.picture 50}}" alt="{{user.username}}">
    </div>
    <textarea class="message ctrlEnterClick" name="message" placeholder="post a message...">{{message}}</textarea>
  </div>
  <div class="alertBox"></div>
  <div class="bottom">
    {{partial 'ctrl_enter_click_tip'}}
    {{!-- data-forget=message specifies that on click, the BackupForm behavior
    should clear its cache of the message, preventing it to re-appear
    on the next re-render --}}
    <a class="tiny-success-button sendMessage" tabindex="0" data-forget="message">{{i18n 'send'}}</a>
  </div>
</form>
