{{iconLinkText 'trello' 'https://trello.com/b/0lKcsZDj/inventaire-community' 'Roadmap'}}
{{iconLinkText 'code' 'https://github.com/maxlath/inventaire' 'Code'}}
{{iconLinkText 'language' 'https://www.transifex.com/projects/p/inventaire/' 'Translation'}}
{{iconLinkText 'pencil' 'http://blog.inventaire.io/' 'Blog'}}
<span class="showFeedbacksMenu">{{iconLinkText 'envelope' '/' 'Feedbacks'}}</span>
{{iconLinkText 'facebook' 'https://facebook.com/inventaire.io' 'Facebook'}}
{{iconLinkText 'twitter' 'https://twitter.com/inventaire_io' 'Twitter'}}
