{{#unless smallScreen}}
  {{> 'icon_with_counter'
    name='exchanges'
    label='exchanges'
    icon='exchange'
    href='/transactions'
    title='title_exchanges_layout'
    counter=exchangesUpdates
  }}

  {{> 'icon_with_counter'
    name='notifications'
    label='notifications'
    icon='bell'
    href='/notifications'
    title='notifications'
    counter=notificationsUpdates
  }}
{{/unless}}

<div class="global-menu dropdown-wrapper">
  <button title="{{i18n 'global menu'}}" aria-controls="global-menu-dropdown" aria-haspopup="menu">
    {{#if smallScreen}}
      {{icon 'bars'}}
    {{else}}
      <img src="{{imgSrc userPicture 32}}" alt="{{i18n 'profile pic'}}">
      {{icon 'caret-down'}}
    {{/if}}
  </button>
  <div id="global-menu-dropdown" class="dropdown-align-right" role="menu">
    <a class="showMainUser" href="{{userPathname}}">
      <img src="{{imgSrc userPicture 32}}" alt="{{i18n 'profile pic'}}">
      <span class="label">{{username}}</span>
    </a>
    {{#if smallScreen}}

      {{> 'icon_with_counter'
        name='exchanges'
        label='exchanges'
        icon='exchange'
        href='/transactions'
        title='title_exchanges_layout'
        counter=exchangesUpdates
      }}

      {{> 'icon_with_counter'
        name='notifications'
        label='notifications'
        icon='bell'
        href='/notifications'
        title='notifications'
        counter=notificationsUpdates
      }}
    {{/if}}
    {{iconLinkText name='cog' url='/settings' I18n='settings' linkClasses='showSettings'}}
    {{iconLinkText name='info-circle' url='/welcome' I18n='info' linkClasses='showInfo'}}
    {{iconLinkText name='comments' url='/feedback' I18n='feedback' linkClasses='showFeedbackMenu'}}
    {{iconLinkText name='sign-out' url='/logout' I18n='logout' linkClasses='logout'}}
  </div>
</div>
