{{#unless smallScreen}}
  {{> 'icon_with_counter'
    name='exchanges'
    label='exchanges'
    icon='exchange'
    href='/transactions'
    title='title_exchanges_layout'
    counter=exchangesUpdates
  }}

  {{> 'icon_with_counter'
    name='notifications'
    label='notifications'
    icon='bell'
    href='/notifications'
    title='notifications'
    counter=notificationsUpdates
  }}
{{/unless}}

<div class="global-menu dropdown-wrapper">
  <button title="{{i18n 'global menu'}}" aria-controls="global-menu-dropdown" aria-haspopup="menu">
    {{#if smallScreen}}
      {{icon 'bars'}}
    {{else}}
      <img src="{{imgSrc userPicture 32}}" alt="{{i18n 'profile pic'}}">
      {{icon 'caret-down'}}
    {{/if}}
  </button>
  <ul id="global-menu-dropdown" class="dropdown-align-right" role="menu">
    <li>
      <a class="showMainUser" href="{{userPathname}}">
        <img src="{{imgSrc userPicture 32}}" alt="">
        <span class="label">{{username}}</span>
      </a>
    </li>
    {{#if smallScreen}}
      <li>
        {{> 'icon_with_counter'
          name='exchanges'
          label='exchanges'
          icon='exchange'
          href='/transactions'
          title='title_exchanges_layout'
          counter=exchangesUpdates
        }}
      </li>
      <li>
        {{> 'icon_with_counter'
          name='notifications'
          label='notifications'
          icon='bell'
          href='/notifications'
          title='notifications'
          counter=notificationsUpdates
        }}
      </li>
    {{/if}}
    <li>{{iconLinkText name='cog' url='/settings' I18n='settings' linkClasses='showSettings'}}</li>
    <li>{{iconLinkText name='info-circle' url='/welcome' I18n='info' linkClasses='showInfo'}}</li>
    <li>{{iconLinkText name='comments' url='/feedback' I18n='feedback' linkClasses='showFeedbackMenu'}}</li>
    <li>{{iconLinkText name='sign-out' url='/logout' I18n='logout' linkClasses='logout'}}</li>
  </ul>
</div>
