<h1 class="respect-case"><a id="home" href="/">{{#if smallScreen}}inv{{else}}inventaire{{/if}}</a></h1>

<a href="#main" title="{{I18n 'skip to main content'}}"></a>

<div id="searchGroup" class="inputGroup">
  <form class="inputBox" role="search">
    <input id="searchField" name="search" placeholder="{{I18n 'search'}}" autocomplete="off" autocorrect="off" autocapitalize="off" type="search" aria-label="search" aria-autocomplete="list" aria-controls="liveSearch" >
    <a class="closeSearch hidden" tabindex="0" title="{{I18n 'close'}}">{{icon 'close'}}</a>
    <div id="liveSearch"></div>
    <div id="overlay" class="hidden"></div>
  </form>
</div>

{{> 'general:top_bar_language_picker' this}}

<div id="topBarButtons"></div>

{{#unless isLoggedIn}}
  <a class="connectionButton signupRequest one" href="/signup">{{I18n 'sign up'}}</a>
  <a class="connectionButton loginRequest two"  href="/login">{{I18n 'login'}}</a>
{{/unless}}
