<h1 class="respect-case"><a id="home" href="/">{{#if smallScreen}}inv{{else}}inventaire{{/if}}</a></h1>

{{!-- use force-hidden to override display: flex rule --}}
<div id="currentUser" class="force-hidden breadcrumb">
  {{icon 'chevron-right'}} <span id="currentUsername"></span>
</div>

<span class="push-right"></span>

<div id="searchGroup" class="inputGroup">
  <div class="inputBox">
    <input id="searchField" name="search" placeholder="{{I18n 'search'}}" autocomplete="off" autocorrect="off" autocapitalize="off" type="search">
    <div id="liveSearch"></div>
    <div id="overlay" class="hidden"></div>
  </div>
</div>

{{#unless smallScreen}}{{#if isLoggedIn}}
  <a id="mainUser" href="{{user.pathname}}">
    <img src="{{src user.picture 40}}">
    {{user.username}}
  </a>
{{/if}}{{/unless}}

{{partial 'general:top_bar_language_picker' this}}

{{#unless isLoggedIn}}
  <a class="connectionButton signupRequest one">{{I18n 'sign up'}}</a>
  <a class="connectionButton loginRequest two">{{I18n 'login'}}</a
{{/unless}}
