<button class="has-dropdown" id="language-picker" aria-expanded="false" aria-controls="languages-options">
  <span class="current-lang">{{currentLanguage}}</span>
  <span class="current-lang-short">{{currentLanguageShortName}}</span>
  {{icon 'caret-down'}}
  <div id="languages-options" class="dropdown dropdown-align-right">
    <ul class="options">
      {{#each languages}}
        <li class="option" tabindex="-1">
          <a tabindex="0" data-lang="{{lang}}" title="{{i18n 'switch_to_lang' language=native}} ({{i18n 'translation_completion' completion=completion}})">
            <span class="completion" style="width:{{completion}}%"></span>
            <span class="lang">{{native}}</span>
            <span class="completion-text">({{completion}}%)</span>
          </a>
        </li>
      {{/each}}
    </ul>
    {{iconLinkText name='pencil' url=translate I18n='help translate Inventaire' linkClasses='help-translate'}}
  </div>
</button>
