<h1 class="respect-case"><a id="home" href="/">{{#if smallScreen}}inv{{else}}inventaire{{/if}}</a></h1>

<div id="currentUser" class="hidden breadcrumb">
  {{icon 'chevron-right'}} <span id="currentUsername"></span>
</div>

<span class="push-right"></span>

{{input search}}

{{partial 'general:menu:top_bar_language_picker' this}}

<div id="notifications-menu" class="menu"></div>

{{#if isLoggedIn}}
  <a id="settings-menu" class="menu">{{icon 'cog'}}</a>
{{else}}
  <a class="connectionButton signupRequest one">{{I18n 'sign up'}}</a>
  <a class="connectionButton loginRequest two">{{I18n 'login'}}</a
{{/if}}
