<div id="topBar" class="sticky">

  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name flex-row-grid">
        <h1 id="topheader" class="capitalized"><a id="home">{{{Q 'Q815410' null 'Inventaire'}}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        {{!-- a and span required by Foundation for the menu icon --}}
        <a><span></span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      {{!-- Left Nav Section --}}
      <ul class="left">
        <li data-tooltip id="inventorySections" class="has-tip breadcrumb"
        title="{{i18n 'No other category yet'}}">
          <a>{{icon 'chevron-right'}} {{i18n 'Books'}}</a>
        </li>
        <li id="currentUser" class="hidden breadcrumb">
          <a>{{icon 'chevron-right'}} <span id="currentUsername"></span></a>
        </li>
      </ul>
      {{!-- Right Nav Section --}}
      <ul id="accountMenu" class="right"></ul>
    </section>
  </nav>
</div>