<div id="welcome-left" class="text-center">
  <h2>Inventaire</h2>
  <h3>
    {{i18n 'Keep a list of your things'}}<br>
    {{i18n 'Share it with others'}} <br>
    {{i18n 'See what resources are available in your network!'}}
  </h3>
  <ul id="loginButtons"></ul>
  <ul class="bonuses">
    <li>{{i18n 'Bonuses'}}</li>
    <li>{{icon 'cubes'}} {{i18n 'You own the data'}}</li>
    <li>{{icon 'gears'}} {{i18n 'Built on and in Open Source'}}</li>
    <li>{{icon 'puzzle-piece'}} {{i18n 'Built on and for Open Knowledge'}}</li>
  </ul>
  <div class="pusher"></div>
</div>
<div id="welcome-right"></div>