<div class="wiki-sitelinks">
  {{#if wikipedia}}
    <span class="wikipedia two-buttons">
      <a href="{{wikipedia.url}}" target="_blank">
      {{icon 'wikipedia'}} {{I18n 'see on Wikipedia'}}</a>
      <a href="{{wikipedia.url}}?veaction=edit" target="_blank">
      {{i18n 'edit'}}</a>
    </span>
  {{/if}}
  {{#if wikisource}}
    <span class="wikisource two-buttons">
      <a href="{{wikisource.url}}" target="_blank">
      {{icon 'wikisource'}} {{I18n 'read online'}}</a>
      {{#unless hideWikisourceEpub}}
        <a class="epub" href="{{wikisource.epub}}" target="_blank">
        {{icon 'download'}} {{i18n 'epub'}}</a>
      {{/unless}}
    </span>
  {{/if}}
  {{#if editable}}

    {{#if editable.wikidata}}{{#if canRefreshData}}
      {{!-- opening a span that will be closed in the next if block --}}
      <span class="wikidata two-buttons">
    {{/if}}{{/if}}

    <a class="wikidata" href="{{editable.wiki}}" target="_blank">
      {{#if editable.wikidata}}
        {{icon 'wikidata'}}
      {{else}}
        {{icon 'pencil'}}
      {{/if}}
      {{I18n "edit data"}}
    </a>

    {{#if editable.wikidata}}{{#if canRefreshData}}
        <a class="refreshData" title="{{i18n 'refresh_wikidata_data'}}">
        {{icon 'refresh'}} {{I18n "refresh data"}}</a>
      </span>
    {{/if}}{{/if}}
  {{/if}}
</div>