<ul class="wiki-sitelinks">
  {{#if wikidata}}
    <li><a {{!-- data-tooltip --}} class="button grey {{!-- has-tip --}}" href="http://www.wikidata.org/wiki/{{id}}" {{{partial 'external_link'}}}{{!--  title="{{i18n "Contribute on improving this object's data on wikidata.org"}}" --}}>{{icon 'wikidata'}} {{i18n "Edit data"}}</a></li>
  {{/if}}
  {{#if wikipedia}}
    <li><a {{!-- data-tooltip --}} class="button grey {{!-- has-tip --}}" href="{{wikipedia.url}}" {{{partial 'external_link'}}} {{!-- title="{{i18n 'Learn more'}}" --}}>{{icon 'wikipedia'}} {{i18n 'See on Wikipedia'}}</a></li>
  {{/if}}
  {{#if wikisource}}
    <li><a {{!-- data-tooltip --}} class="button grey {{!-- has-tip --}}" href="{{wikisource.url}}" {{{partial 'external_link'}}} {{!-- title="{{i18n 'Read online'}}" --}}>{{icon 'wikisource'}} {{i18n 'Read online'}}</a></li>
  {{/if}}
</ul>