<label for="nameField">{{I18n 'group name'}}</label>
<div class="inputContainer">
  <input id="nameField" class="groupNameField" type="text" placeholder="{{i18n 'ex: the secret club of Proustian experts'}}">
</div>

{{partial 'network:group_url'}}

<label for="description">{{i18n 'description'}}</label>
{{textarea description}}

{{partial 'network:searchability' searchability}}

{{partial 'network:group_position_setting'}}

<a id="createGroup" class="button light-blue bold radius" tabindex="0">
  {{icon 'plus'}} {{I18n 'create group'}}
</a>
