{{#if mainUserIsAdmin}}
  <section>
    <label for="editName">{{i18n 'name'}}</label>
    {{input editName 'check'}}
  </section>
  <hr>

  <section>
    <label for="editDescription">{{i18n 'description'}}</label>
    {{textarea editDescription 'check'}}
    <div class="saveCancel hidden">{{partial 'save_cancel'}}</div>
    <div class="check"></div>
  </section>
  <hr>

  <section>
    {{partial 'network:searchability' searchability}}
  </section>
  <hr>

  <section>
    {{partial 'general:behaviors:change_picture' this}}
  </section>
  <hr>

  <label>{{i18n 'geolocation'}}</label>
  <p class="position-status">
    {{#if hasPosition}}
      {{i18n "the group has a position set"}} {{icon 'check'}}<br>
      <span class="coordinates">{{position.lat}}, {{position.lng}}</span>
    {{else}}
      {{i18n "the group's position isn't set yet"}}
    {{/if}}
  </p>
  {{partial 'network:group_position_setting'}}
  <hr>
{{/if}}

<section id="groupControls">
  {{#if userCanLeave}}
    {{#if userIsLastUser}}
      <a class="destroy">
        {{icon 'trash'}} {{I18n 'destroy group'}}
    {{else}}
      <a class="leave">
        {{icon 'sign-out'}} {{I18n 'leave group'}}
    {{/if}}
    </a>
  {{else}}
    <span class="leave disabled" title="{{i18n "leave_button_disabled"}}">
      {{icon 'ban'}} {{i18n 'leave group'}}
    </span>
    <p class="reason">{{i18n "leave_button_disabled"}}</p>
  {{/if}}
</section>
