{{partial 'unselect'}}
<span class="name">{{name}}</span>
{{partial 'network:group_stats' this}}

{{#if requested}}
  <p class="requested">
    {{i18n 'you requested to join is waiting for approval'}}
  </p>
  <a class="cancelRequest">{{i18n 'cancel request'}}</a>
  <span class="check"></span>
{{/if}}
{{#if none}}
  <a class="joinRequest">{{i18n 'request to join group'}}</a>
  <span class="check"></span>
{{/if}}
