{{partial 'unselect'}}
<div
{{#if picture}}
  class="cover"
  style="background-image: url('{{src picture 280}}')"
{{/if}}
>
  <span class="name">{{name}}</span>
  {{partial 'network:group_stats' this}}
</div>

<div class="actions">
  {{#if status_invited}}
    <a class="accept">{{i18n 'accept invitation'}}</a>
    <a class="decline">{{i18n 'decline'}}</a>
  {{/if}}
  {{#if status_requested}}
    <div>
      <p class="requested">
        {{i18n 'you requested to join is waiting for approval'}}
      </p>
      <a class="cancelRequest">{{i18n 'cancel request'}}</a>
      <span class="check"></span>
    </div>
  {{/if}}
  {{#if status_none}}
    <a class="joinRequest">{{i18n 'request to join group'}}</a>
    <span class="check"></span>
  {{/if}}
</div>
