<div class="header">
  <a class="toggler">
    {{icon 'caret-right'}}
    {{#if picture}}
      <img class="groupPic" src="{{src picture 64}}">
    {{/if}}
    <span class="name">{{name}}</span>
  </a>
  <a href="{{pathname}}" class="showGroup">{{i18n "go to group's inventory"}}</a>
  <div class="right">
    {{#if invitor.username}}
      <p class="invitor">{{i18n 'group_invitor' invitor}}</p>
    {{/if}}
    <ul class="actions">
    {{#if mainUser_invited}}
      <li><a class="accept">{{i18n 'accept invitation'}}</a></li>
      <li><a class="decline">{{i18n 'decline'}}</a></li>
    {{/if}}
    {{#if mainUser_none}}
      <li>
        <a class="joinRequest">{{i18n 'request to join group'}}</a>
        <span class="check"></span>
      </li>
    {{/if}}
    </ul>
  </div>
</div>
<div class="body hidden">
  <section class="requests {{#unless mainUserIsAdmin}}hidden{{/unless}}">
    <h3 class="subheader">{{i18n 'requests waiting your approval'}}</h3>
    <div class="users"></div>
  </section>
  <section class="members">
    <h3 class="subheader">{{i18n 'members'}}</h3>
    {{partial 'network:group_stats' this}}
    <div class="users"></div>
  </section>
  <section class="invite {{#unless mainUser_member}}hidden{{/unless}}">
    <h3 class="subheader">{{i18n 'invite friends to join'}}</h3>
    <div class="users"></div>
  </section>
</div>
