<a href="{{pathname}}" class="cover-link showGroup">
  {{#if picture}}
    <div class="group-cover-picture" style="background-image: url('{{imgSrc picture 540}}')"></div>
  {{/if}}
  {{#if pictureFilterColor}}
    <div class="picture-color-filter" style="background-color: {{pictureFilterColor}}"></div>
  {{/if}}
  <span class="name">{{name}}</span>
</a>
{{#if searchable}}
  <span class="searchable" title="{{i18n 'this group appears in search results'}}">
    {{icon 'globe'}}
  </span>
{{else}}
  <span class="not-searchable" title="{{i18n 'only those who get the link or are invited can find this group'}}">
    {{icon 'lock'}}
  </span>
{{/if}}

<div class="bottom">
  {{#if invitor.username}}
    <span class="invitor">{{i18n 'group_invitor' invitor}}</span>
  {{/if}}
  {{partial 'network:group_actions' this}}
</div>

<a href="{{pathname}}" class="showGroup
  {{#if mainUserIsMember}}tiny-button light-blue{{else}}link{{/if}}"
>{{I18n "go to the group's inventory"}}</a>
