<section>
  <label for="editName">{{i18n 'edit group name'}}</label>
  {{input editName 'check'}}
</section>

<section>
  <label for="editDescription">{{i18n 'edit group description'}}</label>
  {{textarea editDescription 'check'}}
  <div class="saveCancel hidden">{{partial 'save_cancel'}}</div>
  <div class="check"></div>
</section>

<section>
  <label for="editCover">{{i18n 'edit group cover'}}</label>
  {{partial 'general:behaviors:change_picture' this}}
</section>
