<div class="iconButtons">
  {{partial 'unselect'}}
  <a class="showGroupBoard" href="{{settingsPathname}}">{{icon 'cog'}}</a>
</div>
<div
{{#if picture}}
  class="cover"
  style="background-image: url('{{src picture 280}}')"
{{/if}}
>
  <span class="name">{{name}}</span>
  {{partial 'network:group_stats' this}}
</div>

{{partial 'network:group_actions' this}}

{{#if description}}
  <p class="description">{{userContent description}}</p>
{{/if}}
