<a href="{{pathname}}" class="cover-link showGroup">
  <div
  {{#if picture}}
    class="cover"
    style="background-image: url('{{src picture 540}}')"
  {{/if}}
  >
    <span class="name">{{name}}</span>
    <span class="description">{{description}}</span>
    {{partial 'network:group_stats' this}}
  </div>
</a>
{{#if searchable}}
  <span class="searchable" title="{{i18n 'this group appears in search resuts'}}">
    {{icon 'globe'}}
  </span>
{{else}}
  <span class="not-searchable" title="{{i18n 'only those who get the link or are invited can find this group'}}">
    {{icon 'lock'}}
  </span>
{{/if}}
<a href="{{pathname}}" class="link showGroup">{{i18n 'go to the group inventory'}}</a>
<div class="bottom">
  {{#if invitor.username}}
    <span class="invitor">{{i18n 'group_invitor' invitor}}</span>
  {{/if}}
  {{partial 'network:group_actions' this}}
</div>
