<div class="header">
  <a href="{{pathname}}" class="showGroup">
    <div
    {{#if picture}}
      class="cover"
      style="background-image: url('{{src picture 540}}')"
    {{/if}}
    >
      <span class="link">{{i18n "go to group's inventory"}}</span>
      <span class="name">{{name}}</span>
      {{partial 'network:group_stats' this}}
    </div>
  </a>
  <div class="bottom">
    {{#if invitor.username}}
      <span class="invitor">{{i18n 'group_invitor' invitor}}</span>
    {{/if}}
    <ul class="actions">
    {{#if mainUser_invited}}
      <li><a class="accept">{{i18n 'accept invitation'}}</a></li>
      <li><a class="decline">{{i18n 'decline'}}</a></li>
    {{/if}}
    {{#if mainUser_none}}
      <li>
        <a class="joinRequest">{{i18n 'request to join group'}}</a>
        <span class="check"></span>
      </li>
    {{/if}}
    </ul>
  </div>
</div>
<div class="body">
  <section id="requests" {{#unless mainUserIsAdmin}}class="hidden"{{/unless}}>
    {{partial 'network:group_board_section' 'requests waiting your approval'}}
  </section>
  <section id="members">
    {{partial 'network:group_board_section' 'members'}}
  </section>
  <section id="invite" {{#unless mainUser_member}}class="hidden"{{/unless}}>
    {{partial 'network:group_board_section' 'invite friends'}}
  </section>
</div>
