<div class="actions">
  {{#if status_invited}}
    <a class="accept">{{I18n 'accept invitation'}}</a>
    <a class="decline">{{I18n 'decline'}}</a>
  {{/if}}
  {{#if status_requested}}
    <div>
      <p class="requested">
        {{I18n 'you requested to join is waiting for approval'}}
      </p>
      <a class="cancelRequest">{{I18n 'cancel request'}}</a>
      <span class="check"></span>
    </div>
  {{/if}}
  {{#if status_none}}
    <a class="joinRequest">{{I18n 'request to join the group'}}</a>
    <span class="check"></span>
  {{/if}}
</div>
{{#unless mainUserIsMember}}
  <p class="restrictions">
    {{icon 'globe'}} {{I18n "as you are not a member of the group, you can only see members' public books"}}
  </p>
{{/unless}}
