<h2>{{i18n 'invite friends'}}</h2>
<form>
  <label for="invitations">{{icon 'envelope'}}{{I18n 'by email address'}}</label>
  {{!-- wrapper required for to append an alert box --}}
  <div class="invitations">
    <textarea id="invitations" name="invitations" placeholder="{{i18n 'emails separated by a comma'}}">{{rawEmails}}</textarea>
  </div>
  <div class="message {{#if message}}has-message{{/if}}">
    <a id="addMessage">{{i18n 'add a personalized message'}}</a>
    <textarea id="message" name="message" placeholder="{{i18n 'personalized message'}}...">{{message}}</textarea>
  </div>
  <a id="sendInvitations" class="button success bold radius">{{i18n 'send invitations'}}
    {{partial 'general:behaviors:success_check' ''}}
  </a>
</form>
<div class="output">
  {{#each emailsInvited}}
    {{!-- emails are escaped during validation --}}
    <p class="email-sent">{{{i18n 'email_invitation_sent' 'email' this}}} {{icon 'check-circle'}}</p>
  {{/each}}
</div>
<div class="usersAlreadyThere hidden">
  <h3>{{i18n 'Look who was already there! Friend request sent'}}</h3>
  <div id="usersAlreadyThere"></div>
</div>