<div class="custom-tabs-titles">
  <a id="friendsTab">{{icon 'user'}}{{I18n 'friends'}}</a>
  <a id="groupsTab">{{icon 'group'}}{{I18n 'groups'}}</a>
</div>
<div class="custom-tabs-content">
  <section id="friendsContent">
    <h2 id="friendsRequestsHeader">{{i18n 'pending friends requests'}}</h2>
    <div id="friendsRequests"></div>

    <h2>{{i18n 'your friends'}}</h2>
    <div id="friendsList">
      <span class="loading"></span>
    </div>
  </section>

  <section id="groupsContent">
    <h2 id="groupsInvitationsHeader">{{i18n "invitations"}}</h2>
    <div id="groupsInvitations"></div>
    <h2>{{i18n 'your groups'}}</h2>
    <div id="groupsList">
      <span class="loading"></span>
    </div>

    <h2>{{i18n 'create a group'}}</h2>
    <div id="groupCreation"></div>
  </section>
</div>
