{{icon 'user'}}
<h2>{{i18n 'connect your inventory with friends'}}</h2>
<div id="friendsList"></div>

{{icon 'group'}}
<h2>{{i18n 'groups'}}</h2>
<h3>{{i18n 'your groups'}}</h3>
<div id="groupsList"></div>

<h3>{{i18n 'create a group'}}</h3>
<div id="groupCreation"></div>