<section class="level-1">
  <a id="usersTab" href="/network/users" class="tab {{#if users}}active{{/if}}">
    {{icon 'user'}}{{I18n 'users'}}
    <span class="counter">{{friendsRequestsCount}}</span>
  </a>
  <a id="groupsTab" href="/network/groups" class="tab {{#if groups}}active{{/if}}">
    {{icon 'group'}}{{I18n 'groups'}}
    <span class="counter">{{groupsRequestsCount}}</span>
  </a>
</section>
{{#if users}}
  <section class="users-level-2 level-2">
    {{partial 'network:network_sub_tabs' subTabsData}}
  </section>
{{/if}}
{{#if groups}}
  <section class="groups-level-2 level-2">
    {{partial 'network:network_sub_tabs' subTabsData}}
  </section>
{{/if}}
