<a id="friendsTab" class="tab">
  {{icon 'user'}}{{I18n 'friends'}}
  <span class="counter">{{friendsRequestsCount}}</span>
</a>
<a id="groupsTab" class="tab">
  {{icon 'group'}}{{I18n 'groups'}}
  <span class="counter">{{groupsRequestsCount}}</span>
</a>