<div id="confirmation" class="row">

<div class="small-12 large-6 large-offset-3 columns text-center">

  <h2 class="subheader">{{i18n 'Are you sure?'}}</h2>

  <p>{{{confirmationText}}}</p>
  {{#if warningText}}
    <p class="grey">{{icon 'warning'}}&nbsp;{{{warningText}}}</p>
  {{/if}}

  <a id="no" class="button grey">{{i18n 'No'}}</a>
  <a id="yes" class="button alert">{{i18n 'Yes'}}</a>

</div>

<div class="row">
  <div class="check large-1 small-12 centered right columns"></div>
</div>
