<div class="row">
  <div class="large-9 small-9 columns">
  <input type="{{field.type}}" id="{{field.id}}" class="{{field.classes}} has-alertbox enterClick" placeholder="{{field.placeholder}}..." {{special}}>
  </div>
  <div class="large-3 small-3 columns">
    <a id="{{button.id}}" class="button postfix {{button.classes}}">{{button.text}} <span class='loading'></span></a>
  </div>
</div>