<div id="{{id}}" class="row collapse">
  <div class="large-8 small-9 columns">
    <input type="{{field.type}}" id="{{field.id}}" class="{{field.classes}} has-alertbox enterClick" value="{{field.value}}" placeholder="{{field.placeholder}}..." {{special}}>
  </div>
  <div class="large-4 small-3 columns">
    <a id="{{button.id}}" class="button {{button.classes}}">{{{button.text}}} <span class='loading'></span></a>
  </div>
</div>