<div id='{{id}}' class="listHeader force-hidden">
  <h4 class="header">
    {{i18n label}}
  </h4>
  {{#if closeButton}}
    <a class="close hidden">{{icon 'times'}}</a>
  {{/if}}
  <div class="toggler hidden">
    <a class="listToggler">{{icon 'caret-down'}}</a>
    <a class="listToggler hidden">{{icon 'caret-up'}}</a>
  </div>
</div>