<ul id="publicList">
  <li class="nearby">
    <a id="nearby" href="/inventory/nearby" title="{{i18n 'title_map_layout'}}">
      {{icon 'map-marker'}} {{i18n 'nearby'}}
    </a>
  </li>
  <li class="last">
    <a id="last" href="/inventory/last" title="{{i18n 'title_last_items'}}">
      {{icon 'clock-o'}} {{i18n 'last added'}}
    </a>
  </li>
</ul>