<div id="one"></div>
<div id="two">
  <section id="groups">
    <div class="listHeader">
      <h4 class="header">{{i18n 'groups'}}</h4>
    </div>
    <div id="groupsList"></div>
  </section>
  <section id="friends">
    {{partial 'network:users_search_header'}}
    {{partial 'network:users_search'}}
  </section>
  {{partial 'network:users_search_input'}}
  <div id="memberSearch" class="bottomSearch hidden">
    <input id="memberField" type="text" placeholder="{{i18n 'filter group members'}}...">
  </div>
</div>