<div id="one"></div>
<div id="two">
  <section id="mainUser"></section>
  {{partial 'inventory/side_nav:list_header' public}}
  {{partial 'inventory/side_nav:public_list'}}

  {{partial 'inventory/side_nav:list_header' groups}}
  <div id="groupsList"></div>

  {{partial 'inventory/side_nav:list_header' users}}
  <div id="usersList"><span class="loading"></span></div>
  <div id="userSearch" class="bottomSearch">
    <input id="userField" type="text" placeholder="{{i18n 'find friends'}}...">
  </div>

  {{partial 'inventory/side_nav:list_header' members}}
  <div id="membersList"></div>
  <div id="memberSearch" class="bottomSearch hidden">
    <input id="memberField" type="text" placeholder="{{i18n 'filter group members'}}...">
  </div>

</div>