<div class="userProfile">
  {{#if loggedIn}}
    {{!-- unselecting would lead to /inventory and thus to a connexion page when not logged in --}}
    {{partial 'unselect'}}
  {{/if}}
  {{#if picture}}
    <div class="circle-pic" style="background-image: url({{src picture 150 150 true}})">
    </div>
    {{#if mainUser}}
      <a id="changePicture">
        {{icon 'camera'}}{{i18n 'change picture'}}
      </a>
    {{/if}}
  {{/if}}
  <h3 class="username">{{username}}</h3>
  {{partial 'inventory/side_nav:user_profile_bio' this}}
  {{#if inventoryLength}}
    <div class="stats">
      <span class="inventoryLength select serif">
        {{i18n 'books:'}}  {{inventoryLength}}
      </span>
    </div>
  {{/if}}
  <div class="userMenuWrapper">
    {{#unless mainUser}}
      {{#unless loggedIn}}
        <div class="local-fog">
          {{i18n 'you need to be connected to send a friend request'}}
        </div>
      {{/unless}}
      {{partial 'inventory/side_nav:user_menu' this}}
      {{#if commonGroups}}
        <div class="common-groups">
          <h4>{{i18n 'groups in common:'}}</h4>
          {{#each commonGroups}}
            <a class="showGroup" data-id="{{id}}" href="{{pathname}}">{{name}}</a>
          {{/each}}
        </div>
      {{/if}}
    {{/unless}}
  </div>
</div>