{{#if member}}
  <span class="member">{{i18n 'member'}}</span>
{{/if}}
{{#if invited}}
  <span class="invited">{{i18n 'invited'}}</span>
{{/if}}
{{#if requested}}
  <span class="requested">{{i18n 'requested'}}</span>
{{/if}}
{{#if none}}
  <a class="invite action">
    {{icon 'plus'}} {{i18n 'invite'}}
  </a>
  <span class="check"></span>
{{/if}}