<div class="userProfile">
  {{#if loggedIn}}
    {{!-- unselecting would lead to /inventory and thus to a connexion page when not logged in --}}
    {{partial 'unselect'}}
  {{/if}}
  {{#if picture}}
    <div class="circle-pic" style="background-image: url({{src picture 150 150 true}})">
    </div>
    {{#if mainUser}}
      <a id="changePicture">
        {{icon 'camera'}}{{i18n 'change picture'}}
      </a>
    {{/if}}
  {{/if}}
  <h3 class="username respect-case">{{username}}</h3>
  <div class="userMenuWrapper">
    {{#if loggedIn}}
      {{partial 'inventory/side_nav:user_menu' this}}
    {{else}}
      <p class="restricted">
        {{i18n 'you need to be connected to send a friend request'}}
      </p>
    {{/if}}
  </div>
  <ul class="data">
    <li class="custom bio-wrapper">
      {{partial 'inventory/side_nav:user_profile_bio' this}}
    </li>
    {{#if inventoryLength}}
      <li class="inventoryLength">
        <span>{{icon 'book'}}{{i18n 'books'}}</span>
        <span>{{inventoryLength}}</span>
      </li>
    {{/if}}
    <li class="distance">
      {{#if mainUser}}
        <span>{{icon 'map-marker'}}{{i18n 'position'}}</span>
        <a id="showPositionPicker">{{i18n 'edit'}}</a>
      {{else}}
        {{#if distance}}
        <span>{{icon 'map-marker'}}{{i18n 'distance from you'}}</span>
        <span>{{distance}} km</span>
        {{/if}}
      {{/if}}
    </li>
    {{#unless mainUser}}
      {{#if commonGroups}}
        <li class="common-groups">
          <span>{{icon 'group'}}{{i18n 'groups in common'}}</span>
          {{partial 'inventory/side_nav:user_group_link' commonGroups}}
        </li>
      {{/if}}
      {{#if visitedGroups}}
        <li class="visited-groups">
          <span>{{icon 'group'}}{{i18n 'groups you just visited that the user is part of'}}</span>
          {{partial 'inventory/side_nav:user_group_link' visitedGroups}}
        </li>
      {{/if}}
    {{/unless}}
  </ul>
</div>