<div class="userProfile">
  <a class="unselectUser">{{icon 'times'}}</a>
  {{#if picture}}
    <div class="circle-pic" style="background-image: url({{src picture 150 150 true}})">
      {{#if mainUser}}
       <a id="changePicture">
          {{icon 'camera'}}
          <span>{{i18n 'change picture'}}</span>
        </a>
      {{/if}}
    </div>
  {{/if}}
  <h3>{{username}}</h3>
  {{partial 'inventory/side_nav:user_profile_bio' this}}
  {{#if inventoryLength}}
    <span class="inventoryLength select serif">
      {{i18n 'Books:'}}  {{inventoryLength}}
    </span>
  {{/if}}
  {{partial 'inventory/side_nav:user_menu' this}}
</div>