<div class="userProfile">
  <a class="close">{{icon 'times'}}</a>
  {{#if picture}}
    <div class="circle-pic" style="background-image: url({{src picture 150 150 true}})"></div>
  {{/if}}
  <h3>{{username}}</h3>
  <p class="bio">{{bio}}</p>
  {{#if inventoryLength}}
    <span class="inventoryLength select serif">
      {{i18n 'Books:'}}  {{inventoryLength}}
    </span>
  {{/if}}
  <div class="userMenu">
    {{#if friends}} 
      <a class="light-grey friend" data-options="align:bottom" data-dropdown="{{username}}-menu">
        {{icon 'check'}}{{i18n 'friends'}}  {{icon 'chevron-down'}}</a>
        <ul id="{{username}}-menu" class="tiny f-dropdown" data-dropdown-content>
           <li>
              <a class="unfriend action">
                {{icon 'minus'}} {{i18n 'unfriend'}}
              </a>
            </li>
        </ul>
    {{/if}}
    {{#if userRequested}} 
      <a class="cancel action">
          {{icon 'ban'}} {{i18n 'cancel request'}}
      </a>
    {{/if}}
    {{#if otherRequested}} 
      <a class="accept action">
          {{icon 'check'}} {{i18n 'confirm'}}
      </a>
      <a class="discard action">
          {{icon 'minus'}} {{i18n 'delete request'}}
      </a>
    {{/if}}
    {{#if public}} 
      <a class="request action">
          {{icon 'plus'}} {{i18n 'add friend'}}
      </a>
    {{/if}}
</div>