<div class="row">
  <div class="small-12 large-6 large-offset-3 columns">

    <h2 class="subheader text-center">{{i18n 'Edit User'}}</h2>

    <h3 class="with-tip">{{i18n 'Username'}}</h3>
      {{tip 'username_tip' 'right'}}
      {{input usernamePicker 'check'}}

    <h3 class="with-tip capitalized">{{i18n 'Language' 'Q34770'}}</h3>
    {{partial 'user:language_picker' this 'check'}}

    <h3>{{i18n 'Profile Pic'}}</h3>
    {{partial 'general:behaviors:change_picture' this}}

    <div class="margin-top">
      <a id="dataExport" class="button default" >{{i18n 'Export your data'}}</a>
    </div>

  </div>

</div>