<div class="custom-cell">
  <h2 class="subheader">{{i18n 'forgot password?'}}</h2>
  <p class="note">{{i18n 'send an email to reset my password'}}</p>
  {{input emailPicker}}
    <div id="confirmationEmailSent" class="hidden successMessageBox">
      {{icon 'check'}}
      {{{i18n 'confirmation_password_reset_email_sent'}}}
    </div>
</div>
