<div class="custom-cell">
  <h2 class="subheader">{{i18n 'login with Persona'}}</h2>
  <p class="persona-sunset">
    {{{i18n 'persona_sunset'}}}
  </p>
  <a id="createPassword" class="button dark-grey radius bold">
    {{i18n 'create a password'}}
  </a>
  <br>
  <p class="help">
    {{icon 'life-ring'}}
    <a id="askForHelp">{{i18n 'ask for help'}}</a>
  </p>
</div>
