<div class="authMenu login">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'login'}}</h2>

    <div class="inputGroup">

      <label for="username">
        {{i18n 'username'}}<br>
        <span class="complement">({{i18n 'or email address'}})</span>
      </label>
      <div>
        <input type="text" id="username" class="enterClick radius">
      </div>

      {{partial 'user:password_input'}}

      <a id="classicLogin" class="button radius light-blue">
        {{i18n 'login'}}
        <span class="loading"></span>
      </a>
    </div>

    {{partial 'horizontal_separator' 'or login with'}}

    {{partial 'user:persona_button'}}

    <div class="otherOptions">
      <a id="createAccount" class="link">{{i18n 'create an account'}}</a>
      <a id="forgotPassword" class="link">{{i18n 'forgot your password?'}}</a>
    </div>
  </div>
</div>