<div class="login">
  <h2 class="subheader">{{i18n 'Login'}}</h2>
  <p>{{i18n 'If you already have an account'}}:</p>
  {{partial 'user:persona_button'}}
  <p>
    {{i18n 'else'}}
    <a id="createAccount" class="grey">
    <strong>{{i18n 'create an account'}}</strong></a>
  </p>
</div>