<div class="authMenu">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'login'}}</h2>
    <p class="capitalized">{{i18n 'if you already have an account'}}:</p>
    {{partial 'user:persona_button'}}
    <p>
      {{i18n 'else'}}
      <a id="createAccount" class="grey">
      <strong>{{i18n 'create an account'}}</strong></a>
    </p>
  </div>
</div>