<div class="custom-cell">
  <h2 class="subheader">{{i18n 'login'}}</h2>
  <form {{> 'user:browser_login_form_attributes' this}}>
    <label for="username">
      <span class="main">{{i18n 'username'}}</span>
      <span class="complement">({{i18n 'or email address'}})</span>
    </label>
    <div class="inputBox">
      <input type="text" id="username" name="username" class="enterClick radius">
    </div>

    {{> 'user:password_input' this}}

    <button id="login" class="button light-blue">
      {{i18n 'login'}}
      <span class="loading"></span>
    </button>
  </form>

  <hr>

  <div class="otherOptions">
    <a id="createAccount" href="/signup">{{I18n 'create an account'}}</a>
    <a id="forgotPassword" class="link" href="/login/forgot-password">{{I18n 'forgot your password?'}}</a>
  </div>
</div>
