<div id="persona">
  <h3 class="subheader">{{i18n 'alternative'}}</h2>
  <div class="inputGroup">
    <label for="personaUsername">{{i18n 'username'}}</label>
    <div>
      <input type="text" id="personaUsername" class="enterClick radius" {{disableAuto}}>
    </div>
    {{!-- <p>{{i18n 'persona_tip_email'}}</p> --}}
    {{!-- <p>{{i18n 'persona_tip_password'}}</p> --}}
    <div>
      <a id="personaSignup" class="button radius dark-grey">{{i18n 'sign up with persona'}}</a>
      {{!-- <p id="personaPopup" class="hidden"> --}}
        {{!-- {{i18n 'a popup should now open to let you verify your credentials'}} --}}
        {{!-- {{i18n 'persona_popup_signup'}} --}}
      {{!-- </p> --}}
      <div class="loading"></div>
    </div>
  </div>
</div>