<div class="custom-cell resetPassword">
  <h2 class="subheader">{{i18n 'reset password'}}</h2>
  <form {{partial 'user:browser_login_form_attributes' this}}>
    <input type="text" name="username" value="{{username}}">
    {{partial 'user:password_input' this 'check'}}
      <a id="updatePassword" class="button success radius">
        {{i18n 'update password'}}
      </a>
  </form>
  <div>
    <a id="forgotPassword" class="link">{{i18n 'request_new_token'}}</a>
  </div>
</div>
