{{#if standalone}}
<div class="authMenu signup">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'sign up with Persona'}}</h2>

    <div id="signupModes">
      <div>
        <div id="persona">
{{/if}}
          <div class="inputGroup">
            <label for="personaUsername">{{i18n 'username'}}</label>
            <div>
              <input type="text" id="personaUsername" class="enterClick radius" {{disableAuto}}>
            </div>
            {{!-- <p>{{i18n 'persona_tip_email'}}</p> --}}
            {{!-- <p>{{i18n 'persona_tip_password'}}</p> --}}
            <div>
              <a id="personaSignup" class="button radius dark-grey">{{i18n 'sign up with Persona'}}</a>
              {{!-- <p id="personaPopup" class="hidden"> --}}
                {{!-- {{i18n 'a popup should now open to let you verify your credentials'}} --}}
                {{!-- {{i18n 'persona_popup_signup'}} --}}
              {{!-- </p> --}}
              <div class="loading"></div>
            </div>
          </div>

{{#if standalone}}
        </div>
      </div>

    </div>

  </div>
</div>
{{/if}}
