<form class="custom-cell" {{> 'user:browser_login_form_attributes' this}}>
  <h2 class="subheader">{{i18n 'sign up'}}</h2>

  <label for="username">{{i18n 'username'}}</label>
  <div class="inputBox">
    <input type="text" name="username" id="username" class="enterClick">
  </div>

  <label for="email">{{i18n 'email'}}</label>
  <div class="inputBox">
    <input type="text" name="email" id="email" class="enterClick" {{disableAuto}}>
  </div>

  {{> 'user:password_input' this}}

  <button id="signup" class="button">
    {{i18n 'sign up'}}
    <span class="loading"></span>
  </button>

  <hr>

  <div class="otherOptions">
    <a id="login" href="/login">{{I18n 'login'}}</a>
  </div>
</form>
