<div class="authMenu">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'sign up'}}</h2>
    <div>
      <h3 class="with-tip">{{i18n 'Step 2: associate your account with an email'}}{{tip 'persona_tip' 'right'}}</h3>
    </div>
    <div>
      {{partial 'user:persona_button'}}
    </div>
    {{partial 'back' this}}
  </div>
</div>