<div class="row">
  <div class="small-12 large-5 large-offset-4 columns pitch-bg">
    <h2 class="subheader">{{i18n 'sign up'}}</h2>
    <div>
      <h3 class="with-tip">{{i18n 'Step 2: associate your account with an email'}}</h3>
      {{!-- {{tip 'persona_tip' 'right'}} --}}
    </div>
    <div>
      {{partial 'user:persona_button'}}
    </div>
    <p>{{i18n 'persona_tip'}}</p>
    {{partial 'back' this}}
  </div>
</div>