<form class="custom-cell">
  <h2 class="subheader">{{i18n 'sign up'}}</h2>

  <label for="classicUsername">{{i18n 'username'}}</label>
  <div class="inputGroup">
    <input type="text" name="username" id="classicUsername" class="enterClick radius">
  </div>

  <label for="email">{{i18n 'email'}}</label>
  <div class="inputGroup">
    <input type="text" name="email" id="email" class="enterClick radius" {{disableAuto}}>
  </div>
  <div id="suggestionGroup" class="hidden">
    <span class="legend">{{i18n 'did you mean:'}}</span>
    <a id="suggestion"></a>
  </div>

  {{partial 'user:password_input' this}}

  <a id="classicSignup" class="button radius light-blue" tabindex="0">
    {{i18n 'sign up'}}
    <span class="loading"></span>
  </a>
</form>
