<form class="custom-cell">
  <h2 class="subheader">{{i18n 'sign up'}}</h2>

  <label for="classicUsername">{{i18n 'username'}}</label>
  <div class="inputBox">
    <input type="text" name="username" id="classicUsername" class="enterClick">
  </div>

  <label for="email">{{i18n 'email'}}</label>
  <div class="inputBox">
    <input type="text" name="email" id="email" class="enterClick" {{disableAuto}}>
  </div>

  {{partial 'user:password_input' this}}

  <a id="classicSignup" class="button" tabindex="0">
    {{i18n 'sign up'}}
    <span class="loading"></span>
  </a>
</form>
