<div class="authMenu">
  <div class="custom-cell">
    <h2 class="subheader">{{welcome_username}}</h2>
    <div>
      <h3>{{i18n 'Step 2: associate your account with an email'}}</h3>
    </div>
    <div>
      {{partial 'user:persona_button'}}
    </div>
    {{partial 'back' this}}
  </div>
  <div class="custom-cell">
    <p class="bold">{{i18n 'persona_tip_intro'}}</p>
    <p>
      {{i18n 'persona_tip_1'}} <br>
      {{i18n 'persona_tip_2'}} <br>
      {{i18n 'persona_tip_3'}} <br>
      {{{i18n 'persona_tip_last'}}}
    </p>
  </div>
</div>