<div class="authMenu signup">
  <div class="custom-cell">
    <h2 class="subheader">{{i18n 'sign up'}}</h2>
    <div id="signupModes">
      {{partial 'user:classic_signup'}}

      {{#if smallscreen}}
        {{partial 'horizontal_separator' 'or'}}
      {{else}}
        {{partial 'vertical_separator' 'or'}}
      {{/if}}

      {{partial 'user:persona_signup'}}
    </div>
  </div>
</div>
