{{#if validEmail}}
  <div class="valid">
    <p>
      {{icon 'check'}}
      {{I18n 'email_confirmation_success'}}
    </p>
    {{#if loggedIn}}
      <a href="{{inventoryPath}}" class="button dark-grey radius showHome">
        {{I18n 'back to your inventory'}}
      </a>
    {{else}}
      <a href="/login" class="button dark-grey radius showLogin">
        {{I18n 'login to your inventory'}}
      </a>
    {{/if}}
  </div>
{{else}}
  <div class="invalid">
    <p>
      {{icon 'bolt'}}
      {{I18n 'email_confirmation_error'}}
    </p>
    {{#if loggedIn}}
      <a id="emailConfirmationRequest" class="button dark-grey radius">
        {{I18n 'email_confirmation_error_button'}}
      </a>
    {{else}}
      <p class="offline">
        {{I18n 'email_confirmation_offline_error'}}
      </p>
      <a href="/login?redirect=settings/profile" class="button dark-grey radius showLoginRedirectSettings">
        {{I18n 'login'}}
      </a>
    {{/if}}
  </div>
  <div class="loading check"></div>
{{/if}}