<div class="searchSettingsTogglerWrapper">
  <button class="searchSettingsToggler">
    {{icon 'chevron-up'}}
    <span class="label">{{I18n 'search settings'}}</span>
  </button>
</div>

<div class="sections">
  <div class="entitySections">
    {{#each sections.entity}}
      <a data-category="entity" data-name="{{@key}}" class="searchSection {{#if selected}}selected{{/if}} {{#if included}}included{{/if}}">
        {{I18n label}}
      </a>
    {{/each}}
  </div>
  <div class="socialSections">
    {{#each sections.social}}
      <a data-category="social" data-name="{{@key}}" class="searchSection {{#if selected}}selected{{/if}} {{#if included}}included{{/if}}">
        {{I18n label}}
      </a>
    {{/each}}
  </div>
</div>

<div class="resultsWrapper">
  <ul class="results"></ul>
  <div class="loaderWrapper"></div>
</div>

<div class="alternatives">
  <span class="label">{{i18n "Can't find what you are searching?"}}</span>
  <div class="propositions">
    <a class="createEntity">{{icon 'plus'}}{{I18n 'create'}}</a>
  </div>
</div>

<ul class="shortcuts">
  <li>
    <div class="key"><span class="symbol">↓</span>{{I18n 'down'}}</div>
    {{I18n 'next result'}}
  </li>
  <li>
    <div class="key"><span class="symbol">↑</span>{{I18n 'up'}}</div>
    {{I18n 'previous result'}}
  </li>
  <li>
    <div class="key"><span class="symbol">↩</span>{{I18n 'enter'}}</div>
    {{I18n "go to result's page"}}
  </li>
  <li>
    <div class="key"><span class="symbol">⇟</span>{{i18n 'PgDn'}}</div>
    {{I18n 'next category'}}
  </li>
  <li>
    <div class="key"><span class="symbol">⇞</span>{{i18n 'PgUp'}}</div>
    {{I18n 'previous category'}}
  </li>
</ul>
