<ul class="results"></ul>

<div class="filters">
  {{partial 'search:filter' name='all' label='all' selected='true'}}
  {{partial 'search:filter' name='book' label='book'}}
  {{partial 'search:filter' name='author' label='author'}}
  {{partial 'search:filter' name='serie' label='series_singular'}}
  {{partial 'search:filter' name='user' label='user'}}
  {{partial 'search:filter' name='group' label='group'}}
</div>
