<ul class="results"></ul>

<div class="filters">
  {{partial 'search:filter' name='all' label='all' selected='true'}}
  {{partial 'search:filter' name='book' label='book'}}
  {{partial 'search:filter' name='author' label='author'}}
  {{partial 'search:filter' name='serie' label='series_singular'}}
  {{partial 'search:filter' name='user' label='user'}}
  {{partial 'search:filter' name='group' label='group'}}
  {{partial 'search:filter' name='subject' label='subject'}}
</div>

<div class="alternatives">
  <span class="label">{{i18n "Can't find what you are searching?"}}</span>
  <div class="propositions">
    <a class="deepSearch">{{icon 'search'}}{{I18n 'search deeper'}}</a>
    <a class="createEntity">{{icon 'plus'}}{{I18n 'create'}}</a>
  </div>
</div>

<ul class="shortcuts">
  <li>
    <div class="key"><span class="symbol">↓</span>{{I18n 'down'}}</div>
    {{I18n 'next result'}}
  </li>
  <li>
    <div class="key"><span class="symbol">↑</span>{{I18n 'up'}}</div>
    {{I18n 'previous result'}}
  </li>
  <li>
    <div class="key"><span class="symbol">↩</span>{{I18n 'enter'}}</div>
    {{I18n "go to result's page"}}
  </li>
  <li>
    <div class="key"><span class="symbol">⇟</span>{{i18n 'PgDn'}}</div>
    {{I18n 'next category'}}
  </li>
  <li>
    <div class="key"><span class="symbol">⇞</span>{{i18n 'PgUp'}}</div>
    {{I18n 'previous category'}}
  </li>
</ul>
