<a href="{{pathname}}">
  <div class="image" {{#if image}}style="background-image: url({{src image 90}})"{{/if}}></div>
  <span class="type">{{type}}</span>
  <span class="label">{{label}}</span>
  <span class="description">{{description}}</span>
</a>
