<a href="{{pathname}}">
  {{#if image}}
    <img src="{{src image 32}}" class="image">
  {{else}}
    <span class="image"></span>
  {{/if}}
  <span class="type">{{type}}</span>
  <span class="label">{{label}}</span>
  <span class="description">{{description}}</span>
  {{!-- <span class="uri">{{uri}}</span> --}}
</a>
