{{#if user}}
  <h3>{{i18n 'contributions_by' user}}</h3>
  <ul class="stats">
    <li>
      <span class="stat-label">id:</span>
      <span class="stat-value">{{user._id}}</span>
    </li>
    {{#unless user.special}}
      <li>
        <span class="stat-label">{{i18n 'profile'}}:</span>
        <a class="link showUser" href="{{user.pathname}}">{{user.username}}</a>
      </li>
      <li>
        <span class="stat-label">{{i18n 'created:'}}</span>
        <p class="stat-value">
          <span class="time-from-now">{{timeFromNow user.created}}</span>
          <span class="precise-time">{{localTimeString user.created}}</span>
        </p>
      </li>
    {{/unless}}
    {{#if user.roles}}
      <li>
        <span class="stat-label">{{i18n 'roles'}}:</span>
        <span class="stat-value">{{user.roles}}</span>
      </li>
    {{/if}}
    <li>
      <span class="stat-label">{{i18n 'total contributions:'}}</span>
      <span class="stat-value totalContributions"></span>
    </li>
  </ul>
{{else}}
  <h3>{{i18n 'recent changes'}}</h3>
{{/if}}
<ul class="contributions"></ul>
<a class="fetchMore">
  {{icon 'chevron-down'}}{{i18n 'display more'}}
  <span class="remaining counter"></span>
</a>
