<h3>
  {{#if user}}
    {{I18n 'contributions_by' user}}
  {{else}}
    {{I18n 'recent changes'}}
  {{/if}}
  {{#if filter}}
    <span class="filter">
      {{filter}}
      <button class="removeFilter" title="{{I18n 'remove filter'}}">&#215;</button>
    </span>
  {{/if}}
</h3>
<ul class="stats">
  {{#if user}}
    <li>
      <span class="stat-label">id</span>
      <span class="stat-value">{{user._id}}</span>
    </li>
    {{#unless user.special}}
      <li>
        <span class="stat-label">{{i18n 'profile'}}</span>
        <a class="link showUser" href="{{user.pathname}}">{{user.username}}</a>
      </li>
      <li>
        {{#if user.deleted}}
          <span class="stat-label deleted">{{i18n 'deleted'}}</span>
        {{else}}
          <span class="stat-label">{{i18n 'created'}}</span>
          <p class="stat-value">
            <span class="time-from-now">{{timeFromNow user.created}}</span>
            <span class="precise-time">{{localTimeString user.created}}</span>
          </p>
        {{/if}}
      </li>
    {{/unless}}
    {{#if user.roles}}
      <li>
        <span class="stat-label">{{i18n 'roles'}}:</span>
        <span class="stat-value">{{user.roles}}</span>
      </li>
    {{/if}}
  {{/if}}
  <li>
    <span class="stat-label">{{i18n 'total'}}</span>
    <span class="stat-value total"></span>
  </li>
</ul>
<ul class="contributionsList"></ul>
<div class="fetchMore"></div>
<div class="loading"></div>
