<div class="header">
  <div class="handle">
    <div class="togglers">
      <span>{{icon 'caret-right'}}</span>
      <span class="hidden">{{icon 'caret-down'}}</span>
    </div>
    <span class="operation-type {{patchType}}">{{patchType}}</span>
  </div>
  {{#if entity}}
    <div class="entity">
      <a class="label showEntity link" href="{{entity.pathname}}">{{entity.label}}</a>
      <p class="meta">
        <span class="type">{{entity.type}}</span>
        <span class="patch-id">{{_id}}</span>
        {{iconLink 'pencil' entity.edit linkClasses="link showEntityEdit" I18n="edit data"}}
        {{iconLink 'history' entity.history linkClasses="link showEntityHistory" I18n="show entity history"}}
      </p>
    </div>
  {{/if}}
  <div class="summary">
    {{#with summary}}
      <div class="property">
        <p class="property-label">{{propertyLabel}}</p>
        <p class="property-uri">{{property}}</p>
      </div>
      <div class="changes">
        {{#if removed}}<p class="removed">{{removed}}</p>{{/if}}
        {{#if added}}<p class="added">{{added}}</p>{{/if}}
      </div>
    {{/with}}
  </div>
  {{#if showUser}}
    <a class="user showUserContributions" href="{{user.contributions}}">
      <img src="{{imgSrc user.picture 32}}" alt="{{user.username}}">
      <p class="username">{{user.username}}</p>
    </a>
  {{/if}}
  <p class="time" title="{{timeFromNow timestamp}}">{{localTimeString timestamp}}</p>
</div>
<div class="fullDetails hidden">
  <ul class="stats">
    <li>
      <span class="stat-label">{{i18n 'user'}}</span>
      <span class="stat-value">{{user._id}}</span>
    </li>
    <li>
      <span class="stat-label">{{i18n 'time'}}</span>
      <span class="stat-value">{{ISOTime timestamp}}</span>
    </li>
  </ul>
  <div class="operations">
    {{> 'entities:editor:patch_operations' operations}}
  </div>
</div>
