<div class="noUser">
  <p class="message">
    {{i18n message}}
  </p>
  {{#if link}}
    <div class="suggestion">
      <a href="{{link.href}}" class="linkAction button light-blue bold radius">
        {{i18n link.text}}
      </a>
    </div>
  {{/if}}
</div>

<p class="white findFriends hidden">
  {{i18n "find friends to share your inventory with!"}} {{icon 'arrow-down'}}
</p>
