<div class="selectUser">
  <img src="{{picture}}">
  <span class="username">{{username}}</span>
</div>
<div>
    <a id="accept" class="button success">
        {{icon 'check'}} {{i18n 'Confirm'}}
    </a>
    <a id="discard" class="button grey">
        {{icon 'minus'}} {{i18n 'Delete request'}}
    </a>
</div>