<div class="selectUser">
  <img src="{{src picture 64}}">
  <span class="username">{{username}}</span>
</div>
<div>
    <a id="accept" class="button success">
        {{icon 'check'}} {{i18n 'confirm'}}
    </a>
    <a id="discard" class="button grey">
        {{icon 'minus'}} {{i18n 'delete request'}}
    </a>
</div>