<div class="selectUser">
  <img src="{{src picture 64}}">
  <span class="username">{{username}}</span>
</div>
<div class="actions">
    <a id="accept">
        {{icon 'check'}} {{i18n 'confirm'}}
    </a>
    <a id="discard">
        {{icon 'minus'}} {{i18n 'decline'}}
    </a>
</div>