<div class="left-box">
  <a class="select" href="{{pathname}}">
    <img class="profilePic" src="{{src picture 64}}">
  </a>
</div>
<div class="right-box">
  <a class="select" href="{{pathname}}">
    <span class="username serif">{{username}}</span>
  </a>
  {{#unless groupContext}}
    {{#if inventoryLength}}
      <a class="inventoryLength select serif">{{inventoryLength}}</a>
    {{/if}}
  {{/unless}}
  {{partial 'inventory/side_nav:user_menu' this}}
</div>