<div class="left">
  {{#if suggestion.image.url}}
    <img src="{{imgSrc suggestion.image.url 100}}" alt="{{label}}">
  {{/if}}
</div>
<div class="right">
  <div class="relative-suggestion">
    {{#with suggestion}}
      <strong>{{label}}</strong>
      {{partial 'entities:birth_death_dates' claims}}
      <p class="description">{{description}}</p>
      <p class="uri">{{uri}}</p>
    {{/with}}
  </div>
  {{partial 'tasks:task_scores' this}}
</div>