<ul class="task-scores">
  <li>
    <strong>{{i18n 'global match score'}}:</strong>
    {{globalScore}}
  </li>
  <li>
    <strong>{{i18n 'sources'}}:</strong>
    <span class="sources-count count-{{sourcesCount}}">{{sourcesCount}}</span>
    {{#if showSourcesLinks}}
      <ul class="sources-links">
        {{#each sources}}
          <li>{{link text=url url=url title=sourceTitle classes='link'}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
  <li><strong>{{i18n 'lexical score'}}:</strong> {{lexicalScore}}</li>
</ul>
