<ul class="task-feedback-info">
  <li>
    <strong>{{i18n 'reporter'}}: </strong>
    <a href="/u/{{reporter}}/contributions" class="link">{{reporter}}</a>

  </li>
  <li>
    <strong>{{i18n 'clue'}}: </strong>
    <a href="/entity/isbn:{{clue}}" class="link">{{clue}}</a>
  </li>
</ul>
