<h2 class="layout-title">{{I18n 'account'}}</h2>

<section>
  <h3>{{i18n 'language'}}</h3>
  {{partial 'user:language_picker' this 'check'}}
</section>

<section>
  <h3>{{i18n 'email'}}</h3>
  <p class="note">{{I18n 'email will not be publicly displayed.'}}</p>
  {{input emailPicker}}

  <div id="confirmationEmailSent" class="hidden successMessageBox">
    {{icon 'check'}}
    {{{I18n 'new_confirmation_email'}}}
  </div>

  {{#unless validEmail}}
    <div id="notValidEmail" class="alertMessageBox">
      <span class="alert">
        {{icon 'warning'}}
        {{{i18n 'email_wasnt_verified'}}}
      </span>
      <a id="emailConfirmationRequest" class="button dark-grey radius">
        {{I18n 'email_confirmation_error_button'}}
      </a>
    </div>
  {{/unless}}
</section>

<section>
  {{partial 'settings:password_update_input' this 'check'}}
</section>

<section>
  <h3 class="danger-zone">{{i18n 'danger zone'}}</h3>

  <div class="deleteAccount">
    <a id="deleteAccount" class="dangerous-button">{{I18n 'delete your account'}}</a>
  </div>
</section>
