<h2 class="layout-title">{{I18n 'display_name'}}</h2>

<section class="entities">
  <label for="entitiesDisplay">{{I18n 'entities lists'}}: {{i18n 'works'}}</label>
  <select id="entitiesDisplay">
    <option value="large" {{#if entitiesLargeList}}selected{{/if}}>{{I18n 'large'}}</option>
    <option value="compact" {{#if entitiesCompactList}}selected{{/if}}>{{I18n 'compact'}}</option>
  </select>
</section>

<section class="inventory">
  <label for="inventoryDisplay">{{i18n 'inventory lists'}}</label>
  <select id="inventoryDisplay">
    <option value="cascade" {{#if inventoryCascade}}selected{{/if}}>{{I18n 'cascade'}}</option>
    <option value="table" {{#if inventoryTable}}selected{{/if}}>{{I18n 'table'}}</option>
  </select>
</section>
