<div class="global">
  <h3 class="first">{{i18n 'global'}}</h3>
  {{partial 'settings:notification_setting' global}}
  <p class="warning {{#if showWarning}}shown{{/if}}">
    {{icon 'warning'}} {{i18n warning}}
  </p>
</div>

<div class="rest">
  <div class="local-fog {{#if showWarning}}shown{{/if}}"></div>
  <div class="friends">
    <h3>{{i18n 'friends'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'settings:notification_setting' friendship_request}}
    {{partial 'settings:notification_setting' friend_accepted_request}}
  </div>

  <div class="groups">
    <h3>{{i18n 'groups'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'settings:notification_setting' group_invite}}
    {{partial 'settings:notification_setting' group_acceptRequest}}
  </div>

  <div class="exchanges">
    <h3>{{i18n 'exchanges'}}</h3>
    {{partial 'settings:email_me_when'}}
    {{partial 'settings:notification_setting' your_item_was_requested}}
    {{partial 'settings:notification_setting' update_on_your_item}}
    {{partial 'settings:notification_setting' update_on_item_you_requested}}
  </div>

  <div class="news">
    <h3>{{i18n 'news'}}</h3>
    {{partial 'settings:notification_setting' newsletters}}
    {{partial 'settings:notification_setting' inventories_activity_summary}}
  </div>
</div>