<h3>{{i18n 'password'}}</h3>
<form id="passwordUpdater">

  <span class="note">{{i18n 'current password'}}</span>
  <div class="passwordGroup">
    <input type="password" id="currentPassword" class="password enterClick radius-left" {{disableAuto}}>
    <a class="showPassword" class="radius-right">
      <span class="displayed">{{i18n 'show'}}</span>
      <span class="substitute">{{i18n 'hide'}}</span>
    </a>
  </div>
  <div>
    <div id="currentPasswordAlert"></div>
  </div>
  <div class="forgotPassword">
    <a id="forgotPassword" class="link">{{i18n 'forgot your password?'}}</a>
  </div>

  <span class="note">{{i18n 'new password'}}</span>
  <div class="passwordGroup">
    <input type="password" id="newPassword" class="password enterClick radius-left" {{disableAuto}}>
    <a class="showPassword" class="radius-right">
      <span class="displayed">{{i18n 'show'}}</span>
      <span class="substitute">{{i18n 'hide'}}</span>
    </a>
  </div>
  <div>
    <div id="newPasswordAlert"></div>
  </div>

  <a id="updatePassword" class="button grey postfix">
    {{i18n 'change password'}}
    <span class="loading"></span>
  </a>
</form>