<section>
  <h3 class="with-tip">{{i18n 'username'}}</h3>
  <p class="note">{{I18n 'username_tip'}}</p>
  {{input usernamePicker}}
</section>

<section>
  <h3 class="with-tip">{{i18n 'presentation'}}</h3>
  <p class="note">{{I18n 'a few words on you?'}}</p>
  <div class="bio-wrapper checkWrapper ctrlEnterClickWrapper">
    <textarea name="bio" id="bio" class="ctrlEnterClick">{{bio}}</textarea>
    <div class="bioLimit"></div>
    <button id="saveBio" class="save light-blue-button">{{I18n 'save presentation'}}</button>
    <span class="check"></span>
  </div>
</section>

<section>
  <h3 class="first">{{i18n 'profile pic'}}</h3>
  {{partial 'general:behaviors:change_picture' this}}
</section>

<section class="geolocation">
  <h3>{{i18n 'geolocation'}}</h3>
  <p class="position-status">
    {{#if hasPosition}}
      {{i18n "you have a position set"}}<br>
      <span class="coordinates">{{position.lat}}, {{position.lng}}</span>
    {{else}}
      {{i18n "your position isn't set yet"}}
    {{/if}}
  </p>
  {{partial 'map:position_picker_button'}}
</section>

{{iconLinkText name='check' url=userPathname linkClasses="done success-button" I18n='done'}}
