<h3 class="first">{{i18n 'profile pic'}}</h3>
{{partial 'general:behaviors:change_picture' this}}

<hr>
<h3 class="with-tip">{{i18n 'username'}}</h3>
<p class="note">{{I18n 'username_tip'}}</p>
{{input usernamePicker}}

<hr>

<h3 class="with-tip">{{i18n 'presentation'}}</h3>
<p class="note">{{I18n 'a few words on you?'}}</p>
<div class="bio-wrapper checkWrapper ctrlEnterClickWrapper">
  <textarea name="bio" id="bio" class="ctrlEnterClick">{{bio}}</textarea>
  <button id="saveBio" class="save tiny-success-button">{{icon 'check'}}{{I18n 'save'}}</button>
  <span class="check"></span>
</div>

<hr>
<h3>{{i18n 'geolocation'}}</h3>
<p class="position-status">
  {{#if hasPosition}}
    {{i18n "you have a position set"}}<br>
    <span class="coordinates">{{position.lat}}, {{position.lng}}</span>
  {{else}}
    {{i18n "your position isn't set yet"}}
  {{/if}}
</p>
{{partial 'map:position_picker_button'}}

