<label class="with-tip capitalized">{{i18n 'username'}}</label>
{{tip 'username_tip' 'right'}}
{{input usernamePicker}}

{{#if localCreationStrategy}}
  <label>{{i18n 'email'}}</label>

  <p class="note">
    {{i18n 'email will not be publicly displayed.'}}
  </p>
  {{input emailPicker}}

  {{#unless validEmail}}
    <div id="notValidEmail" class="alertMessageBox">
      <span class="alert">
          {{icon 'warning'}}
          {{{i18n 'email_wasnt_verified'}}}
      </span>
      <a id="emailConfirmationRequest" class="button dark-grey radius">
        {{i18n 'email_confirmation_error_button'}}
      </a>
    </div>
  {{/unless}}

  <div id="confirmationEmailSent" class="hidden successMessageBox">
    {{icon 'check'}}
    {{{i18n 'new_confirmation_email'}}}
  </div>

  {{partial 'settings:password_update_input' this 'check'}}

{{/if}}


<label>{{i18n 'language'}}</label>
{{partial 'user:language_picker' this 'check'}}


<label>{{i18n 'profile pic'}}</label>
{{partial 'general:behaviors:change_picture' this}}