<label class="with-tip capitalized">{{i18n 'username'}}</label>
{{tip 'username_tip' 'right'}}
{{input usernamePicker}}

<label>{{i18n 'language'}}</label>
{{partial 'user:language_picker' this 'check'}}


<label>{{i18n 'profile pic'}}</label>
{{partial 'general:behaviors:change_picture' this}}