<h3 class="with-tip capitalized">{{i18n 'username'}}</h3>
{{tip 'username_tip' 'right'}}
{{input usernamePicker}}

<h3>{{i18n 'language'}}</h3>
{{partial 'user:language_picker' this 'check'}}

<h3>{{i18n 'profile pic'}}</h3>
{{partial 'general:behaviors:change_picture' this}}