<label>{{i18n 'settings'}}</label>

<uL>
  <li>{{iconLinkText name='user' url='/settings/profile' I18n='profile'}}</li>
  <li>{{iconLinkText name='sliders' url='/settings/account' I18n='account'}}</li>
  <li>{{iconLinkText name='envelope' url='/settings/notifications' I18n='notifications'}}</li>
  <li>{{iconLinkText classes='editLabs' name='flask' url='/settings/labs' I18n='labs'}}</li>
</ul>

<hr>

<label>{{i18n 'contribute'}}</label>
<ul>
  <li>{{iconLinkText name='pencil-square-o' url=urls.wiki I18n='wiki'}}</li>
  <li>{{iconLinkText name='trello' url=urls.roadmap I18n='vote_verb'}}</li>
  <li>{{iconLinkText name='code' url=urls.git I18n='code_verb'}}</li>
  <li>{{iconLinkText name='language' url=urls.translate I18n='translate'}}</li>
  <li>{{iconLinkText name='money' url='/donate' I18n='donate'}}</li>
</ul>

<hr>

<label>{{i18n 'discussions'}}</label>
<ul>
  <li>{{iconLinkText name='envelope' url='/feedback' I18n='feedback'}}</li>
  <li>{{iconLinkText name='comments' url=urls.chat I18n='chat'}}</li>
  <li>{{iconLinkText name='pencil' url=urls.blog text='Blog'}}</li>
  <li>{{iconLinkText name='mastodon' url=urls.mastodon text='Mastodon'}}</li>
  <li>{{iconLinkText name='twitter' url=urls.twitter text='Twitter'}}</li>
  <li>{{iconLinkText name='facebook' url=urls.facebook text='Facebook'}}</li>
</ul>

<hr>

<label>{{i18n 'others'}}</label>
<ul>
  <li>{{iconLinkText name='question' url=urls.faq I18n='help'}}</li>
  <li>{{iconLinkText name='home' url='/welcome' I18n='welcome screen'}}</li>
  <li><a id="signout">{{icon 'sign-out'}}{{I18n 'sign out'}}</a></li>
</ul>
