<div class="custom-column">
  <div class="custom-tabs">
    <ul class="custom-tabs-titles">
      <a id="profile">
        {{icon 'sliders'}}
        <span class="title">{{I18n 'profile'}}</span>
      </a>
      <a id="notifications">
        {{icon 'envelope'}}
        <span class="title">{{I18n 'notifications'}}</span>
      </a>
      <a id="labs">
        {{icon 'flask'}}
        <span class="title">{{I18n 'labs'}}</span>
      </a>
    </ul>
    <div class="custom-tabs-content"></div>
  </div>
</div>