<h4>{{name}}</h4>
<input id="searchCandidates" type="text" placeholder="{{I18n 'search_verb'}}...">

<ul class="shelfItemsCandidates"></ul>

{{partial 'loader'}}

<div class="buttons">
  <a class="addNewItems action tiny-button light-blue" href="/add" title="{{I18n 'add a new book to this shelf'}}">
    {{icon 'plus'}} {{I18n 'add new books'}}
  </a>
  <a class="done tiny-button">{{icon 'check'}}{{I18n 'done'}}</a>
</div>
