<div class="shelfLi">
  <span class="shelfLiName">{{name}}</span>
  <span class="shelfLiDesc">{{description}}</span>
  <div class="shelfLiButtons icon-buttons-header">
    <a class="editButton" title="{{i18n label}}">{{icon icon}}</a>
    <a href="/shelves/{{_id}}" class="editButton" title="{{i18n 'edit shelf'}}">{{icon 'pencil'}}</a>
    <a class="deleteButton" title="{{i18n 'delete shelf'}}">{{icon 'trash'}}</a>
  </div>
</div>
<hr>