<div class="shelfEditor">
  <textarea id="{{_id}}Name" class="shelfName" placeholder='({{i18n 'new shelf name placeholder'}})'>{{name}}</textarea>
  <textarea id="{{_id}}Desc" class="shelfDesc" placeholder='({{i18n 'new shelf description placeholder'}})'>{{description}}</textarea>
  <div class="button-group-right">
    <div class="has-dropdown">
      <span class="visibilityButton button">{{icon icon}}</span>
      {{partial 'shelves:shelf_visibility_box' this}}
    </div>
    <a class="cancelShelfEdition button cancelButton" title="{{I18n 'cancel'}}">{{icon 'times'}}</a>
    <a id="validateShelf" class="button validateButton">{{icon 'check'}}</a>
  </div>
</div>