<div id="shelf-header">
  <div class="picture" style="background-image: url({{imgSrc picture 160}})"></div>
  <a id="close-shelf-small" class="closeButton" title="{{I18n 'unselect shelf'}}">{{icon 'close'}}</a>
</div>
<div id="shelf-info-box">
  <div>
    <h3 id="shelf-name">{{name}}</h3>
    <ul class="data">
      {{#if itemsCount}}
        <li>
          <span>{{icon 'book'}}{{i18n 'books'}}</span>
          <span class="count">{{itemsCount}}</span>
        </li>
      {{/if}}
      <li id='listing' title="{{i18n label}}">
        {{icon icon}} {{i18n label}}
      </li>
    </ul>
    <p>{{description}}</p>
  </div>
  <div id="shelf-actions">
    <a id="closeShelf" class="closeButton" title="{{I18n 'unselect shelf'}}">{{icon 'close'}}</a>
    <div class="buttons">
      {{#if isEditable}}
        <a id="showShelfEdit" class="tiny-button light-blue">
          {{icon 'pencil'}}
          {{I18n 'edit shelf'}}
        </a>
      {{/if}}
      <a class="addItems tiny-button light-blue" title="{{I18n 'add books to this shelf'}}">
        {{icon 'plus'}} {{I18n 'add books'}}
      </a>
    </div>
  </div>
</div>
