<a  href="{{pathname}}" class="shelfRow">
  <div class="shelfLeft">
    <div class="picture" style="background-image: url({{imgSrc picture 48}})"></div>
    <div class="shelfText">
      <div class="name">{{name}}</div>
      <div class="desc">{{description}}</div>
    </div>
  </div>
  <div class="shelfRight">
    <span class="listing {{listing}}" title="{{i18n label}}">{{icon icon}}</span>
  </div>
</a>
