<div class="shelves-wrapper">
  <div id="shelvesHeader">
    <div class="shelves-subheader">
      <p class="subheader">{{I18n 'shelves'}}</p>
      {{#if editable }}
        <div>
          <a id="addShelf" class="action tiny-button light-blue">{{icon 'plus'}}{{I18n 'add new shelf'}}</a>
        </div>
      {{/if}}
    </div>
    <div>
      <a id="showShelves" title="{{I18n 'show shelves'}}">{{icon 'chevron-down'}}</a>
      <a id="hideShelves" title="{{I18n 'hide shelves'}}">{{icon 'close'}}</a>
    </div>
  </div>
  <div id="shelvesList"></div>
</div>
