<div class="shelfEditor">
  {{#if isNewShelf}}
    <h3 class="subheader">{{i18n 'new shelf'}}</h3>
  {{else}}
    <h3 class="subheader">{{i18n 'edit shelf'}}</h3>
  {{/if}}
  <div class="inputBox">
    <label for="shelfNameEditor">{{i18n 'name'}}</label>
    <input type="text" id="shelfNameEditor" class="input-wrapper" value="{{name}}">
  </div>
  <div class="inputBox">
    <label for="sheldDescEditor">{{i18n 'description'}}</label>
    <textarea type="text" id="shelfDescEditor">{{description}}</textarea>
  </div>
  <div class="visibility-wrapper has-dropdown">
    <label for="visibilityBox">{{i18n 'visibility'}}</label>
    <span name="selected" class="tiny-button">{{icon selected.icon}}{{I18n selected.label}}</span>
    <ul class="dropdown visibilityBox">
      <li class="dropdown-label">{{i18n 'Who can see it?'}}</li>
      {{#each listings}}
        <li>
          <a id="{{id}}" class="listingChoice">
            {{icon icon}} {{I18n label}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="has-alertbox"></div>
  <div class="buttons">
    {{#unless isNewShelf}}
      <a class="delete" title="{{I18n 'delete shelf'}}">{{icon 'trash'}}{{i18n 'delete'}}</a>
    {{/unless}}
    <a class="validate success-button" title="{{I18n 'validate'}}">
      {{icon 'check'}}
      {{#if isNewShelf}}{{I18n 'create'}}{{else}}{{I18n 'validate'}}{{/if}}
      <span class="loading"></span>
    </a>
  </div>
</div>
