<a href="{{pathname}}" class="showItem">
  <div class="image-wrapper">
    {{~#if picture~}}<img src="{{imgSrc picture 128}}" alt="{{title}}">{{~/if~}}
  </div>
  <div class="info">
    <p class="title">{{title}}</p>
    <p class="authors">{{authors}}</p>
  </div>
</a>

<div class="status">
  <a class="tiny-button light-blue add {{#if alreadyAdded}}hidden{{/if}}">{{icon 'plus'}} {{i18n 'add'}}</a>
  <a class="tiny-button soft-grey remove {{#unless alreadyAdded}}hidden{{/unless}}">{{icon 'minus'}} {{i18n 'remove'}}</a>
  <div class="has-alertbox"></div>
</div>
