<div id="{{_id}}" class="shelfLi">
  <div class="shelfLiInfo">
    <span class="listingIcon" title="{{i18n label}}">{{icon listingData.icon}}</span>
    <a href="/shelf/{{_id}}" class="shelfLiName">{{name}}</a>
    <a href="/shelf/{{_id}}" class="shelfLiDesc">{{description}}</a>
  </div>
  <div class="liButtons icon-buttons-header">
    <a class="editButton liButton" title="{{i18n 'edit shelf'}}">{{icon 'pencil'}}</a>
    <a class="deleteButton liButton" title="{{i18n 'delete shelf'}}">{{icon 'trash'}}</a>
  </div>
</div>
<div id="{{_id}}Editor" class='hidden'>
  {{partial 'shelves:shelf_editor' this}}
</div>
