<h4>{{name}}</h4>
<input id="searchCandidates" type="text" placeholder="{{I18n 'search_verb'}}...">

<ul class="shelfItemsCandidates"></ul>

{{partial 'loader'}}

<div class="buttons">
  <a class="done tiny-button">{{icon 'check'}}{{I18n 'done'}}</a>
</div>
