<h4 class="capitalized">{{name}}</h4>
<input id="searchCandidates" type="text" placeholder="{{I18n 'search_verb'}}...">

<ul class="shelfItemsCandidates"></ul>

{{> 'loader'}}

<div class="buttons">
  <button class="addNewItems action button light-blue" href="/add" title="{{I18n 'add a new book to this shelf'}}">
    {{icon 'plus'}} {{I18n 'add new books'}}
  </a>
  <button class="done button success-button">{{icon 'check'}}{{I18n 'done'}}</a>
</div>
