<a href="{{pathname}}" class="shelf-row">
  <div class="shelf-left">
    <div class="picture" style="background-image: url({{imgSrc picture 48}})"></div>
    <div class="shelf-text">
      <div class="name">{{name}}</div>
      <div class="desc">{{description}}</div>
    </div>
  </div>
  <div class="shelf-right">
    <span class="listing {{listing}}" title="{{i18n label}}">{{icon icon}}</span>
  </div>
</a>
