<a href="{{pathname}}" class="selectShelf shelf-row" title="{{name}}{{#if description}} - {{description}}{{/if}}">
  <div class="shelf-left">
    <div class="picture" style="background-image: url({{imgSrc picture 48}})"></div>
    <div class="shelf-text">
      <div class="name capitalized">{{name}}</div>
      <div class="description capitalized">{{description}}</div>
    </div>
  </div>
  <div class="shelf-right">
    <span class="listing {{listing}}" title="{{i18n label}}">{{icon icon}}</span>
  </div>
</a>
