<div class="shelves-wrapper">
  <div id="shelvesHeader">
    <div class="shelves-subheader">
      <p class="subheader">{{I18n 'shelves'}}</p>
    </div>
  </div>
  <div id="shelvesList"></div>
  <div id="toggleButtons">
    <button id="showShelves" title="{{I18n 'show shelves'}}">{{icon 'chevron-down'}}</button>
    <button id="hideShelves" title="{{I18n 'hide shelves'}}">{{icon 'chevron-up'}}</button>
  </div>
</div>
