<div class="shelfEditor">
  <h4 class="subheader">{{i18n 'shelf'}}</h4>
  <textarea id="shelfNameEditor" placeholder='({{i18n 'new shelf name placeholder'}})'>{{name}}</textarea>
  <textarea id="shelfDescEditor" placeholder='({{i18n 'new shelf description placeholder'}})'>{{description}}</textarea>
  <div class="listingIconEditor">
    <div class="has-dropdown">
      <span name="listingData" id="{{_id}}" class="visibilityButton button">{{icon listingData.icon}}</span>
      {{partial 'shelves:shelf_visibility_box' this}}
    </div>
  </div>
  <div class="button-group-right">
    <a class="deleteButton liButton" title="{{i18n 'delete shelf'}}">{{icon 'trash'}}</a>
    <a class="updateShelf button validateButton" title="{{I18n 'validate'}}" >{{icon 'check'}}</a>
  </div>
</div>
