{{#if isItemInShelf}}
  <div class='itemLi selected'>
{{else}}
  <div class='itemLi'>
{{/if}}
  <a class="itemSelector">
    {{#if isItemInShelf}}
      {{icon 'check-square'}}
    {{else}}
      {{icon 'square'}}
    {{/if}}
  </a>
  <span id="{{_id}}">{{capitalize snapshot.entity:title}}</a>
</div>
