<div class="shelfEditor">
  <h3 class="subheader">{{i18n 'shelf'}}</h3>
  <div class="inputBox">
    <input type="text" id="shelfNameEditor" class="input-wrapper" placeholder="{{i18n 'shelf name'}}" value="{{name}}">
  </div>
  <div class="inputBox">
    <textarea type="text" id="shelfDescEditor" placeholder="{{i18n 'shelf description'}}">{{description}}</textarea>
  </div>
  <div class="has-dropdown">
    <span name="selected" class="tiny-button">{{icon selected.icon}}{{selected.label}}</span>
    <ul class="dropdown visibilityBox">
      <li class="dropdown-label">{{i18n 'Who can see it?'}}</li>
      {{#each listings}}
        <li>
          <a id="{{id}}" class="listingChoice">
            {{icon icon}} {{i18n label}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="shelfEditorMessage" class="panel">
    {{icon 'info'}}{{i18n 'shelf editor message'}}
  </div>
  <div class="button-group-right">
    {{#if _id}}
      <a class="deleteButton" title="{{i18n 'delete shelf'}}">{{icon 'trash'}}{{i18n 'delete'}}</a>
      <a class="button validateButton" title="{{I18n 'validate'}}" >{{icon 'check'}}{{I18n 'update shelf'}}</a>
    {{else}}
      <a class="button validateButton" title="{{I18n 'validate'}}" >{{icon 'check'}}{{I18n 'create shelf'}}</a>
    {{/if}}
  </div>
</div>
