<dl id="inventoriesTabs" class="row tabs">
{{!--       <dd class="small-12 large-3 active text-center">
    <a id="allItems"><i class="fa fa-cubes"></i> All items</a>
  </dd> --}}
  <dd class="small-12 large-4 text-center active">
    <a id="personal">{{icon 'home'}}{{i18n 'Personal Inventory'}}</a>
  </dd>
  <dd class="small-12 large-4 text-center">
    <a id="friends">{{icon 'users'}}{{i18n 'Friends Inventory'}}</a>
  </dd>
  <dd class="small-12 large-4 text-center">
    <a id="public">{{icon 'rss'}}{{i18n 'Public Inventory'}}</a>
  </dd>
</dl>