<div class="cover small-12 large-3 columns text-center">
  {{#if picture}}
    <a href="{{pathname}}">
      <img src="{{picture}}">
    </a>
  {{/if}}
</div>

<div class="details small-12 large-9 columns">

  <h4 class="title"><a class="itemShow" {{ifvalue 'href' pathname}}>{{title}}</a></h4>

  <div class="user-box">
    <div class="left-box">
      <img class="profilePic" src="{{profilePic}}">
    </div>
    <div class="right-box">
      <span class="legend grey">
        {{i18n 'has_it' this}}
      </span>
      <span>
        <span class="comment wrapped">
          {{pre comment}}
        </span>{{partial 'toggle_wrap' wrap.comment}}
      </span>
      {{#if notes}}
        <span class="notes-box">
          <strong class="grey">{{i18n 'notes'}}:</strong>
          <span class="notes grey wrapped">
            {{pre notes}}
          </span>{{partial 'toggle_wrap' wrap.notes}}
        </span>
      {{/if}}
    </div>
  </div>
</div>
