<div class="cover small-12 large-3 columns {{!-- text-center --}}">
  {{#if picture}}
    <a href="{{pathname}}">
    <img src="{{picture}}"></a>
  {{/if}}
</div>

<div class="desc small-12 large-9 columns">

  <h4><a class="itemShow" {{ifvalue 'href' pathname}}>{{title}}</a></h4>

  <div class="row">
    <div class="left-box">
      <img class="profilePic" src="{{profilePic}}">
    </div>
    <div class="right-box">
      <span class="legend">{{i18n 'has_it' this}}</span>
      <span class="comment grey">{{pre comment}}</span>
    </div>
  </div>

</div>