<section id="welcome-three">
  <ul class="bonuses">
    <li>
      <h4>{{icon 'random'}}{{i18n 'Empowering the Transition'}}</h4>
      <p>{{{i18n 'pitch-transition'}}}</p>
    </li>
    <li>
      <h4>{{icon 'book'}}{{i18n 'Just Books. Yet.'}}</h4>
      <p>{{{i18n 'pitch-just-books'}}}</p>
    </li>
  </ul>
  <ul class="bonuses" id="middle-three">
    <li>
      <h4>{{icon 'puzzle-piece'}}{{i18n 'Built on and for Open Knowledge'}}</h4>
      <p>{{markdownI18n 'pitch-open-knowledge'}}</p>
    </li>
    <li>
      <h4>{{icon 'gears'}} {{i18n 'Built on and in Open Source'}}</h4>
      <p>{{markdownI18n 'pitch-open-source'}}</p>
    </li>
  </ul>
  <ul class="bonuses">
    <li>
      <h4>{{icon 'database'}} {{i18n 'You own your data'}}</h4>
      <p>{{markdownI18n 'pitch-your-data'}}</p>
    </li>
  </ul>
</section>