<section id="credits">
  <h3>{{i18n 'credits'}}</h3>

  <h4>{{I18n 'full-time team'}}</h4>
  <p class="team">
    {{link 'Maxime Lathuilière' 'http://maxlath.eu'}} <span class="domain">({{i18n 'project'}}, {{i18n 'design'}}, {{i18n 'code'}})</span>
    <br>{{i18n 'you?'}}
  </p>

  <h4>{{I18n 'contributors'}}</h4>
  <p class="contributors">
    {{link 'Vincent Jumeaux' 'http://www.dev4dev.eu/'}} <span class="domain">(code)</span>,
    {{link 'Loic Autunes' 'https://jlantunes.com/fr/myprojects/inventaire-io-i/'}} <span class="domain">(UX research)</span>,
    {{link 'Allmende' 'http://allmende.io'}} <span class="domain">(analytics)</span>,
    {{link 'Lucie Koffee' 'http://fuzzle.me'}} <span class="domain">({{i18n 'ambassador'}}, {{i18n 'translation'}}-de)</span>,
    {{{i18n 'project_contributors_credits'}}}
  </p>
  <p><strong>{{{I18nLink 'how to contribute' 'https://wiki.inventaire.io/wiki/How-to-contribute'}}}</strong></p>

  <h4>{{I18n 'commons'}}</h4>
  <p>{{{I18n 'open_source_credits'}}}</p>
  <p class="pictures">
    {{I18n 'beautiful Creative Commons pictures by:'}}
    {{link 'Brittany Stevens' 'https://www.flickr.com/photos/brittanystevens/13947832357'}},
    {{link 'Sarah Buckley' 'https://www.flickr.com/photos/17207222@N02/6117998074'}},
    {{link 'Luci Correia' 'https://www.flickr.com/photos/lucorreia/15171119938'}}
  </p>
  <p class="thanks">{{I18n 'thanks!'}}</p>

</section>
<section id="legals">
  <h4>{{I18n 'ask us anything'}}</h4>
  <p>{{link contact.email contact.mailto}}</p>
</section>