<section id="credits">
  <h5>{{{i18n 'assembled_by'}}}</h5>
  <p class="contributors">
    <strong>{{I18n 'contributors'}}:</strong><br>
    {{link 'Lucie' 'http://fuzzle.me'}} <span class="domain">({{i18n 'translation'}})</span>,
    {{link 'Allmende' 'http://allmende.io'}} <span class="domain">({{i18n 'analytics'}})</span>,
    {{link 'Albin Larsson' 'http://abbe98.github.io'}} <span class="domain">({{i18n 'code'}})</span>,
    {{link 'Wikidata contributors' 'https://wikidata.org'}} <span class="domain">({{i18n 'data'}})</span>
  </p>
  <p>{{{i18n 'open_source_credits'}}}</p>
  <p>
  {{{i18n 'beautiful Creative Commons pictures by:'}}}
  {{link 'Sarah Buckley' 'https://www.flickr.com/photos/17207222@N02/6117998074'}}
  {{link 'Sandra' 'https://www.flickr.com/photos/artfullife/3589991695'}}
  {{link 'Brittany Stevens' 'https://www.flickr.com/photos/brittanystevens/13947832357'}}
  {{link 'Ginny' 'https://www.flickr.com/photos/ginnerobot/3102623100'}}
  - {{I18n 'thanks!'}}
  </p>

</section>
<section id="legals">
  <p>{{link 'contacts' contact.mailto}}</p>
</section>