<section id="credits">
  <h3>{{i18n 'credits'}}</h3>

  <h4>{{I18n 'full-time team'}}</h4>
  <p class="team">
    {{link 'Maxime Lathuilière' 'http://maxlath.eu'}} <span class="domain">({{i18n 'project'}}, {{i18n 'design'}}, {{i18n 'code'}})</span>
    <br>{{i18n 'you?'}}
  </p>

  <h4>{{I18n 'contributors'}}</h4>
  <p class="contributors">
    {{link 'Lucie Koffee' 'http://fuzzle.me'}} <span class="domain">({{i18n 'ambassador'}}, {{i18n 'translation'}}-de)</span>,
    {{link 'Loic Autunes' 'http://zapoworks.tumblr.com/'}} <span class="domain">(UX)</span>,
    {{link 'Allmende' 'http://allmende.io'}} <span class="domain">(analytics)</span>,
    {{i18nLink "awesome people helping designing the project's future" 'https://trello.com/b/0lKcsZDj/inventaire-roadmap'}} &amp;
    {{i18nLink 'our beloved translators' 'https://www.transifex.com/inventaire/public/'}}
  </p>
  <p><strong>{{{i18nLink 'how to contribute' 'https://trello.com/c/VIkw1d8q/58-how-you-can-contribute'}}}</strong></p>

  <h4>{{I18n 'commons'}}</h4>
  <p>{{{I18n 'open_source_credits'}}}</p>
  <p class="pictures">
    {{I18n 'beautiful Creative Commons pictures by:'}}
    {{link 'Brittany Stevens' 'https://www.flickr.com/photos/brittanystevens/13947832357'}},
    {{link 'Sarah Buckley' 'https://www.flickr.com/photos/17207222@N02/6117998074'}},
    {{link 'Luci Correia' 'https://www.flickr.com/photos/lucorreia/15171119938'}}
  </p>
  <p class="thanks">{{I18n 'thanks!'}}</p>

</section>
<section id="legals">
  <p>{{link 'contacts' contact.mailto}}</p>
</section>