<section id="credits">
  <h5>{{{i18n 'assembled_by'}}}</h5>
  <p class="contributors">
    <strong>{{I18n 'contributors'}}:</strong><br>
    {{link 'Lucie' 'http://fuzzle.me'}} <span class="domain">({{i18n 'translation'}}-de)</span>,
    {{link 'Allmende' 'http://allmende.io'}} <span class="domain">({{i18n 'analytics'}})</span>,
    {{link 'Albin Larsson' 'http://abbe98.github.io'}} <span class="domain">({{i18n 'code'}})</span>,
    {{link 'Wikidata contributors' 'https://wikidata.org'}} <span class="domain">({{i18n 'data'}})</span>
    {{link 'req' 'https://www.transifex.com/user/profile/req'}} <span class="domain">({{i18n 'translation'}}-de)</span>,
    {{link 'Benny Andersson' 'https://about.me/BennyAndersson'}} <span class="domain">({{i18n 'translation'}}-sv)</span>,
    {{link 'David Abián' 'http://davidabian.com/'}} <span class="domain">({{i18n 'translation'}}-es)</span>,
    {{link 'Robert Wolniak' 'https://www.transifex.com/user/profile/Szkodnix'}} <span class="domain">({{i18n 'translation'}}-pl)</span>,
    {{link 'Steffi' 'http://berlin.imwandel.net'}} <span class="domain">({{i18n 'translation'}}-de)</span>
  </p>
  <p>{{{i18n 'open_source_credits'}}}</p>
  <p>
  {{I18n 'beautiful Creative Commons pictures by:'}}
  {{link 'Sarah Buckley' 'https://www.flickr.com/photos/17207222@N02/6117998074'}}
  {{link 'Luci Correia' 'https://www.flickr.com/photos/lucorreia/15171119938'}}
  {{link 'Brittany Stevens' 'https://www.flickr.com/photos/brittanystevens/13947832357'}}
  {{link 'Ginny' 'https://www.flickr.com/photos/ginnerobot/3102623100'}}
  - {{I18n 'thanks!'}}
  </p>

</section>
<section id="legals">
  <p>{{link 'contacts' contact.mailto}}</p>
</section>