<ol class="joyride-list" data-joyride>
  {{#with add}}
    <li data-id="{{pointer}}"
      data-text="{{icon 'arrow-right'}}"
      data-options="{{inlineOptions options}}">
      {{partial 'welcome:joyride_add'}}
    </li>
  {{/with}}
  {{#with network}}
    <li data-id="{{pointer}}" data-button="{{icon 'arrow-right'}}"
      data-prev-text="{{icon 'arrow-left'}}"
      data-options="{{inlineOptions options}}">
      {{partial 'welcome:joyride_network'}}
    </li>
  {{/with}}
{{!--   <li data-id="editProfile" data-button="{{icon 'arrow-right'}}" data-prev-text="{{icon 'arrow-left'}}" data-options="tip_location:left;tip_animation:fade">
    {{partial 'welcome:joyride_settings'}}
  </li> --}}
  <li data-button="{{icon 'arrow-right'}}" data-prev-text="{{icon 'arrow-left'}}" data-options="tip_location:left;tip_animation:fade">
    {{partial 'welcome:joyride_conclusion_one' this}}
  </li>
  <li data-button="{{icon 'times'}}" data-prev-text="{{icon 'arrow-left'}}">
    {{partial 'welcome:joyride_conclusion_two' this}}
  </li>
</ol>