<section id="welcome-one" class="text-center">
  <h2>Inventaire</h2>
  <div class="pitch">
    <h3>{{i18n 'keep a list of your books'}}</h3>
    <h3>{{i18n 'share it with others'}}</h3>
    <h3>{{i18n 'see what books are available in your network!'}}</h3>
  </div>
  <div id="loginButtons">
    <a id="signupRequest" class="button secondary">{{i18n 'sign up'}}</a>
    <a id="loginRequest" class="button success">{{i18n 'login'}}</a>
  </div>
</section>
