<section id="landingScreen" class="text-center">
  <div class="polyglotTitle">
    <h2>{{{Q 'Q815410' false 'Inventaire'}}}</h2>
    <h2 class="toggler">Inventaire</h2>
  </div>
  <div class="pitch">
    <h3>{{i18n 'keep an inventory of your books'}}</h3>
    <h3>{{i18n 'share it with your friends and communities'}}</h3>
    <h3>{{i18n 'discover the books available in your network!'}}</h3>
  </div>
  <div id="loginButtons">
  {{#if loggedIn}}
    <a id="loginRequest" class="button dark-grey">{{i18n 'back to your inventory'}}</a>
  {{else}}
    {{partial 'welcome:login_buttons'}}
  {{/if}}
  </div>
</section>
