<section id="welcome-one" class="text-center">
  <h2>Inventaire</h2>
  <div class="pitch">
    <h3>{{i18n 'keep a list of your books'}}</h3>
    <h3>{{i18n 'share it with others'}}</h3>
    <h3>{{i18n 'discover the books available in your network!'}}</h3>
  </div>
  <div id="loginButtons">
  {{#if loggedIn}}
    <a id="loginRequest" class="button dark-grey">{{i18n 'back to your inventory'}}</a>
  {{else}}
    <a id="signupRequest" class="button secondary">{{i18n 'sign up'}}</a>
    <a id="loginRequest" class="button success">{{i18n 'login'}}</a>
  {{/if}}
  </div>
</section>
