<h3>{{i18n 'totally randomly-selected messages from the people of the Internet'}}</h3>
<ul id="tweets">
  {{#each tweets}}
    <li>
      <img src="{{imgSrc picture 48}}" alt="{{name}}">
      <span>
        {{icon 'quote-left'}}{{{text}}}{{icon 'quote-right'}}
        {{i18nLink 'tweet_by' url this}}
      </span>
    </li>
  {{/each}}
</ul>
{{#if articles}}<h4>{{icon 'newspaper-o'}} {{I18n 'articles'}}</h4>{{/if}}
<ul id="articles">
  {{#each articles}}
    <li>
      <span>{{link text url 'link'}}  –  <strong>{{name}}</strong></span>
      {{#if picture}}<img src="{{imgSrc picture 48}}" alt="{{name}}">{{/if}}
    </li>
  {{/each}}
</ul>
{{#if audios}}<h4>{{icon 'microphone'}} {{I18n 'interviews'}}</h4>{{/if}}
<ul id="interviews">
  {{#each audios}}
    <li>
      <span>{{link text url 'link'}}  –  <strong>{{name}}</strong></span>
      {{#if picture}}<img src="{{imgSrc picture 48}}" alt="{{name}}">{{/if}}
    </li>
  {{/each}}
</ul>
{{#if videos}}<h4>{{icon 'video-camera'}} {{I18n 'videos'}}</h4>{{/if}}
<ul id="videos">
  {{#each videos}}
    <li style="background-image:url({{imgSrc picture 400}})">
      <a href="{{url}}" target='_blank' rel="noopener">
        <div class="grey-filter">
          {{icon 'play-circle'}}
          <p class="label">{{text}}</p>
          <p class="lang">{{lang}}</p>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
