<section id="mission">
  <a class="toggleMission">
    <h3>{{I18n 'our mission & values'}}</h3>
    {{icon 'chevron-down'}}{{icon 'chevron-up' 'hidden'}}
  </a>
  <ul class="mission" aria-expanded="false">
    <li>
      <h4>{{icon 'random'}}{{I18n 'Empowering the Transition'}}</h4>
      <p>{{{I18n 'pitch_transition'}}}</p>
    </li>
    <li>
      <h4>{{icon 'book'}}{{I18n 'Just Books. For now.'}}</h4>
      <p>{{{I18n 'pitch_just_books'}}}</p>
    </li>
    <li>
      <h4>{{icon 'puzzle-piece'}}{{I18n 'Built on and for Open Knowledge'}}</h4>
      <p>{{{I18n 'pitch_open_knowledge'}}}</p>
    </li>
    <li>
      <h4>{{icon 'gears'}} {{I18n 'Built on and in Open Source'}}</h4>
      <p>{{{I18n 'pitch_open_source'}}}</p>
    </li>
    <li>
      <h4>{{icon 'database'}} {{I18n 'You own your data'}}</h4>
      <p>{{{I18n 'pitch_your_data'}}}</p>
    </li>
  </ul>
</section>