<section id="mission">
  <a class='toggleMission'>
    <h2>{{i18n 'our mission and values'}}</h2>
    {{icon 'chevron-down'}}{{icon 'chevron-up' 'hidden'}}
  </a>
  <ul class="mission">
    <li>
      <h4>{{icon 'random'}}{{i18n 'Empowering the Transition'}}</h4>
      <p class="capitalized">{{{i18n 'pitch_transition'}}}</p>
    </li>
    <li>
      <h4>{{icon 'book'}}{{i18n 'Just Books. For now.'}}</h4>
      <p class="capitalized">{{{i18n 'pitch_just_books'}}}</p>
    </li>
    <li id="middle-three">
      <h4>{{icon 'puzzle-piece'}}{{i18n 'Built on and for Open Knowledge'}}</h4>
      <p class="capitalized">{{{i18n 'pitch_open_knowledge'}}}</p>
    </li>
    <li>
      <h4>{{icon 'gears'}} {{i18n 'Built on and in Open Source'}}</h4>
      <p class="capitalized">{{{i18n 'pitch_open_source'}}}</p>
    </li>
    <li>
      <h4>{{icon 'database'}} {{i18n 'You own your data'}}</h4>
      <p class="capitalized">{{{i18n 'pitch_your_data'}}}</p>
    </li>
  </ul>
</section>