<section id="welcome-one" class="text-center">
  <h2>Inventaire</h2>
  <h3>{{i18n 'Keep a list of your things'}}</h3>
  <h3>{{i18n 'Share it with others'}}</h3>
  <h3>{{i18n 'See what resources are available in your network!'}}</h3>
  <div id="loginButtons">
    <a id="signupRequest" class="button secondary">{{i18n 'Sign Up'}}</a>
    <a id="loginRequest" class="button success">{{i18n 'Login'}}</a>
  </div>
  <ul class="bonuses">
    <li><h4>{{icon 'cubes'}} {{i18n 'You own the data'}}</h4></li>
    <li><h4>{{icon 'gears'}} {{i18n 'Built on and in <br>Open Source'}}</h4></li>
    <li><h4>{{icon 'puzzle-piece'}} {{i18n 'Built on and for <br>Open Knowledge'}}</h4></li>
  </ul>
</section>
<section id="welcome-two">
  <h3 class="text-center">{{i18n 'some items available nearby'}}</h3>
  <div id="previewColumns"></div>
</section>