{{partial 'welcome:landing_screen' this}}
{{!-- {{partial 'welcome:tutorial'}} --}}
{{partial 'welcome:last_public_books'}}
{{partial 'welcome:mission'}}
{{partial 'welcome:social_networks' urls}}
<section id="mentions"></section>
{{partial 'welcome:credits' urls}}