{{partial 'welcome:landing_screen' this}}
{{partial 'welcome:last_public_books'}}
{{partial 'welcome:mission'}}
{{partial 'welcome:social_networks' urls}}
<section id="mentions"></section>
{{partial 'welcome:credits' urls}}
{{!-- Duplicating social networks at the bottom as it might be where you expect to see those --}}
{{partial 'welcome:social_networks' urls}}
