<section id="welcome-one" class="text-center">
  <h2>Inventaire</h2>
  <div class="pitch">
    <h3>{{i18n 'Keep a list of your books'}}</h3>
    <h3>{{i18n 'Share it with others'}}</h3>
    <h3>{{i18n 'See what books are available in your network!'}}</h3>
  </div>
  <div id="loginButtons">
    <a id="signupRequest" class="button secondary">{{i18n 'Sign Up'}}</a>
    <a id="loginRequest" class="button success">{{i18n 'Login'}}</a>
  </div>
</section>
<section id="welcome-two">
  <h3 class="text-center">{{i18n 'some of the last books published'}}</h3>
  <div id="previewColumns"></div>
</section>
<section id="welcome-three">
  <ul class="bonuses">
    <li>
      <h4>{{icon 'random'}}{{i18n 'Empowering the Transition'}}</h4>
      <p>{{{i18n 'pitch-transition'}}}</p>
    </li>
    <li>
      <h4>{{icon 'book'}}{{i18n 'Just Books. Yet.'}}</h4>
      <p>{{{i18n 'pitch-just-books'}}}</p>
    </li>
  </ul>
  <ul class="bonuses">
    <li>
      <h4>{{icon 'puzzle-piece'}}{{i18n 'Built on and for Open Knowledge'}}</h4>
      <p>{{{i18n 'pitch-open-knowledge'}}}</p>
    </li>
    <li>
      <h4>{{icon 'gears'}} {{i18n 'Built on and in Open Source'}}</h4>
      <p>{{{i18n 'pitch-open-source'}}}</p>
    </li>
  </ul>
  <ul class="bonuses">
    <li>
      <h4>{{icon 'cubes'}} {{i18n 'You own your data'}}</h4>
      <p>{{{i18n 'pitch-your-data'}}}</p>
    </li>
  </ul>
</section>
<section id="welcome-four">
  <div class="about">
    <h3>{{i18n 'About'}}</h3>
    <p>{{i18n 'coming soon'}}</p>
  </div>
  <div class="credits">
    <h3>{{i18n 'Credits'}}</h3>
    <p>{{i18n 'coming soon'}}</p>
  </div>
</section>