<figure class="changePicture">
  {{#if picture}}
  <img src="{{src picture 250 250}}"
    alt="{{title}} {{i18n 'cover'}}" class="{{changePicture.classes}}">
  {{/if}}

  {{#unless restricted}}
    <a id="changePicture" class="button" tabindex="0">
      {{icon 'camera'}}
      {{#if picture}}
        {{i18n 'change picture'}}
      {{else}}
        {{i18n 'add a picture'}}
      {{/if}}
      <span class="loading"></span>
    </a>
  {{/unless}}
</figure>