<figure class="changePicture">
  <img src="{{#if picture}}{{picture}}{{else}}{{placeholder}}{{/if}}"
  alt="{{title}} {{i18n 'cover'}}" class="{{changePicture.classes}}">

  {{#unless restricted}}
    <a id="changePicture">
      <figcaption>
        <h5>{{icon 'camera'}} {{i18n 'change picture'}}</h5>
      </figcaption>
    </a>
  {{/unless}}
</figure>