<figure class="changePicture">
  {{#if picture}}
  <img src="{{imgSrc picture 250 250}}"
    {{#if title}}alt="{{title}} {{i18n 'cover'}}"{{/if}}
    {{#if username}}alt="{{i18n 'profile pic'}}"{{/if}}
    class="{{changePicture.classes}}">
  {{/if}}

  {{#unless restricted}}
    <a id="changePicture" class="button light-blue" tabindex="0">
      {{icon 'camera'}}
      {{#if picture}}
        {{I18n 'change picture'}}
      {{else}}
        {{I18n 'add a picture'}}
      {{/if}}
      <span class="loading"></span>
    </a>
  {{/unless}}
</figure>