<div id="confirmation" class="row">

<div class="small-12 large-6 large-offset-3 columns text-center">

  <p>{{{confirmationText}}}</p>
  {{#if warningText}}
    <p class="grey">{{icon 'warning'}}&nbsp;{{{warningText}}}</p>
  {{/if}}

  <a id="no" class="button grey radius">{{i18n 'no'}}</a>
  <a id="yes" class="button alert radius">{{i18n 'yes'}}</a>

</div>

<div class="row">
  <div class="check large-1 small-12 centered right columns"></div>
</div>
