{{!-- links are for entities having a page in Inventaire:
books, authors... not publisher or genre, yet --}}
{{#if linkify}}
  <a
    href="{{entityLocalHref id label}}"
    class='link uriLabel entity-value'
    {{!-- keeping the resource attribute for SEO (?)--}}
    resource='{{entityRemoteHref id}}'
    data-uri='{{id}}'>
  {{alt}}
  </a>
{{else}}
  <span
    class='uriLabel entity-value'
    resource='{{entityRemoteHref id}}'
    data-uri='{{id}}'>
  {{alt}}
  </span>
{{/if}}