{{!-- entityLink: set to true to link to the entity layout (work, author, etc),
the alternative being to link to a claim_layout --}}
{{#if entityLink}}
  <a
    href="{{pathname}}"
    class='link uriLabel entity-value'
    {{!-- keeping the resource attribute for SEO (?)--}}
    resource='{{entityRemoteHref uri}}'
    {{#if title}}title="{{title}}"{{/if}}
    data-label-uri='{{uri}}'>
  {{alt}}
  </a>
{{else}}
  <span
    class='uriLabel entity-value'
    resource='{{entityRemoteHref uri}}'
    data-label-uri='{{uri}}'>
  {{alt}}
  </span>
{{/if}}
