{{!-- entityLink: set to true to link to the entity layout (work, author, etc),
the alternative being to link to a claim_layout --}}
{{#if entityLink}}
  <a
    href="{{entityLocalHref id label}}"
    class='link uriLabel entity-value'
    {{!-- keeping the resource attribute for SEO (?)--}}
    resource='{{entityRemoteHref id}}'
    data-label-uri='{{id}}'>
  {{alt}}
  </a>
{{else}}
  <span
    class='uriLabel entity-value'
    resource='{{entityRemoteHref id}}'
    data-label-uri='{{id}}'>
  {{alt}}
  </span>
{{/if}}
