<form id="{{id}}" class="inputGroup">
  {{!-- a div is required to wrap the input as the alert-box
  will be appened as a sibbling node --}}
  <div class="inputBox">
    <input type="{{field.type}}"
    id="{{field.id}}"
    name="{{field.name}}"
    class="{{field.classes}} has-alertbox enterClick"
    value="{{field.value}}"
    placeholder="{{field.placeholder}}{{field.dotdotdot}}"
    {{special}}>
  </div>
  {{!-- href="#" allows to make the button focusable--}}
  <a id="{{button.id}}" class="button {{button.classes}}" href="#">
    {{{button.text}}} <span class='loading'></span>
  </a>
</form>