<div id="{{id}}" class="inputGroup">
    <input type="{{field.type}}" id="{{field.id}}" class="{{field.classes}} has-alertbox enterClick" value="{{field.value}}" placeholder="{{field.placeholder}}..." {{special}}>
    <a id="{{button.id}}" class="button {{button.classes}}">{{{button.text}}} <span class='loading'></span></a>
</div>