<section id="image-inputs">
  <h4>{{i18n 'import a picture'}}</h4>
  <div class="box">
    <h5>{{icon 'upload'}}{{i18n 'from a file'}}</h5>
    <input type="file" accept="image/*" {{#if allowMultiple}}multiple{{/if}} />
    <h5>{{icon 'link'}}{{i18n 'from a URL'}}</h5>
    {{input urlInput}}
  </div>
</section>
<section id="image-importer">
  <h4 class="select">{{i18n 'select a picture'}}</h4>
  <div id="availablePictures"></div>
</section>
<section id="validation">
 {{partial 'validation_buttons'}}
  <span class='loading'></span>
</section>
