<section id="image-inputs">
  <h4>{{i18n 'import a picture'}}</h4>
  <div class="box">
    <h5>{{icon 'link'}}{{i18n 'from a URL'}}</h5>
    {{input urlInput}}

    {{#if userContext}}
      <div class="loadFrom">
        <span class="label">{{I18n 'import from:'}}</span>
        <a class="fetchGravatar tiny-button">Gravatar</a>
      </div>
    {{/if}}


    {{!-- putting the file upload second as it will get the focus on
    modal:open but a user directly wanting to close the modal will be prevented
    from doing so by preventUnwantedModalClose --}}
    <h5>{{icon 'upload'}}{{i18n 'from a file'}}</h5>
    <input id="fileField" type="file" accept="image/x-png,image/gif,image/jpeg" {{#if allowMultiple}}multiple{{/if}} />
  </div>
</section>
<section id="image-importer">
  <h4 class="select">{{i18n 'select a picture'}}</h4>
  <div id="availablePictures"></div>
</section>
<section id="validation">
  <div class="button-group">
    <a id="cancel" class="button grey" tabindex="0">{{icon 'ban'}} {{I18n 'cancel'}}</a>
    <a id="delete" class="button alert" tabindex="0">{{icon 'trash'}} {{I18n 'delete'}}</a>
    <a id="validate" class="button success" tabindex="0">{{icon 'check'}} {{I18n 'validate'}} <span class='loading'></span></a>
  </div>
  <span class='alertBox'></span>
</section>
