{{!-- links are for entities having a page in Inventaire:
books, authors... not publisher or genre, yet --}}
{{#if linkify}}
  <a
    href="{{wdLocalHref id label}}"
    class='link qlabel wd-Q'
    resource='{{wdRemoteHref id}}'>
  {{alt}}
  </a>
{{else}}
  <span
    class='qlabel wd-Q'
    resource='{{wdRemoteHref id}}'>
  {{alt}}
  </span>
{{/if}}