<li class="has-form">
 {{input search}}
</li>
<li id="requests" class="has-dropdown"></li>
<li id="notifications" class="has-dropdown"></li>
<li>
  <a id="name">
    {{username}}
    <img id="pic" src="{{picture}}">
  </a>
</li>

<li class="has-dropdown">
  <a><i class="fa fa-cog"></i></a>
  <ul class="dropdown">
    <li><a id="edit">{{i18n 'Edit Profile'}}</a></li>
    <li><a id="help">{{i18n 'Help'}}</a></li>
    <li><a id="logout">{{i18n 'Sign Out'}}</a></li>
  </ul>
</li>