<li class="has-form">
 {{input search}}
</li>

<li><a id="name">{{username}}</a></li>
<li>
  <a><img id="pic" src="{{picture}}" alt="{{username}} pic"></a>
</li>
<li class="has-dropdown">
  <a><i class="fa fa-cog"></i></a>
  <ul class="dropdown">
    <li><a id="edit">{{i18n 'Edit Profile'}}</a></li>
    <li><a id="help">{{i18n 'Help'}}</a></li>
    <li><a id="logout">{{i18n 'Sign Out'}}</a></li>
  </ul>
</li>