{{#if image.url}}
<div>
  <img src='{{src image.url 150}}' alt='{{label}}'>
</div>
{{/if}}
<div class="main">
  <h4>
    {{#if href}}
      {{iconLinkText 'link' href label}}
    {{else}}
      {{label}}
    {{/if}}
    {{#if hasDate}}
      <span class="date">
        ({{timeClaim claims 'wdt:P577' 'year' true true}} ) {{!-- time of publication --}}
      </span>
    {{/if}}
  </h4>

  {{#if description}}
    <p class="grey">{{{description}}}</p>
  {{/if}}

  <p>
    {{claim claims 'wdt:P50' true false true}}  {{!-- author --}}
    {{joinAuthors claims.wdt:P2093}}  {{!-- short author name --}}
  </p>

</div>
<div class="right-bar">
  <div class="fa fa-file-text-o" title="{{i18n 'article_limitation'}}"></div>
  {{partial 'entities:edit_data' this}}
  {{#if wikisource}}
    <a class="wikisource" href="{{wikisource.url}}" target="_blank" title="{{I18n 'read online'}}">
      {{icon 'wikisource'}}
    </a>
  {{/if}}
  {{#if wikipedia}}
    <a class="wikipedia" href="{{wikipedia.url}}" target="_blank" title="{{I18n 'see_on_website' website='Wikipedia'}}">
      {{icon 'wikipedia'}}
    </a>
  {{/if}}
</div>