<div class="innerAuthorLi">
  <div class='infobox'>
    {{#if pictures}}
      <img src='{{src pictures 600}}' alt='{{label}} cover'>
    {{/if}}
    <div class="authorData text-center">
      <h3><a class="showEntity" href="{{pathname}}">{{label}}</a></h3>
      <h4 class="subheader">{{description}}</h4>
      {{partial 'entities:author_claims' this}}
      <p class="extract">{{{extract}}}</p>
      {{partial 'entities:photo_credits' pictureCredits}}
    </div>
  </div>

  <div class='books'>
    <h3>{{i18n 'books'}}</h3>
    <ul class="authorsBooks"></ul>
    <div class="more">
      {{#if more}}
        <a class="displayMore">
          {{icon 'chevron-down'}}{{i18n 'more'}}
        </a>
      {{/if}}
      <span class="loading"></span>
    </div>
  </div>
</div>
{{#if standalone}}
  {{partial 'entities:wikipedia_iframe' this}}
  {{partial 'welcome:embedded_welcome'}}
{{/if}}