<div class='wiki-attributes'>
  {{partial 'entities:birth_death_dates' this}}
  <p class="claims">
    {{claim this 'P136'}} {{!-- genre --}}
    {{claim this 'P27'}} {{!-- country of citizenship --}}
    {{claim this 'P103'}} {{!-- native language --}}
    {{claim this 'P1066' true}} {{!-- student of --}}
    {{claim this 'P39'}} {{!-- position held --}}
    {{claim this 'P69'}} {{!-- educated at --}}
    {{claim this 'P135'}} {{!-- movement --}}
    {{claim this 'P106'}} {{!-- occupation --}}
    {{claim this 'P123'}} {{!-- publisher --}}
  </p>
  {{imageClaim this 'P109'}}
</div>