<div class="row">
  <div class='small-12 large-4 columns text-center'>
    {{#if pictures}}
      <img src='{{first pictures}}' alt='{{label}} cover'>
    {{/if}}
    <div class="authorData text-center">
      <h3><a class="showEntity" href="{{pathname}}">{{label}}</a></h3>
      <h4 class="subheader">{{description}}</h4>
      {{partial 'entities:author_claims' claims}}
    </div>
  </div>

  <div class='small-12 large-8 columns'>
    <ul class="authorsBooks">
    </ul>
    <div class="more">
      {{#if more}}
        <a class="displayMore">
          {{icon 'chevron-down'}}{{i18n 'more'}}
        </a>
      {{/if}}
      <span class="loading"></span>
    </div>
  </div>
</div>
{{#if wikipediaPreview}}
  {{partial 'entities:wikipedia_iframe' this}}
{{/if}}