<div class='wiki-attributes'>
  {{partial 'entities:birth_death_dates' claims}}
  {{imageClaim claims 'wdt:P109'}} {{!-- signature --}}
  <p class="claims">
    {{claim claims 'wdt:P135' true}} {{!-- movement --}}
    {{claim claims 'wdt:P136' true}} {{!-- genre --}}
    {{claim claims 'wdt:P27'}} {{!-- country of citizenship --}}
    {{claim claims 'wdt:P103'}} {{!-- native language --}}
    {{claim claims 'wdt:P69'}} {{!-- educated at --}}
    {{claim claims 'wdt:P106'}} {{!-- occupation --}}
    {{claim claims 'wdt:P166'}} {{!-- award received --}}
    {{claim claims 'wdt:P39'}} {{!-- position held --}}
    {{claim claims 'wdt:P1066' true}} {{!-- student of --}}
    {{claim claims 'wdt:P737' true}} {{!-- influence by --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter --}}
    {{platformClaim claims 'wdt:P2013'}} {{!-- facebook --}}
    {{platformClaim claims 'wdt:P2003'}} {{!-- instagram --}}
    {{platformClaim claims 'wdt:P2397'}} {{!-- youtube --}}
    {{#if hasEbooks}}{{partial 'entities:ebooks' this}}{{/if}}
  </p>
</div>