<a href="{{pathname}}" title="{{label}}">
  <div class="image" style="background-image: url({{src image.url 64}})"></div>
  <div class="summary-data">
    <span class="name">{{label}}</span>
    {{partial 'entities:birth_death_dates' claims}}
  </div>
</a>
