{{#if image.url}}
  <div class="image-wrapper">
    <img src="{{src image.url 300}}" alt="{{label}} cover">
    {{partial 'entities:photo_credits' image.credits}}
  </div>
{{/if}}
<div class="authorData text-center entity-data-box">
  <h3>
    {{#if standalone}}
      {{label}}
    {{else}}
      <a class="showEntity link" href="{{pathname}}">{{label}}</a>
    {{/if}}
  </h3>
  <h4 class="subheader">{{shortDescription}}</h4>
  {{!-- hidden class overriden by --}}
  {{!-- modules/entities/scss/_deduplicate.scss --}}
  {{!-- modules/tasks/scss/_current_task.scss --}}
  <span class="uri hidden">{{uri}}</span>
  {{#if standalone}}
    {{partial 'entities:author_claims' this}}
    {{partial 'entities:clamped_extract' this}}
    {{partial 'entities:edit_data' this}}
  {{/if}}
</div>
<a class="unwrap">{{icon 'chevron-down'}}</a>
