<div class='wiki-attributes'>
  {{> 'entities:birth_death_dates' claims}}
  {{imageClaim claims 'wdt:P109' 'signature'}} {{!-- signature --}}
  <p class="claims">
    {{entityClaim claims 'wdt:P135' true}} {{!-- movement --}}
    {{entityClaim claims 'wdt:P136' true}} {{!-- genre --}}
    {{entityClaim claims 'wdt:P27'}} {{!-- country of citizenship --}}
    {{entityClaim claims 'wdt:P103'}} {{!-- native language --}}
    {{entityClaim claims 'wdt:P1412'}} {{!-- language of expression --}}
    {{entityClaim claims 'wdt:P69' true}} {{!-- educated at --}}
    {{entityClaim claims 'wdt:P106'}} {{!-- occupation --}}
    {{entityClaim claims 'wdt:P166' true}} {{!-- award received --}}
    {{entityClaim claims 'wdt:P39'}} {{!-- position held --}}
    {{entityClaim claims 'wdt:P1066' true}} {{!-- student of --}}
    {{entityClaim claims 'wdt:P737' true}} {{!-- influence by --}}
    {{> 'entities:links_claims' this}}
    {{#if hasEbooks}}{{> 'entities:ebooks' this}}{{/if}}
  </p>
</div>