{{#if image.url}}
  <div class="image-wrapper">
    <img src="{{src image.url 300}}" alt="{{label}} cover">
    {{partial 'entities:photo_credits' image.credits}}
  </div>
{{/if}}
<div class="authorData text-center">
  <div class="entity-title-and-edit">
    <h3>
    {{#if standalone}}
      {{label}}
    {{else}}
      <a class="showEntity link" href="{{pathname}}">{{label}}</a>
    {{/if}}
    </h3>
    {{partial 'entities:edit_data' this}}
  </div>
  <h4 class="subheader">{{shortDescription}}</h4>
  {{partial 'entities:author_claims' this}}
  <p class="extract">{{{extract}}}</p>
</div>
<a class="unwrap">{{icon 'chevron-down'}}</a>
