<div class='wiki-attributes'>
  {{> 'entities:birth_death_dates' claims}}
  {{imageClaim claims 'wdt:P109'}} {{!-- signature --}}
  <p class="claims">
    {{claim claims 'wdt:P135' true}} {{!-- movement --}}
    {{claim claims 'wdt:P136' true}} {{!-- genre --}}
    {{claim claims 'wdt:P27'}} {{!-- country of citizenship --}}
    {{claim claims 'wdt:P103'}} {{!-- native language --}}
    {{claim claims 'wdt:P1412'}} {{!-- language of expression --}}
    {{claim claims 'wdt:P69' true}} {{!-- educated at --}}
    {{claim claims 'wdt:P106'}} {{!-- occupation --}}
    {{claim claims 'wdt:P166' true}} {{!-- award received --}}
    {{claim claims 'wdt:P39'}} {{!-- position held --}}
    {{claim claims 'wdt:P1066' true}} {{!-- student of --}}
    {{claim claims 'wdt:P737' true}} {{!-- influence by --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{platformClaim claims 'wdt:P4033'}} {{!-- mastodon --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter --}}
    {{platformClaim claims 'wdt:P2013'}} {{!-- facebook --}}
    {{platformClaim claims 'wdt:P2003'}} {{!-- instagram --}}
    {{platformClaim claims 'wdt:P2397'}} {{!-- youtube --}}
    {{identifierClaim claims 'wdt:P213'}} {{!-- ISNI --}}
    {{identifierClaim claims 'wdt:P214'}} {{!-- VIAF ID --}}
    {{identifierClaim claims 'wdt:P227'}} {{!-- GND ID --}}
    {{identifierClaim claims 'wdt:P244'}} {{!-- Library of Congress authority ID --}}
    {{identifierClaim claims 'wdt:P268' }} {{!-- BNF ID --}}
    {{identifierClaim claims 'wdt:P269'}} {{!-- IdRef ID --}}
    {{identifierClaim claims 'wdt:P271'}} {{!-- CiNii author ID (books) --}}
    {{identifierClaim claims 'wdt:P496'}} {{!-- ORCID --}}
    {{identifierClaim claims 'wdt:P950'}} {{!-- Biblioteca Nacional de España ID --}}
    {{identifierClaim claims 'wdt:P1006'}} {{!-- Nationale Thesaurus voor Auteurs ID --}}
    {{identifierClaim claims 'wdt:P1015'}} {{!-- BIBSYS ID --}}
    {{identifierClaim claims 'wdt:P7859'}} {{!-- WorldCat Identities ID --}}
    {{#if hasEbooks}}{{> 'entities:ebooks' this}}{{/if}}
  </p>
</div>
