<div class="bookCover">
  {{#if pictures}}
    {{!-- <img src='{{src pictures 250}}' alt='{{title}} cover'> --}}
    <img src='{{src pictures 501 1000}}' alt='{{title}} cover'>
  {{/if}}
</div>
<div class="bookLiData">
  <h3><a class='showEntity' href="{{pathname}}">{{title}}</a></h3>
  {{#if description}}
    <p class="clamped grey">{{{description}}}</p>
  {{/if}}
  {{#if wikidata}}
    <p>
      {{!-- {{partial 'entities:book_claims' this}} --}}
      {{claim claims 'P50' true}}  {{!-- author --}}
    </p>
    <p class="date">
      {{timeClaim claims 'P577' 'year' true}} {{!-- time of publication --}}
    </p>
  {{else}}
    <p class="isbn-attributes">
      {{{P '50'}}} {{{joinAuthors authors}}} <br>
      {{!-- insuffisiant data quality / homogeneity to be displayed
      {{{P 'P577'}}} {{publishedDate}} <br>
      {{{P 'P123'}}} {{publisher}} <br>
      <span class="attribute">{{i18n 'language'}}</span>{{language}} --}}
    </p>
  {{/if}}
</div>

<div class='actions'>
  <a class='showEntity' href="{{pathname}}">
    {{icon 'chevron-right'}}
    {{i18n 'more details'}}
  </a>
  {{#if mainUserHasOne}}
    <a class="hasAnInstance">
      {{i18n 'existing_instance_cant_add'}}
    </a>
  {{else}}
    <a class='addToInventory' href="{{pathname}}/add" rel="nofollow">
      {{icon 'plus'}}
      {{i18n 'add to my inventory'}}
    </a>
  {{/if}}
  <div class="counters">
    <a class='showEntity counter {{#if counter.highlight}}highlight{{/if}}' href="{{pathname}}">
      <span class="count">{{counter.count}}</span>
    </a>
    {{i18n 'network_counter_label'}}
  </div>
</div>
