{{partial 'entities:edit_wikidata' this}}
<div class='wiki-attributes'>
  <p class="claims">
    {{claim claims 'P1680'}} {{!-- subtitle --}}
    {{stringClaim claims 'P1476'}} {{!-- original title --}}
    {{claim claims 'P364'}} {{!-- original language --}}
    {{claim claims 'P50' true}} {{!-- author --}}
    {{claim claims 'P110' true}} {{!-- illustrator --}}
    {{timeClaim claims 'P577'}} {{!-- time of publication --}}
    {{claim claims 'P155' true}} {{!-- preceded by --}}
    {{claim claims 'P156' true}} {{!-- followed by --}}
    {{claim claims 'P136' true}} {{!-- genre --}}
    {{claim claims 'P135'}} {{!-- movement --}}
    {{!-- publisher is confusing: might differ from the book instance editor --}}
    {{!-- {{claim claims 'P123'}} --}}
    {{claim claims 'P921'}} {{!-- main subject --}}
    {{claim claims 'P840'}} {{!-- narrative set in --}}
    {{claim claims 'P674'}} {{!-- characters --}}
  </p>
  <p class="links">
    {{urlClaim claims 'P856'}} {{!-- official website --}}
    {{socialNetworkClaim claims 'P2002'}} {{!-- twitter: yes some books have a twitter!! actually, just one: Q20736124 --}}
  </p>
</div>