<div class="bookCover">
  {{#if pictures}}
    <img src='{{first pictures}}' alt='{{title}} cover'>
  {{/if}}
</div>
<div class="bookLiData">
  <h3><a class='showEntity' href="{{pathname}}">{{title}}</a></h3>
  {{#if description}}
    <p class="grey">{{limit description 140}}</p>
  {{/if}}
  {{#if wikidata}}
    {{!-- {{partial 'entities:book_claims' claims}} --}}
    {{claim claims 'P50' true}} {{!-- author --}}
    {{timeClaim claims 'P577' 'year' true}} {{!-- time of publication --}}
  {{else}}
    <p class="isbn-attributes">
      {{{P '50'}}} {{#each authors}}{{this}} {{/each}}
    </p>
  {{/if}}
</div>

<div class='actions'>
  <a class='showEntity' href="{{pathname}}">
    {{icon 'chevron-right'}}
    {{i18n 'more details'}}
  </a>
  <br>
  <a class='addToInventory' href="{{pathname}}/add">
    {{icon 'plus'}}
    {{i18n 'add to my inventory'}}
  </a>
  <a class='showEntity' href="{{pathname}}">
    {{icon 'cube'}}
    {{i18n 'who has it?'}}
  </a>
</div>