<div>
  {{#if pictures}}
    <img src='{{first pictures}}' alt='{{title}} cover'>
  {{/if}}
  <p></p>
</div>

<div class="bookLiData">
  <h3><a class='entityTitle' data-href="{{pathname}}">{{title}}</a></h3>
  {{#if description}}
    <p class="grey">{{limit description 140}}</p>
  {{/if}}
  {{#if wikidata}}
    {{partial 'entities:book_claims' claims}}
  {{else}}
    <p class="isbn-attributes">
      {{{P '50'}}} {{#each authors}}{{this}} {{/each}}
    </p>
  {{/if}}
</div>

<div class='actions'>
  <a class='selectEntity' data-href="{{pathname}}">
    {{icon 'chevron-right'}}
    {{i18n 'More details'}}
  </a>
  <br>
  <a class='addToInventory' data-href="{{pathname}}/add">
    {{icon 'plus'}}
    {{i18n 'Add to my inventory'}}
  </a>
  <a class='showEntity' data-href="{{pathname}}">
    {{icon 'cube'}}
    {{i18n 'Who has it?'}}
  </a>
</div>