<p class='wiki-attributes'>
  {{claim this 'P50' true}} {{!-- author --}}
  {{timeClaim this 'P577'}}
  {{claim this 'P136'}} {{!-- genre --}}
  {{claim this 'P123'}} {{!-- publisher --}}
  {{claim this 'P364'}} {{!-- original language --}}
  {{claim this 'P840'}} {{!-- narrative set in --}}
  {{claim this 'P155' true}} {{!-- preceded by --}}
  {{claim this 'P156' true}} {{!-- followed by --}}
</p>