<div class="bookCover">
  {{#if pictures}}
    <a class="zoom-button">
      <img src="{{src pictures 200 400}}"
      data-zoom-toggle="{{src pictures 500 1000}}"
      alt='{{title}} cover'>
      <span class="buttons">
        <span>{{icon 'search-plus'}}</span>
        <span class="hidden">{{icon 'search-minus'}}</span>
      </span>
    </a>
  {{/if}}
</div>
<div class="bookLiData">
  <h3><a class='showEntity' href="{{pathname}}">{{title}}</a></h3>
  {{#if description}}
    <p class="clamped grey">{{{description}}}</p>
  {{/if}}
  {{#if editable}}
    <p>
      {{!-- {{partial 'entities:book_claims' this}} --}}
      {{claim claims 'wdt:P50' true}}  {{!-- author --}}
    </p>
    <p class="date">
      {{timeClaim claims 'wdt:P577' 'year' true}} {{!-- time of publication --}}
    </p>
  {{else}}
    <p class="isbn-attributes">
      {{{prop 'wdt:P50'}}} {{{joinAuthors authors}}} <br>
      {{!-- insuffisiant data quality / homogeneity to be displayed
      {{{prop 'wdt:P577'}}} {{publishedDate}} <br>
      {{{prop 'wdt:P123'}}} {{publisher}} <br>
      <span class="attribute">{{i18n 'language'}}</span>{{language}} --}}
    </p>
  {{/if}}
</div>

<div class='actions'>
  <a class='showEntity' href="{{pathname}}">
    {{icon 'chevron-right'}}
    {{i18n 'more details'}}
  </a>
  <a class='addToInventory' href="{{pathname}}/add" rel="nofollow">
    {{icon 'plus'}}
    {{i18n 'add to my inventory'}}
  </a>
  <div class="counters">
    <a class='showEntity counter {{#if counter.highlight}}highlight{{/if}}' href="{{pathname}}">
      <span class="count">{{counter.count}}</span>
    </a>
    {{i18n 'network_counter_label'}}
  </div>
</div>
