<ul class="names">
  {{#each names}}
    <li><a class="name tiny-button light-blue" data-key="{{key}}">{{key}} ({{value}})</a></li>
  {{/each}}
</ul>
<div class="authors-loading"></div>
<div class="authors"></div>
<div class="controls">
  {{!-- use wrapper to bind alert boxes to their associated button --}}
  <div class="wrapper">
    <a class="merge dangerous-button">{{icon 'compress'}}{{I18n 'merge'}}<span class="loading"></span></a>
  </div>
</div>
