<div class="ebooks">
  <span>{{I18n 'ebooks'}}:</span>
  {{#if wikisource.url}}
    {{iconLinkText name='wikisource' url=wikisource.url i18n='on_website' i18nArgs='name=Wikisource' classes='link wikisource'}}
  {{/if}}
  {{platformClaim claims gutenbergProperty}}
  {{platformClaim claims 'wdt:P724'}}
  {{platformClaim claims 'wdt:P4258'}}
</div>
