<div class="row-wrap">
  <div class="edition-data">
    <div class="cover">
      {{#if image.url}}
        <img src="{{src image.url 300}}" alt="{{label}}">
      {{/if}}
    </div>
    <div class="claims">
      <h2>{{label}}</h2>
      <div class="inner-claims">
        <strong>{{claim claims 'wdt:P629' true false true}}  {{!-- edition of --}}</strong>
        <br>
        {{claim claims 'wdt:P50' true false true}}  {{!-- author --}}<br>
        {{claim claims 'wdt:P179' true}} {{!-- serie --}}
        <br>
        {{partial 'entities:edition_claims' this}}
        {{partial 'entities:edit_data' this}}
      </div>
    </div>
  </div>
  <div class="instances">
    <div id="entityActions"></div>
    {{partial 'entities:items_lists'}}
  </div>
</div>

<a class="showEntity light-blue-button capitalize" href="{{work.pathname}}" title="{{work.label}}">{{I18n 'see all editions'}}</a>

{{partial 'welcome:embedded_welcome'}}
