<h3 class="layout-type-label">{{I18n 'edition'}}</h3>

<div class="edition-data-wrapper">

  <div class="edition-data">
    {{#if image.url}}
      <div class="cover">
        <img src="{{imgSrc image.url 300}}" alt="{{label}}">
      </div>
    {{/if}}
    <div class="claims entity-data-box">
      <h2 class="edition-title">{{stringClaim claims 'wdt:P1476' true }}</h2>
      {{partial 'entities:edition_claims' this}}
      {{partial 'entities:edit_data' this}}
    </div>
  </div>

  <div class="editionEntityActions"></div>

  {{partial 'entities:items_lists' prefix='edition'}}

</div>

<div class="works"></div>

{{partial 'entities:editor:edit_meta' this}}

{{partial 'welcome:embedded_welcome'}}
