{{#if standalone}}
<h2><a class="showEntity" href="{{work.pathname}}" title="{{work.label}}">{{work.label}}</a></h2>
<p class="work-data">
  {{#with work}}
    {{claim claims 'wdt:P50' true false true}}  {{!-- author --}}<br>
    {{claim claims 'wdt:P179' true}} {{!-- serie --}}
  {{/with}}
</p>
<div class="editionLi">
{{/if}}
<div>
  {{#if claims.wdt:P18}}
    <img src="{{src claims.wdt:P18 128}}" alt="{{label}}">
  {{/if}}
</div>
<div class="data">
  <div>
    {{{i18n 'language'}}}:
    {{#each claims.wdt:P407}}
      {{{entity this false}}}&nbsp;
    {{/each}}
  </div>
  <div>
    {{#if claims.wdt:P577}}
      {{{prop 'wdt:P577'}}}
      {{dateYear claims.wdt:P577}}
    {{/if}}
  </div>
  {{!-- not so important for most users --}}
  <div>
    {{{prop 'wdt:P212'}}}
    {{claims.wdt:P212}}
  </div>
</div>
<div class="actions">
  <a class="add">
    {{icon 'plus'}}
    <span>{{i18n 'add to my inventory'}}</span>
  </a>
</div>
{{#if standalone}}
  </div>
  <a class="showEntity light-blue-button capitalize" href="{{work.pathname}}" title="{{work.label}}">{{I18n 'see all editions'}}</a>
{{/if}}
