{{#if standalone}}
  <h2><a class="showEntity" href="{{work.pathname}}" title="{{work.label}}">{{work.label}}</a></h2>
  <p class="work-data">
    {{#with work}}
      {{claim claims 'wdt:P50' true false true}}  {{!-- author --}}<br>
      {{claim claims 'wdt:P179' true}} {{!-- serie --}}
    {{/with}}
  </p>
  <div class="editionLi flex-row">
{{/if}}

<div>
  {{#if claims.wdt:P18}}
    <img src="{{src claims.wdt:P18 128}}" alt="{{label}}">
  {{/if}}
</div>
<div class="right-part flex-grow">
  <div class="flex-row">
    <div class="claims">
      {{partial 'entities:edition_claims' this}}
    </div>
    <div class="actions flex-column-center-center">
      <a class="add">
        {{icon 'plus'}}
        <span>{{i18n 'add to my inventory'}}</span>
      </a>
    </div>
  </div>
  {{partial 'entities:items_lists'}}
</div>

{{#if standalone}}
  </div>
  <a class="showEntity light-blue-button capitalize" href="{{work.pathname}}" title="{{work.label}}">{{I18n 'see all editions'}}</a>
{{/if}}
