<div class="edit-data-buttons">
  {{#if edit}}
    <a href="{{edit}}"
      class="showEntityEdit pencil"
      {{#if wikidata}}
        title="{{i18n 'edit data on Wikidata'}}"
      {{else}}
        title="{{i18n 'edit data'}}"
      {{/if}}
      >
      {{icon 'pencil'}}
    </a>
    {{#if wikidata}}{{#unless hideRefreshButton}}
      <a class="refreshEntityData" title="{{i18n 'refresh Wikidata data'}}">
        {{icon 'refresh'}}
      </a>
    {{/unless}}{{/if}}
  {{/if}}
</div>
