{{#if edit}}
  <a href="{{edit}}"
    class="showEntityEdit pencil"
    {{#if wikidata}}
      title="{{i18n 'edit data on Wikidata'}}"
      target="_blank"
    {{else}}
      title="{{i18n 'edit data'}}"
    {{/if}}
    >
    {{icon 'pencil'}}
  </a>
{{/if}}
