<div class="edit-data-buttons">
  {{#if edit}}
    <a href="{{edit}}" class="showEntityEdit pencil" title="{{i18n 'edit data'}}">
      {{icon 'pencil'}}
    </a>
    {{#if wikidata}}
      {{iconLink 'barcode' wikidata.url i18n='see on Wikidata' linkClasses='showOnWikidata'}}
      {{#unless hideRefreshButton}}
        <a class="refreshEntityData" title="{{i18n 'refresh Wikidata data'}}">{{icon 'refresh'}}</a>
      {{/unless}}
    {{/if}}
  {{/if}}
  {{#if showDeduplicateEntityButton}}
    <a class="deduplicateSubEntities" title="{{i18n 'deduplicate sub-entities'}}">{{icon 'compress'}}</a>
  {{/if}}
  {{#if showCleanupButton}}
    {{iconLink 'arrows' cleanup classes='showEntityCleanup' i18n='cleanup entity'}}
  {{/if}}
</div>
