<div>
  <span class="property-value">{{i18n 'language'}}:</span>
  {{#each claims.wdt:P407}}
    {{{entity this false}}}&nbsp;
  {{/each}}
</div>
{{#if claims.wdt:P577}}
  <div>
    {{{prop 'wdt:P577'}}}
    {{dateYear claims.wdt:P577}}
  </div>
{{/if}}
{{!-- not so important for most users --}}
<div>
  {{#if claims.wdt:P212}}
    {{{prop 'wdt:P212'}}}
    {{claims.wdt:P212}}
  {{else}}
    <span class="property-value">{{i18n 'inventaire id'}}:</span> {{_id}}
  {{/if}}
</div>
{{#if claims.wdt:P957}}
  <div>
    {{{prop 'wdt:P957'}}}
    {{dateYear claims.wdt:P957}}
  </div>
{{/if}}
