<div class="row-wrap">
  <div class="edition-data">
    <div class="cover">
      {{#if image.url}}
        <img src="{{imgSrc image.url 300}}" alt="{{label}}">
      {{/if}}
    </div>
    <div class="claims entity-data-box">
      <h2 class="edition-title">{{stringClaim claims 'wdt:P1476' true }}</h2>
      {{partial 'entities:edition_claims' this}}
      {{partial 'entities:edit_data' this}}
    </div>
  </div>
  <div class="instances">
    <div class="editionEntityActions"></div>
    {{partial 'entities:items_lists' prefix='edition'}}
  </div>
</div>

<div class="works">
  {{#each works}}
    <a class="showEntity light-blue-button capitalize" href="{{pathname}}" title="{{label}}">{{I18n 'see_all_work_editions' this}}</a>
  {{/each}}
</div>

{{partial 'entities:editor:edit_meta' this}}

{{partial 'welcome:embedded_welcome'}}
