<h3>{{i18n header}}</h3>
{{#if hasEditions}}
  <div class="filters">
    <select class="languageFilter" name="language-filter">
      <option value="all">{{i18n 'all languages'}}</option>
      {{#each availableLanguages}}
        <option value="{{code}}" {{#if selected}}selected{{/if}}>{{code}} - {{native}}</option>
      {{/each}}
    </select>
  </div>
{{/if}}
<ul></ul>
{{partial 'entities:editor:edition_creation' editionCreationData}}
