<div class="meta">
  {{#if signalDataErrorButton}}
    <a id="signalDataError" class="tiny-button alert" title="{{i18n 'signal_an_error_in_entity_data'}}" tabindex="0">{{icon 'flag'}}{{i18n 'signal an error'}}</a>
  {{/if}}
  <p class="uri">{{uri}}{{#if altUri}} - {{altUri}}{{/if}}</p>
</div>
