<div class="entityAction">
  <ul class="button-group">
    <li>
      <a id='addToInventory' class="has-tip button success" title="{{i18n 'add it to my inventory'}}">
        {{icon 'plus'}}
        {{i18n 'add it to my inventory'}}
      </a>
    </li>
    <li>
      <a class="button success" data-options="is_hover:true" data-dropdown="have">{{icon 'chevron-down'}}</a>
      <ul id="have" class="small f-dropdown" data-dropdown-content>
        <li class="dropdownLegend"><label>
          {{i18n "I have it and it is available for:"}}
        </label></li>
        <li><a id="giving">{{icon 'heart'}} <span>{{I18n 'giving'}}</span></a></li>
        <li><a id="lending">{{icon 'history'}} <span>{{I18n 'lending'}}</span></a></li>
        <li><a id="selling">{{icon 'money'}} <span>{{I18n 'selling'}}</span></a></li>
        <li><a id="inventorying">{{icon 'cube'}} <span>{{I18n 'inventorize_it'}}</span></a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="entityAction">
  {{#if following}}
    <a id='stopFollowing' class="button grey">
      {{icon 'rss'}}
      <span>{{i18n 'following activity'}}</span>
      <span class="hidden">{{i18n 'stop following'}}</span>
    </a>
  {{else}}
    <a id='followActivity' class="button secondary">
      {{icon 'rss'}} {{i18n "I'm looking for it"}}
    </a>
  {{/if}}
</div>