{{#unless hideHeader}}
  <div class="header">
    <h3>{{#if customTitle}}{{{title}}}{{else}}{{I18n title}}{{/if}}</h3>
    <span class="counter">{{totalLength}}</span>
  </div>
{{/unless}}
<div class="container"></div>
<div class="works-list-controls">
  {{#if more}}
    <button class="displayMore">
      {{icon 'chevron-down'}}{{i18n 'display more'}}
      <span class="counter">{{more}}</span>
    </button>
  {{/if}}
  {{#if addButtonLabel}}
    <button class="addOne">
      {{icon 'plus'}}{{I18n addButtonLabel}}
    </button>
  {{/if}}
</div>
