{{!-- TODO: keep it minimalist and make edition possible from entities show--}}
<form class="entityCreateForm">
  <div class="fields">
    <h3>{{header}}</h3>
    <h4>{{i18n 'title'}} {{partial 'entities:needed'}}</h4>
    {{partial 'text_field' titleField}}

    <h4>{{i18n 'P50'}} {{partial 'entities:needed'}}</h4>
    {{partial 'text_field' authorsField}}

    <h4>ISBN</h4>
    {{partial 'text_field' isbnField}}
  </div>
  <div class="pics">
    <div class="pictures">
      {{#each pictures}}
        <img src="{{src this 300}}">
      {{/each}}
    </div>
    <a id="addPicture" class="button">{{icon 'camera'}} {{i18n 'add a picture'}}</a>
  </div>
</form>

<div id="entityActions"></div>
