<div class="entityBox">
  <div class='cover'>
    {{#if pictures}}
      <img src="{{first pictures}}" alt="{{label}} {{i18n 'cover'}}">
    {{/if}}
  </div>
  <div class="data">
    <h2>{{title}}</h2>
    <h3>
      {{#if wikidata}}
        {{!-- WIKIDATA ATTRIBUTES --}}
        {{partial 'entities:book_claims' claims}}
      {{else}}
        <p class="isbn-attributes">
          {{{P '50'}}}{{#each authors}}{{this}} {{/each}}
        </p>
      {{/if}}
    </h3>
  </div>
</div>