<a href="{{pathname}}" class="showEntity">
  {{#if image.url}}
    <div class="image-wrapper">
      <img src="{{imgSrc image.url 200}}" alt="{{label}}">
    </div>
  {{/if}}
  <div class="info">
    <p class="label">{{label}}</p>
    <p class="description">{{description}}</p>
    <div class="claims">
      {{claim claims 'wdt:P50'}}  {{!-- author --}}
      {{claim claims 'wdt:P58'}} {{!-- scenarist --}}
      {{claim claims 'wdt:P110'}} {{!-- illustrator --}}
      {{claim claims 'wdt:P6338'}} {{!-- colorist --}}
      {{#if edition}}
        {{claim claims 'wdt:P123'}} {{!-- publisher --}}
        {{claim claims 'wdt:P195'}} {{!-- collection --}}
        {{claim claims 'wdt:P98'}} {{!-- editor --}}
      {{/if}}
      {{#if collection}}
        {{claim claims 'wdt:P123'}} {{!-- publisher --}}
        {{claim claims 'wdt:P98'}} {{!-- editor --}}
      {{/if}}
      {{timeClaim claims 'wdt:P577'}} {{!-- publication date --}}
      {{claim claims 'wdt:P407'}} {{!-- language --}}
    </div>
  </div>
</a>

<div class="status">
  <a class="tiny-button light-blue add {{#if alreadyAdded}}hidden{{/if}}">{{icon 'plus'}} {{i18n 'add'}}</a>
  <span class="added {{#unless alreadyAdded}}hidden{{/unless}}">{{icon 'check'}} {{i18n 'added'}}</span>
</div>
