<h3 class="parent-label">{{parent.label}}</h3>
<p class="context">{{I18n header}}</p>
<div>
  <input type="text" placeholder="{{I18n 'search_verb'}}...">
</div>

<div class="entitiesListElementCandidates"></div>

<a href="{{createPath}}" class="create tiny-button light-blue">{{icon 'plus'}}{{I18n 'create'}}</a>
