{{#unless hidePicture}}
  {{#if pictures}}
    <div class="cover">
        <img src="{{src pictures 300}}" alt="{{title}} {{i18n 'cover'}}">
        {{partial 'entities:photo_credits' pictureCredits}}
    </div>
  {{/if}}
{{/unless}}

<div class="data">
  {{#if entityPage}}
    <h2>{{title}}</h2>
  {{else}}
    <h2><a href="{{pathname}}" class="showEntity">{{title}}</a></h2>
  {{/if}}
  <p class="uri">{{uri}}</p>

  <p class="description {{#if descOverflow}}clamped{{/if}}">
    {{{description}}}
  </p>
  {{#if descOverflow}}
    <a class='toggler'>
      {{icon 'chevron-down'}}
      {{icon 'chevron-up' 'hidden'}}
    </a>
  {{/if}}
  <div class="attributes">
    {{#if editable}}
      {{partial 'entities:book_claims' this}}
    {{else}}
      <p class="isbn-attributes">
        {{#if authors}} {{{prop 'wdt:P50'}}} {{{joinAuthors authors}}} <br> {{/if}}
        {{#if publishedDate}}{{{prop 'wdt:P577'}}} {{dateYear publishedDate}} <br> {{/if}}
        {{#if publisher}}<span>{{i18n 'publisher'}}:</span>{{publisher}} <br> {{/if}}
        {{#if pageCount}}<span>{{i18n 'pages'}}:</span>{{pageCount}} <br> {{/if}}
        {{!-- displays an ugly 2 letters code --}}
        {{!-- {{#if language}}<span>{{i18n 'language'}}:<span> {{language}} {{/if}} --}}
        {{!-- <span class="source">
          {{#if source}}<span>{{i18n 'source'}}:</span>{{source}} <br> {{/if}}
        </span> --}}
      </p>
    {{/if}}
  </div>
</div>
