<div class="entityCreateForm">
  <div>
    <h3>{{header}}</h3>
    <h4>{{i18n 'title'}} <span class="needed">({{i18n 'needed'}})</span></h4>
    <input id="title" type="text" placeholder="{{i18n "ex: Hamlet"}}" value="{{title}}">

    <h4>{{i18n 'P50'}}</h4>
    <input id="authors" type="text" placeholder="{{i18n "ex: William Shakespeare"}}" value="{{authors}}">
  </div>
  <div>
    <div class="pictures">
      {{#each pictures}}
        <img src="{{this}}">
      {{/each}}
    </div>
    <a id="addPicture" class="button">{{icon 'camera'}} {{i18n 'add a picture'}}</a>
  </div>
</div>

<div class="entityActions">
  {{partial 'entities:entity_actions' this}}
</div>