{{#if image.url}}
  <div class="cover">
    <img src="{{src image.url 300}}" alt="{{label}} {{i18n 'cover'}}">
  </div>
{{/if}}

<div class="data">
  <h2><a href="{{pathname}}" class="showEntity link">{{label}}</a></h2>
  <p class="uri">{{uri}}</p>
  {{partial 'entities:clamped_extract' this}}
</div>
