{{#unless hidePicture}}
  <div class="cover">
    {{#if pictures}}
      <img src="{{src pictures 300}}" alt="{{title}} {{i18n 'cover'}}">
    {{/if}}
  </div>
{{/unless}}

<div class="data">
  <h2>{{title}}</h2>
  <p class="uri">{{uri}}</p>

  {{#if descOverflow}}
    <a id='toggleDescLength' class='medium right'> {{icon 'chevron-down'}}{{icon 'chevron-up' 'hidden'}} </a>
  {{/if}}
  <p id='shortDesc' class='grey'>{{limit description 500}}</p>
  <p id='fullDesc' class='grey hidden'>{{description}}</p>

  {{#if wikidata}}
    {{partial 'entities:book_claims' claims}}
  {{else}}
    <p class="isbn-attributes">
      {{{P '50'}}} {{join authors}}
    </p>
  {{/if}}
</div>