<h3><a class="showEntity link" href="{{pathname}}" title="{{label}}">{{label}}</a></h3>
<strong>{{claim claims 'wdt:P31' false true}}</strong> {{!-- instance of --}}
<p class="uri">{{uri}}</p>
<p class="description">{{description}}</p>
