{{#if image.url}}
  <a class="showEntity img-link" href="{{pathname}}">
    {{#if small}}
      <div class="image-wrapper has-background-image" style="background-image: url({{imgSrc image.url 300}})"></div>
    {{else}}
      <div class="image-wrapper">
        <img src="{{imgSrc image.url 300}}" alt="{{label}} cover">
        {{partial 'entities:photo_credits' image.credits}}
      </div>
    {{/if}}
  </a>
{{/if}}
<div class="data">
  <h2><a class="showEntity link" href="{{pathname}}">{{label}}</a></h2>
  <h3 class="subheader">{{description}}</h3>
  {{#if extract}}
    <p class="extract" dir="{{extractDirection}}">{{{extract}}}</p>
  {{/if}}
</div>
