<div class="items-lists">
  <div class="{{hash.prefix}}PersonalItems personal"></div>
  <div class="{{hash.prefix}}NetworkItems network"></div>
  <div class="{{hash.prefix}}PublicItems public"></div>
  <div class="{{hash.prefix}}NearbyPublicItems nearby"></div>
  <div class="{{hash.prefix}}OtherPublicItems other"></div>
</div>
{{#unless hash.disabled}}
  <div class="items-lists-loader">
    {{partial 'loader' inline=true}}
    <span class="label">{{i18n 'fetching available books...'}}</span>
  </div>
{{/unless}}
