<a class="showItem" href="{{pathname}}" title="{{title}}">
  {{#if picture}}<img src="{{imgSrc picture 64}}" alt="{{title}}">{{/if}}
  <img src="{{imgSrc user.picture 64}}" alt="{{user.username}}">
  <div class="user-info">
    <p class="username">{{user.username}}</p>
    {{#if distanceFromMainUser}}
      <p class="distance">{{i18n 'km_away' distance=distanceFromMainUser}}</p>
    {{/if}}
  </div>
  <p class="details">{{details}}</p>
</a>
