<div class="items-lists">
  <div class="{{prefix}}PersonalItems personal"></div>
  <div class="{{prefix}}NetworkItems network"></div>
  <div class="{{prefix}}PublicItems public"></div>
  <div class="{{prefix}}NearbyPublicItems nearby"></div>
  <div class="{{prefix}}OtherPublicItems other"></div>
</div>
{{#unless disabled}}
  <div class="items-lists-loader">
    {{> 'loader' inline=true}}
    <span class="label">{{i18n 'fetching available books…'}}</span>
  </div>
{{/unless}}
