<div class="header">
  <h3>
    {{icon header.icon}}
    <span class="label">{{I18n header.label}}</span>
  </h3>
  {{#if canShowOnMap}}
    <a class="showOnMap tiny-button soft-grey">{{icon 'map-marker'}}{{I18n 'show on map'}}</a>
  {{/if}}
</div>
<div class="items-lists-per-transactions">
  <div class="giving"></div>
  <div class="lending"></div>
  <div class="selling"></div>
  <div class="inventorying"></div>
</div>
{{#if emptyList}}
  <div class="empty-list">{{i18n 'nothing here'}}</div>
{{/if}}
