{{#if showDetails}}
  <a class="showItem" href="{{pathname}}" title="{{title}}">
    <img src="{{imgSrc user.picture 48}}" alt="{{user.username}}">
    <div class="right-part">
      <p class="username">{{user.username}}</p>
      {{#if details}}<p class="details">{{details}}</p>{{/if}}
      <p class="distance">{{i18n 'km_away' distance=distanceFromMainUser}}</p>
    </div>
  </a>
{{else}}
  <a class="showItem" href="{{pathname}}" title="{{title}}">
    <img src="{{imgSrc user.picture 32}}" alt="{{user.username}}">
  </a>
{{/if}}
