{{#if image.url}}
  <div class="image-wrapper">
    <img src="{{imgSrc image.url 300}}" alt="{{label}} cover">
    {{partial 'entities:photo_credits' image.credits}}
  </div>
{{/if}}
<div class="publisherData text-center entity-data-box">
  <h3 class="showEntity">{{label}}</h3>
  <h4 class="subheader">{{description}}</h4>
  {{!-- hidden class overriden by --}}
  {{!-- modules/entities/scss/_deduplicate.scss --}}
  {{!-- modules/tasks/scss/_current_task.scss --}}
  <span class="uri hidden">{{uri}}</span>
  {{partial 'entities:publisher_claims' this}}
  {{partial 'entities:clamped_extract' this}}
  {{partial 'entities:edit_data' this}}
</div>
