<div class='wiki-attributes'>
  <p class="claims">
    {{timeClaim claims 'wdt:P571'}} {{!-- inception --}}
    {{timeClaim claims 'wdt:P576'}} {{!-- dissolution --}}
    {{claim claims 'wdt:P112'}} {{!-- founded by --}}
    {{claim claims 'wdt:P127'}} {{!-- owned by --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{platformClaim claims 'wdt:P4033'}} {{!-- mastodon --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter --}}
    {{platformClaim claims 'wdt:P2013'}} {{!-- facebook --}}
  </p>
</div>
