<div class='wiki-attributes'>
  {{imageClaim claims 'wdt:P109'}} {{!-- signature --}}
  <p class="claims">
    {{claim claims 'wdt:P17'}} {{!-- country of citizenship --}}
    {{claim claims 'wdt:P571'}} {{!-- inception --}}
    {{claim claims 'wdt:P576'}} {{!-- dissolution --}}
    {{claim claims 'wdt:P112'}} {{!-- founded by --}}
    {{claim claims 'wdt:P127'}} {{!-- owned by --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{platformClaim claims 'wdt:P4033'}} {{!-- mastodon --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter --}}
    {{platformClaim claims 'wdt:P2013'}} {{!-- facebook --}}
    {{claim claims 'wdt:P3035'}} {{!-- ISBN publisher prefix --}}
  </p>
</div>