{{#if image.url}}
  <div class="left">
    <img src="{{imgSrc image.url 120}}" class="img-zoom-in">
  </div>
{{/if}}
<div class="right">
  <div class="top">
    <span class="label">{{label}}</span>
    <a href="{{edit}}" class="showEntityEdit pencil" title="{{i18n 'edit data'}}">
      {{icon 'pencil'}}
    </a>
  </div>
  <span class="uri">{{uri}}</span>
  <div class="actions">
    <a class="changeWork">
      {{icon 'arrows'}}
      <span>{{i18n "change edition's work"}}</span>
    </a>
    {{#if worksList}}
      <div class="workPicker hidden">
        <select class="workPickerSelect">
          <option>--</option>
          {{#each worksList}}
            <option value="{{uri}}">{{richLabel}}</option>
          {{/each}}
        </select>
        <a class="validate tiny-success-button invisible">{{I18n 'validate'}}</a>
      </div>
    {{/if}}

    {{#if workLabel}}
      <a class="copyWorkLabel" title="{{i18n 'the edition new title would be:'}} {{workLabel}}">
        {{icon 'copy'}}
        <span>{{i18n 'copy work label'}}</span>
      </a>
    {{/if}}
  </div>
</div>
