{{#if image.url}}
  <div class="cover">
    <img src="{{imgSrc image.url 300}}" alt="{{label}}">
    {{> 'entities:photo_credits' image.credits}}
  </div>
{{/if}}
<div class="entity-data-box">
  {{#if standalone}}
    <h2 class="title" lang="{{labelLang}}">{{label}}</h2>
  {{else}}
    <h3 class="title" lang="{{labelLang}}"><a href="{{pathname}}" class="showEntity link">{{label}}</a></h3>
  {{/if}}
  {{#if standalone}}{{> 'entities:clamped_extract' this}}{{/if}}
  {{> 'entities:authors_preview_lists'}}
  {{#if standalone}}
    <div class="claims-wrapper">{{> 'entities:work_claims' this}}</div>
    {{> 'entities:edit_data' this}}
  {{/if}}
</div>
