{{#if image.url}}
  <div class="cover">
    <img src="{{src image.url 300}}" alt="{{label}}">
    {{partial 'entities:photo_credits' image.credits}}
  </div>
{{/if}}
<div class="entity-data-box">
  {{#if standalone}}
    <h2 class="title">{{label}}</h2>
  {{else}}
    <h3 class="title"><a href="{{pathname}}" class="showEntity link">{{label}}</a></h3>
  {{/if}}
  {{#if standalone}}{{partial 'entities:clamped_extract' this}}{{/if}}
  <div class="authors"></div>
  {{#if standalone}}
    <div class="claims-wrapper">{{partial 'entities:work_claims' this}}</div>
    {{partial 'entities:edit_data' this}}
  {{/if}}
</div>
