<div class="header">
  {{icon 'wikidata'}}
  <h3>Wikidata</h3>
</div>
<p class="edit-intro">{{{i18n 'wikidata_edit_intro' introData}}}</p>
<div class="actions">
  <a href="{{wikidata.wiki}}" target="_blank" class="button grey">{{icon 'pencil'}}Edit on Wikidata</a>
  <a href="{{wikidataOauth}}" class="button success">{{icon 'plug'}}Connect Wikidata account</a>
</div>
<p>{{link url=wikidataIntro i18n='Learn more about Wikidata'}}</p>
