<div class="header">
  {{icon 'wikidata-colored'}}
  <h3>Wikidata</h3>
</div>
<p class="edit-intro">{{{i18n 'wikidata_edit_intro' introData}}}</p>
<div class="actions">
  <a href="{{wikidata.wiki}}" target="_blank" class="button grey">{{icon 'pencil'}}{{i18n 'Edit on Wikidata'}}</a>
  {{#if isLoggedIn}}
    <a href="{{wikidataOauth}}" class="button success">{{icon 'plug'}}{{i18n 'Connect Wikidata account'}}</a>
  {{else}}
    <a href="/login" class="button success loginRequest">{{icon 'plug'}}{{i18n 'Login & connect your Wikidata account'}}</a>
  {{/if}}
</div>
<p>{{link url=wikidataIntro i18n='Learn more about Wikidata'}}</p>
