<div class='wiki-attributes'>
  <p class="claims">
    <strong>{{claim claims 'wdt:P31' false true}}</strong> {{!-- instance of --}}
    {{claim claims 'wdt:P179' true}} {{!-- serie --}}
    {{stringClaim claims 'wdt:P1476'}} {{!-- original title --}}
    {{stringClaim claims 'wdt:P1680'}} {{!-- subtitle --}}
    {{claim claims 'wdt:P364'}} {{!-- original language --}}
    {{claim claims 'wdt:P50' true null true}} {{!-- author --}}
    {{{joinAuthors claims.wdt:P2093}}}<br> {{!-- short author name --}}
    {{claim claims 'wdt:P110' true}} {{!-- illustrator --}}
    {{timeClaim claims 'wdt:P577'}} {{!-- time of publication --}}
    {{claim claims 'wdt:P144' true}} {{!-- based on --}}
    {{claim claims 'wdt:P155' true}} {{!-- preceded by --}}
    {{claim claims 'wdt:P156' true}} {{!-- followed by --}}
    {{claim claims 'wdt:P136' true}} {{!-- genre --}}
    {{claim claims 'wdt:P135'}} {{!-- movement --}}
    {{claim claims 'wdt:P921'}} {{!-- main subject --}}
    {{claim claims 'wdt:P840'}} {{!-- narrative set in --}}
    {{claim claims 'wdt:P674'}} {{!-- characters --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{urlClaim claims 'wdt:P953'}} {{!-- full text available at --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter: yes some books have a twitter!! actually, just one: Q20736124 --}}
    {{#if hasEbooks}}{{partial 'entities:ebooks' this}}{{/if}}
    </p>
</div>