{{#if image.url}}
  <div class="workCover">
    <a class="showEntity" href="{{pathname}}">
      <img src="{{src image.url 200 400}}"
      data-zoom-toggle="{{src image.url 500 1000}}"
      alt='{{label}} cover'>
      <div class="zoom-buttons">
        <span>{{icon 'search-plus'}}</span>
        <span class="hidden">{{icon 'search-minus'}}</span>
      </div>
    </a>
  </div>
{{/if}}
<div class="workLiData">
  <h4>
    <a class="showEntity link" href="{{pathname}}">
      {{#if claims.wdt:P1545}}
        <span class="ordinal">{{claims.wdt:P1545}}.</span>
      {{/if}}
      {{label}}
    </a>
  </h4>
  {{#if showAllLabels}}
    <ul class="all-labels">
      {{#each labels}}
        <li class="labels">
          <span class="lang">{{@key}}: </span>
          <span class="value">{{this}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if description}}
    <p class="description clamped grey">{{{description}}}</p>
  {{/if}}
  {{!-- Only show in deduplication mode --}}
  <span class="uri hidden">{{uri}}</span>
  <p class="claims">
    {{claim claims 'wdt:P50' true}}  {{!-- author --}}
  </p>
  <p class="date">
    {{timeClaim claims 'wdt:P577' 'year' true}} {{!-- time of publication --}}
  </p>
</div>

{{#if showActions}}
  <div class='actions'>
    <a class='showEntity' href="{{pathname}}">
      {{icon 'chevron-right'}}
      {{i18n 'more details'}}
    </a>
    <a class='addToInventory' href="{{pathname}}/add" rel="nofollow">
      {{icon 'plus'}}
      {{i18n 'add to my inventory'}}
    </a>
    <div class="counters">
      <a class='showEntity counter {{#if counter.highlight}}highlight{{/if}}' href="{{pathname}}">
        <span class="count">{{counter.count}}</span>
      </a>
      {{i18n 'network_counter_label'}}
    </div>
  </div>
{{/if}}

<a class="unwrap">{{icon 'chevron-down'}}</a>
<a class="rewrap">{{icon 'chevron-up'}}</a>
