{{#unless hideHeader}}
  <div class="header">
    <h3>{{#if customTitle}}{{{title}}}{{else}}{{i18n title}}{{/if}}</h3>
    <span class="counter">{{totalLength}}</span>
  </div>
{{/unless}}
<div class="container"></div>
<div class="works-list-controls">
  {{#if more}}
    <a class="displayMore">
      {{icon 'chevron-down'}}{{i18n 'display more'}}
      <span class="counter">{{more}}</span>
    </a>
  {{/if}}
  {{#if addOne}}
    <a href="{{addOne.href}}" class="addOne {{#if more}}hidden{{/if}}">
      {{icon 'plus'}}{{i18n addOne.label}}
    </a>
  {{/if}}
</div>
