<div class='wiki-attributes'>
  <p class="claims">
    {{!-- TODO: make series be highlighted like authors --}}
    {{entityClaim claims 'wdt:P361' true}} {{!-- part of --}}
    {{entityClaim claims 'wdt:P179' true}} {{!-- serie --}}
    {{stringClaim claims 'wdt:P1545'}} {{!-- serie ordinal --}}
    {{stringClaim claims 'wdt:P1476'}} {{!-- original title --}}
    {{stringClaim claims 'wdt:P1680'}} {{!-- subtitle --}}
    {{entityClaim claims 'wdt:P407'}} {{!-- original language --}}
    {{timeClaim claims 'wdt:P577'}} {{!-- publication date --}}
    {{entityClaim claims 'wdt:P144' true}} {{!-- based on --}}
    {{entityClaim claims 'wdt:P941' true}} {{!-- inspired by --}}
    {{entityClaim claims 'wdt:P136' true}} {{!-- genre --}}
    {{entityClaim claims 'wdt:P135' true}} {{!-- movement --}}
    {{entityClaim claims 'wdt:P921' true}} {{!-- main subject --}}
    {{entityClaim claims 'wdt:P840' true}} {{!-- narrative set in --}}
    {{entityClaim claims 'wdt:P674' true}} {{!-- characters --}}
    {{entityClaim claims 'wdt:P1433' true}} {{!-- published in --}}
    {{entityClaim claims 'wdt:P155' true}} {{!-- preceded by --}}
    {{entityClaim claims 'wdt:P156' true}} {{!-- followed by --}}
    {{urlClaim claims 'wdt:P856'}} {{!-- official website --}}
    {{urlClaim claims 'wdt:P953'}} {{!-- full text available at --}}
    {{platformClaim claims 'wdt:P2002'}} {{!-- twitter: yes some books have a twitter!! actually, just one: Q20736124 --}}
    {{#if hasEbooks}}{{> 'entities:ebooks' this}}{{/if}}
  </p>
</div>
