{{#if image.url}}
  <div class="workCover">
      <a class="zoom-button">
        <img src="{{src image.url 200 400}}"
        data-zoom-toggle="{{src image.url 500 1000}}"
        alt='{{label}} cover'>
        <span class="buttons">
          <span>{{icon 'search-plus'}}</span>
          <span class="hidden">{{icon 'search-minus'}}</span>
        </span>
      </a>
  </div>
{{/if}}
<div class="workLiData">
  <h4>
    <a class="showEntity link" href="{{pathname}}">
      {{#if claims.wdt:P1545}}
        <span class="ordinal">{{claims.wdt:P1545}}.</span>
      {{/if}}
      {{label}}
    </a>
  </h4>
  {{#if description}}
    <p class="clamped grey">{{{description}}}</p>
  {{/if}}
  <p>
    {{!-- {{partial 'entities:work_claims' this}} --}}
    {{claim claims 'wdt:P50' true}}  {{!-- author --}}
  </p>
  <p class="date">
    {{timeClaim claims 'wdt:P577' 'year' true}} {{!-- time of publication --}}
  </p>
</div>

<div class='actions'>
  <a class='showEntity' href="{{pathname}}">
    {{icon 'chevron-right'}}
    {{i18n 'more details'}}
  </a>
  <a class='addToInventory' href="{{pathname}}/add" rel="nofollow">
    {{icon 'plus'}}
    {{i18n 'add to my inventory'}}
  </a>
  <div class="counters">
    <a class='showEntity counter {{#if counter.highlight}}highlight{{/if}}' href="{{pathname}}">
      <span class="count">{{counter.count}}</span>
    </a>
    {{i18n 'network_counter_label'}}
  </div>
</div>
