<div class="workLiTableLeft showEntity">
  {{#if image.url}}
    <div class="workCover">
      <a class="showEntity" href="{{pathname}}">
        <img src="{{imgSrc image.url 100 200}}" alt='{{label}} cover'>
      </a>
    </div>
  {{/if}}
  <div class="workLiDataTable">
    <h4>
      <a class="showEntity link" href="{{pathname}}">
        {{#if claims.wdt:P1545}}
          <span class="ordinal">{{claims.wdt:P1545}}.</span>
        {{/if}}
        {{label}}
      </a>
    </h4>
  </div>
</div>
{{#if showActions}}
  <div class='actions'>
    <a class='addToInventory' href="{{pathname}}/add" rel="nofollow" title="{{i18n 'add to my inventory'}}">
      {{icon 'plus'}}
    </a>
      <a class='showEntity counter {{#if counter.highlight}}highlight{{/if}}' href="{{pathname}}" title="{{i18n 'network_counter_label'}}">
        <span class="count">{{counter.count}}</span>
      </a>
  </div>
{{/if}}
