{{#unless hidePicture}}{{#if mainImage.url}}
  <div class="covers">
    <div class="main-cover">
      <img src="{{src mainImage.url 300}}" alt="{{label}} {{i18n 'cover'}}">
      {{partial 'entities:photo_credits' image.credits}}
    </div>
    <div class="secondary-covers">
      {{#each secondaryImages}}
        <div class="secondary-cover">
          <img src="{{src url 150}}" alt="{{label}} {{i18n 'cover'}}">
          {{partial 'entities:photo_credits' image.credits}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}{{/unless}}

<div class="entity-data-box">
  <p class="entity-type-label capitalized">{{claim claims 'wdt:P31' false true}}</p>
  {{#if standalone}}
    <h2>{{label}}</h2>
  {{else}}
    <h2><a href="{{pathname}}" class="showEntity link">{{label}}</a></h2>
  {{/if}}
  <p class="uri">{{uri}}</p>

  <p class="description {{#if descOverflow}}clamped{{/if}}">
    {{{description}}}
  </p>
  {{#if descOverflow}}
    <a class='toggler'>
      {{icon 'chevron-down'}}
      {{icon 'chevron-up' 'hidden'}}
    </a>
  {{/if}}
  <div class="attributes">
    <div class="authors"></div>
    {{partial 'entities:work_claims' this}}
  </div>
  {{#if standalone}}{{partial 'entities:edit_data' this}}{{/if}}
</div>
