<div class="header">
  <h3>{{i18n title}}</h3><span class="counter">{{totalLength}}</span>
</div>
<ul class="container"></ul>
<div class="more">
  {{#if more}}
    <a class="displayMore">
      {{icon 'chevron-down'}}{{i18n 'more'}}
      <span class="counter">{{more}}</span>
    </a>
  {{/if}}
</div>
