<h3>{{i18n 'admin section'}}</h3>
{{!-- entity type selector --}}

{{#if canBeMerged}}
  <h4>{{i18n 'merge with another entity'}}</h4>
  <section class="merge-section">
    <div id="merge-suggestion">
      {{#unless isAnEdition}}
        <a id="showMergeSuggestions" class="light-blue-button">{{i18n 'Search possible duplicates'}}</a>
      {{/unless}}
    </div>
    <p class="warning">{{icon 'warning'}}{{i18n 'data_loss_at_merge'}}</p>
    {{input mergeWith}}
  </section>
{{/if}}


{{#if isWikidataEntity}}
  <h4>{{iconLinkText name='external-link' url=wikidataEntityHistoryHref I18n='see history on Wikidata'}}</h4>
{{else}}
  <h4>
    <a id="historyToggler">
      {{icon 'chevron-down'}}
      {{icon 'chevron-up' 'hidden'}}
      {{I18n 'history'}}
    </a>
  </h4>
{{/if}}

<section id="history"></section>
