<h3>{{I18n 'admin section'}}</h3>
{{!-- entity type selector --}}

{{#if canBeMerged}}
  <h4>{{I18n 'merge with another entity'}}</h4>
  <section class="merge-section">
    <p class="warning">{{icon 'warning'}}{{i18n 'data_loss_at_merge'}}</p>
    {{input mergeWith}}
  </section>
{{/if}}

<h4>{{I18n 'delete entity'}}</h4>
<section class="delete-entity">
  {{#if isInvEntity}}
    <a class="deleteEntity button alert">{{icon 'trash'}}{{I18n 'delete'}}</a>
    <div class="delete-alert"></div>
  {{else}}
    <p class="warning">{{I18n "can't delete Wikidata entity"}}</p>
  {{/if}}
</section>
