<h3>{{i18n 'admin section'}}</h3>
{{!-- entity type selector --}}
<hr>
<h4>{{i18n 'merge with another entity'}}</h4>
<p class="warning">{{icon 'warning'}}{{i18n 'data_loss_at_merge'}}</p>
{{input mergeWith}}
