<div class="edition-creation">
  <div class="from-isbn">
    <label for="isbnGroup">{{i18n 'Add an edition by its ISBN'}}</label>
    {{input isbnInputData}}
  </div>
  <a id="withoutIsbn" href="{{addWithoutIsbnPath}}" class="tiny-button grey">
    {{icon 'plus'}}
    {{i18n 'add an edition without an ISBN'}}
  </a>
</div>
