<div class="edit-mode-buttons">
  <a class="tiny-button save" title="{{I18n 'save'}} (Ctrl+Enter)" tabindex="0">
    <span class="loading">{{icon 'check'}}</span>
    <span>{{i18n 'save'}}</span>
  </a>
  <a class="tiny-button cancel" title="{{I18n 'cancel'}} (Esc)" tabindex="0">
    {{icon 'times'}}
  </a>
  {{#unless disableDelete}}
    <a class="tiny-button dangerous delete" title="{{I18n 'delete'}}" tabindex="0">
      {{icon 'trash'}}
    </a>
  {{/unless}}
</div>