<div class="typePicker">
  <button id="workPicker">{{I18n 'work'}}</button>
  <button id="seriePicker">{{I18n 'serie'}}</button>
  <button id="humanPicker">{{I18n 'author'}}</button>
  <button id="publisherPicker">{{I18n 'publisher'}}</button>
  <button id="collectionPicker">{{I18n 'collection'}}</button>
</div>
<div id="typedEntityEdit"></div>
