<div class="header-wrapper">
  {{#if header}}
    <p class="header-context">{{headerContext}}</p>
    <h2>{{header}}</h2>
    {{#if progress}}
      <span class="creation-progress">({{progress.current}}/{{progress.total}})</span>
    {{/if}}
  {{else}}
    <h2 class="type-label">{{claim claims 'wdt:P31' false true}}</h2>
    {{#if wikidata}}
      <a href="{{wikidata.wiki}}" class="wikidata-edit soft-grey-button" target="_blank">{{icon 'wikidata-colored'}}{{I18n 'edit on Wikidata'}}</a>
    {{else}}
      {{#if isAdmin}}
        {{#with moveToWikidata}}
          {{#if ok}}
            <a id="moveToWikidata" class="soft-grey-button">{{icon 'wikidata-colored'}}{{I18n 'move to Wikidata'}}</a>
          {{else}}
            <a class="wikidata-move-disabled soft-grey-button" title="{{reason}}">{{icon 'wikidata-colored'}}{{I18n 'move to Wikidata'}}</a>
          {{/if}}
        {{/with}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
<div class="title"></div>
<div class="claims"></div>
<div class="admin"></div>

<div class="next">
  {{#if creating}}
    {{#if canCancel}}
      <a class="entity-edit-cancel grey-button" tabindex="0">
          {{icon 'times'}}
          {{I18n 'cancel'}}
      </a>
    {{/if}}
    {{#if next}}
      <a id="next" class="navigationButtons light-blue-button" tabindex="0">
        {{icon 'arrow-right'}}
        {{I18n 'next'}}
      </a>
    {{else}}
      {{#if previous}}
        <a id="previous" class="navigationButtons grey-button" tabindex="0">
          {{icon 'arrow-left'}}
          {{I18n 'previous'}}
        </a>
      {{/if}}
      <a class="createAndShowEntity navigationButtons light-blue-button" tabindex="0">
        {{icon 'arrow-right'}}
        {{I18n createAndShowLabel}}
      </a>
      {{#if itemToUpdate}}
        <a class="createAndUpdateItem navigationButtons success-button" tabindex="0">
          {{icon 'plus'}}
          {{I18n "create and update your item with this edition"}}
        </a>
      {{else}}
        {{#if canBeAddedToInventory}}
          <a class="createAndAddEntity navigationButtons success-button" tabindex="0">
            {{icon 'plus'}}
            {{I18n "create and add to your inventory"}}
          </a>
        {{/if}}
      {{/if}}
    {{/if}}
  {{else}}
    <a href="{{pathname}}" class="showEntity light-blue-button" tabindex="0">
      {{icon 'arrow-left'}}{{I18n returnLabel}}
    </a>
  {{/if}}
</div>

{{partial 'entities:edition_meta' this}}
