{{#if editMode}}
  <div class="editMode">
    {{partial 'entities:editor:edit_mode' this}}
  </div>
{{else}}
  <div class="displayModeData enterClick" tabindex="0">
    {{#if valueEntity}}
      <div class="value-entity-wrapper">
        {{#with valueEntity}}
          <div class="img-wrapper">
            {{#if image.url}}
              <img src='{{src image.url 48}}' alt='{{label}}'>
            {{/if}}
          </div>
          <div>
            <span class="label">{{label}}</span><br>
            <span class="description">{{shortDescription}}</span>
            {{partial 'entities:editor:identifier_with_tooltip' this}}
          </div>
        {{/with}}
      </div>
    {{else}}
      {{icon 'circle-o-notch' 'fa-spin'}}
    {{/if}}
  </div>
  {{partial 'entities:editor:edit_button'}}
{{/if}}
