{{#if editMode}}
  {{partial 'entities:editor:edit_mode' this}}
{{else}}
  <div class="data enterClick" tabindex="0">
    {{#if valueEntity}}
      <div class="value-entity-wrapper">
        {{#with valueEntity}}
          <div class="img-wrapper">
            {{#if image.url}}
              <img src='{{src image.url 48}}' alt='{{label}}'>
            {{/if}}
          </div>
          <div>
            <span class="label">{{label}}</span><br>
            <span class="description">{{shortDescription}}</span>
            <span class='identifier has-diy-tooltip'>
              {{uri}}
              {{#if hasIdentifierTooltipLinks}}
                <div class="diy-tooltip-wrapper">
                  <div class="diy-tooltip-content">
                    {{!-- If a type was defined, it should have a page that make
                    sense on inventaire filtering out things like book subjects --}}
                    {{#if type}}
                      <a href="{{pathname}}" class="link showEntity">{{i18n 'see_on_website' website='inventaire.io'}}</a>
                    {{/if}}
                    {{#if wikidata}}
                      {{link i18n='see_on_website' i18nArgs='website=wikidata.org'
                      url=wikidata.url classes='link'}}
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            </span>
          </div>
        {{/with}}
      </div>
    {{else}}
      {{icon 'circle-o-notch' 'fa-spin'}}
    {{/if}}
  </div>
  <div class="edit-wrapper">
    <a class="tiny-button light-blue shy-label edit" tabindex="0">
      {{icon 'pencil'}}
      <span>{{i18n 'edit'}}</span>
    </a>
  </div>
{{/if}}
