<div class="title"></div>
<div class="claims"></div>
<div class="subentities"></div>

{{#if userIsAdmin}}
  {{#unless creationMode}}
    <div class="admin">
      <h3>{{i18n 'admin section'}}</h3>
      {{!-- entity type selector --}}

      <hr>
      <h4>{{i18n 'merge with another entity'}}</h4>
      <p class="warning">{{icon 'warning'}}{{i18n 'data_loss_at_merge'}}</p>
      {{input mergeWith}}
    </div>
  {{/unless}}
{{/if}}

{{#unless subeditor}}
  <div class="next">
    {{#if creating}}
      <a class="createAndShowEntity light-blue-button" tabindex="0">
        {{icon 'arrow-left'}}
        {{I18n "create and return to the book's page"}}
      </a>
      <a class="createAndAddEntity success-button" tabindex="0">
        {{icon 'plus'}}
        {{I18n "create and add to your inventory"}}
      </a>
    {{else}}
      <a href="{{pathname}}" class="showEntity light-blue-button" tabindex="0">
        {{icon 'arrow-left'}}{{I18n "return to the book's page"}}
      </a>
    {{/if}}
  </div>
{{/unless}}
