<h2 class="type-label">{{claim claims 'wdt:P31' false true}}</h2>
<div class="title"></div>
<div class="claims"></div>
<div class="admin"></div>

<div class="next">
  {{#if creating}}
    {{#if canCancel}}
      <a class="cancel grey-button" tabindex="0">
          {{icon 'times'}}
          {{I18n 'cancel'}}
      </a>
    {{/if}}
    <a class="createAndShowEntity creationButton light-blue-button" tabindex="0">
      {{icon 'arrow-left'}}
      {{I18n createAndReturnLabel}}
    </a>
    <a class="createAndAddEntity creationButton success-button" tabindex="0">
      {{icon 'plus'}}
      {{I18n "create and add to your inventory"}}
    </a>
  {{else}}
    <a href="{{pathname}}" class="showEntity light-blue-button" tabindex="0">
      {{icon 'arrow-left'}}{{I18n "return to the book's page"}}
    </a>
  {{/if}}
</div>

{{partial 'entities:edition_meta' this}}
