{{#if editMode}}
  <div class="edit-mode">
    <div class="image-from-url">
      <label>{{icon 'link'}}{{I18n 'from a URL'}}</label>
      <div class="url-input-row">
        <div class="url-input-wrapper">
          <input class="imageUrl" type="url" placeholder="{{i18n 'enter an image url'}}">
        </div>
        {{partial 'entities:editor:edit_mode_buttons' this}}
      </div>
    </div>
    <div class="image-from-file">
      <label>{{icon 'upload'}}{{I18n 'from a file'}}</label>
      {{!-- Restricting to jpeg to match the server's upload restrictions --}}
      <input type="file" accept="image/jpeg" />
      <div class="upload-confirmation hidden">
        <div class="image-preview"></div>
        <a class="validate-upload success-button">
          <span class="loading">{{icon 'check'}}</span>
          {{i18n 'upload and save'}}
        </a>
      </div>
    </div>
  </div>
{{else}}
  <div class="displayModeData">
    <img src="{{src value 300}}">
  </div>
  {{partial 'entities:editor:edit_button'}}
{{/if}}
