<a href="{{pathname}}" class="showEntity">
  {{#if image.url}}
    <div><img src="{{imgSrc image.url 64}}" alt="{{label}} {{i18n 'cover'}}"></div>
  {{/if}}
  <span class="label">{{label}}</span>
  <span class="uri">{{uri}}</span>
</a>
