{{#if image.url}}
  <img src="{{src image.url 400}}" alt='{{label}}'>
{{/if}}
<h5 class="label">
  <a href="{{pathname}}" class="showEntity">{{label}}</a>
</h5>
<p class="uri">{{uri}}</p>

<div class="suggestion-claims">
  {{!-- claims that aren't in claims partials, but that could be useful for most entities types --}}
  {{claim claims 'wdt:P50' true}} {{!-- author --}}
  {{#if claimsPartial}}{{partial claimsPartial this}}{{/if}}
</div>

<div class="all-subentities">
  <h6 class="seriesLabel subentities-label">{{i18n 'series'}}</h6>
  <div class="seriesList"></div>

  <h6 class="worksLabel subentities-label">{{i18n 'works'}}</h6>
  <div class="worksList"></div>
</div>

<div class="task-data">
  {{partial 'tasks:task_scores' task}}
</div>

<a class="merge tiny-button dangerous">
  {{icon 'compress'}}{{I18n 'merge'}}
  <span class="loading"></span>
</a>
