{{#if showCheckbox}}
  <input type="checkbox" name="selected" {{#if isExactMatch}}checked{{/if}}>
{{/if}}

{{#if image.url}}
  <img src="{{imgSrc image.url 200}}" alt='{{label}}'>
{{/if}}
<h5 class="label">
  <a href="{{pathname}}" class="showEntity">{{label}}</a>
</h5>
<p class="uri">{{uri}}</p>
<p class="description">{{limit description 120}}</p>

{{#if task}}
  <div class="task-data">
    <a class="showTask" href="{{task.pathname}}" title="{{i18n 'show task'}}">
      {{> 'tasks:task_scores' task}}
    </a>
  </div>
{{/if}}

<div class="suggestion-claims">
  {{!-- claims that aren't in claims partials, but that could be useful for most entities types --}}
  {{entityClaim claims 'wdt:P50' true}} {{!-- author --}}
  {{#if isAuthor}}{{> 'entities:author_claims' this}}{{/if}}
  {{#if isEdition}}{{> 'entities:edition_claims' this}}{{/if}}
  {{#if isWork}}{{> 'entities:work_claims' this}}{{/if}}
  {{#if isSerie}}{{> 'entities:work_claims' this}}{{/if}}
</div>

<div class="all-subentities">
  <h6 class="seriesLabel subentities-label">{{I18n 'series'}}</h6>
  <div class="seriesList"></div>

  <h6 class="worksLabel subentities-label">{{I18n 'works'}}</h6>
  <div class="worksList"></div>
</div>

{{#if wikidataEntities}}
  {{iconLinkText name='wikidata' url=wikidataMergeUrl i18n='Merge on Wikidata' linkClasses='tiny-button'}}
{{else}}
  <button class="merge tiny-button dangerous">
    <span class="hide-on-loading">{{icon 'compress'}}{{I18n 'merge'}}</span>
    <span class="loading"></span>
  </button>
{{/if}}
