<div class="property-label">{{I18n propertyLabel}}</div>
<div class="values-wrapper">
  <ul class="values"></ul>
  {{#if customAdd}}
    <div class="creationPartial">
      {{partial creationPartial creationPartialData}}
    </div>
  {{else}}
    <div class="add-value-wrapper">
      <a class="addValue tiny-button soft-grey {{#unless canAddValues}}hidden{{/unless}}" tabindex="0">
        {{icon 'plus'}} {{i18n 'add'}}
      </a>
    </div>
  {{/if}}
</div>
