{{#if editMode}}
  {{partial 'entities:editor:time_unit_picker' unitName='year' unitList=years}}
  {{#if showMonthsAndDays}}
    <div class="months-and-days-pickers">
      <div class="unit-pickers">
        {{partial 'entities:editor:time_unit_picker' unitName='month' unitList=months}}
        {{partial 'entities:editor:time_unit_picker' unitName='day' unitList=days}}
      </div>
      <a class="showYearsOnly">- {{i18n 'precise the year only'}}</a>
    </div>
  {{else}}
    <a class="showMonthsAndDays">+ {{i18n 'precise the day and month'}}</a>
  {{/if}}
  {{partial 'entities:editor:edit_mode_buttons' this}}
{{else}}
  <div class="value">{{value}}</div>
  {{partial 'entities:editor:edit_button'}}
{{/if}}
