{{#with hash}}
  <div class="picker-wrapper picker-wrapper-{{unitName}}">
    <label for="{{unitName}}Picker">{{I18n unitName}}</label>
    <select id="{{unitName}}Picker" name="{{unitName}}Picker">
      {{#each unitList}}
        <option value="{{num}}" {{#if selected}}selected{{/if}}>{{num}}</option>
      {{/each}}
    </select>
  </div>
{{/with}}
