<div class="property-label">{{I18n 'title'}}</div>
<div class="entity-value-editor">
  {{#if editMode}}
    {{partial 'entities:editor:edit_mode' this}}
  {{else}}
    <div class="title-value">{{value}}</div>
    {{partial 'entities:editor:edit_button'}}
  {{/if}}
</div>