<div class="property-label">
  <span class="title">{{I18n 'title'}}</span>
  {{partial 'entities:editor:language_selector' langs}}
</div>
<div class="entity-value-editor">
  {{#if editMode}}
    {{partial 'entities:editor:edit_mode' this}}
  {{else}}
    <div class="title-value displayModeData">{{value}}</div>
    {{partial 'entities:editor:edit_button'}}
  {{/if}}
</div>