<div class="property-label">
  <span class="title">{{I18n 'title'}}</span>
  <select class="langSelector" name="language-selector">
    {{#each availableLangs}}
      <option value="{{code}}" {{#if selected}}selected{{/if}}>{{native}}</option>
    {{/each}}
  </select>
</div>
<div class="entity-value-editor">
  {{#if editMode}}
    {{partial 'entities:editor:edit_mode' this}}
  {{else}}
    <div class="title-value displayModeData">{{value}}</div>
    {{partial 'entities:editor:edit_button'}}
  {{/if}}
</div>