{{#if editMode}}
  {{partial 'entities:editor:edit_mode' this}}
{{else}}
  <div class="data enterClick" tabindex="0">
    {{#if valueEntity}}
      <div class="value-entity-wrapper">
        {{#with valueEntity}}
          <div class="img-wrapper">
            {{#if image.url}}
              <img src='{{src image.url 48}}' alt='{{label}}'>
            {{/if}}
          </div>
          <div>
            <span class="label">{{label}}</span><br>
            <span class="description">{{shortDescription}}</span>
            {{link uri wikidata.wiki 'identifier'}}
          </div>
        {{/with}}
      </div>
    {{else}}
      {{icon 'circle-o-notch' 'fa-spin'}}
    {{/if}}
  </div>
  <div class="edit-wrapper">
    <a class="tiny-button light-blue shy-label edit" tabindex="0">
      {{icon 'pencil'}}
      <span>{{i18n 'edit'}}</span>
    </a>
  </div>
{{/if}}
