<p>
  <span class="label">id:</span>
  <span class="value">{{_id}}</span>
</p>
<p>
  <span class="label">{{i18n 'version'}}:</span>
  <span class="value">{{versionNumber}}</span>
</p>
<p>
  <span class="label">{{i18n 'user'}}:</span>
  {{#if anonymized}}
    <span class="value"><em>{{i18n 'anonymized'}}</em></span>
  {{else if user.special}}
    <span class="value">{{user.username}}</span>
    <span class="special-user">{{I18n 'special user'}}</span>
  {{else if user.deleted}}
    <span class="value">{{user.username}}</span>
    <span class="deleted-user">{{i18n 'deleted'}}</span>
  {{else}}
    <a class="value showUser" href="{{user.pathname}}">{{user.username}}</a>
  {{/if}}
  {{#if hasAdminAccess}}
    <a class="showUserContributions" href="{{user.contributions}}">{{i18n 'contributions'}}</a>
  {{/if}}
</p>
<p>
  <span class="label">{{i18n 'date'}}:</span>
  <span class="value">
    <span class="time-from-now">{{timeFromNow timestamp}}</span>
    <span class="precise-time">{{localTimeString timestamp}}</span>
  </span>
</p>
{{#if context.mergeFrom}}
  <p>
    <span class="label">{{i18n 'context'}}</span>
    <span class="value">
      merge from <a href="/entity/{{context.mergeFrom}}" class="showEntity">{{context.mergeFrom}}</a>
    </span>
  </p>
{{/if}}
<p>
  <span class="label">{{i18n 'patch'}}:</span>
  {{> 'entities:editor:patch_operations' operations}}
</p>
<ul class="actions">
  <li>
    <button class="revert tiny-button">{{I18n 'undo'}}</button>
  </li>
</ul>
<p class="has-alertbox"></p>
