<div class="avatar {{#if sameUser}}sameUser{{/if}}">
  {{#unless sameUser}}
    {{#if user.picture}}
      <div class="innerAvatar">
        <a href="{{user.pathname}}" class="showUser" title="{{user.username}}">
          <img src="{{src user.picture 36}}" alt="{{user.username}}">
        </a>
      </div>
    {{/if}}
  {{/unless}}
</div>
<div class="rest {{#if sameUser}}sameUser{{/if}}">
  <p class="message-text">{{userContent message}}</p>
  <p class="time">{{timeFromNow created}}</p>
</div>
