<div class="header">
  <div class="item">
    <div class="cover">
      <a href="{{item.pathname}}" rel="nofollow">
        {{#if item.picture}}
          <img src="{{src item.picture 100}}">
        {{/if}}
      </a>
    </div>
    <span class="title">{{entity.title}}</span>
    <span class="entity">{{item.entity}}</span>
    <p class="details">{{item.details}}</p>
  </div>
  <div class="user">
    {{partial 'inventory:item_mixed_box' item}}
  </div>
</div>

<textarea id="message" name="request-item">
  {{i18n suggestedText user}}
</textarea>

<a id="sendItemRequest" class="button success radius bold">
  {{icon 'send'}}
  {{i18n 'send request'}}
  <a class="loading"></a>
</a>
<div class="checkWrapper">
  <span class="check"></span>
</div>