<a href="{{pathname}}" class="showTransaction {{#unless mainUserRead}}unread{{/unless}}">
  {{!-- snapshot data are always more meaningful than the item data
  as they reflect the state of the item - especially the transaction -
  when the transaction started --}}
  <div class="current transactionBox {{transaction}}">
    {{icon icon}}
  </div>
  {{#if onItem}}
    <div class="profile-pic">
      {{#if requester.picture}}
        <img src="{{src requester.picture 48}}" alt="{{requester.username}}">
      {{/if}}
    </div>
    <div class="text">
      <span class="context">{{{requestContext}}}</span>
    </div>
  {{else}}
    <div class="profile-pic">
      {{#if other.picture}}
        <img src="{{src other.picture 48}}" alt="{{other.username}}">
      {{/if}}
    </div>
    <div class="text">
      <span class="title">{{entity.title}}</span>
      <span class="context">{{other.username}}</span>
    </div>
    <div class="item-pic">
      {{#if entity.image}}
        <img src="{{src entity.image 48}}" alt="{{entity.title}}">
      {{/if}}
    </div>
  {{/if}}
  <div class="flags">
    {{partial 'notifications:unread_flag'}}
  </div>
</a>