<section>
  <div class="header">
    <div class="facts">
      <a class="item" href="{{item.pathname}}" title="{{item.title}}">
        <div class="cover">
          {{#if item.pictures}}
            <img src="{{src item.pictures 100}}" alt="{{item.title}}">
          {{/if}}
        </div>
        <div class="data">
          <h4 class="title">{{item.title}}</h4>
          <div class="authors">
            {{#if item.authors}}
              {{item.authors}}
            {{else}}
              {{#if item.entityData.wikidata}}
                {{claim item.entityData.claims 'P50'}}
              {{else}}
                {{{joinAuthors item.entityData.authors false}}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </a>
      <div class="context {{transaction}}">
        {{icon icon}}
        {{{context}}}
        {{#if owner.picture}}
          <a href="{{owner.pathname}}" class="owner" title="{{owner.username}}">
            <img src="{{src owner.picture 48}}" alt="{{owner.username}}">
          </a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="timeline"></div>
</section>
{{!-- prevent showing actions before actions data are available --}}
{{#if actionsReady}}
  {{#if nextActions}}
    <h3 class="next">{{i18n 'next action'}}:</h3>
    <section>
      <div class="actions">
        {{#each nextActions}}
          <a class="action {{classes}}">{{{i18n text this}}}</a>
        {{/each}}
      </div>
    </section>
    <div class="info">
      {{!-- there should be only one action with info at a time, thus the absence of separating markups --}}
      {{#each nextActions}}
        {{#if partialPath}}{{partial partialPath this}}{{/if}}
        {{#if i18nKey}}<p>{{{i18n i18nKey this}}}</p>{{/if}}
      {{/each}}
    </div>
  {{else}}
    <br>
    <span class="finished">{{i18n 'transaction_finished'}}</span>
  {{/if}}
{{/if}}
<section class="new-message">
  {{partial 'new_message' this}}
</section>
{{#if cancellable}}
  <div class="bottom-actions">
    <p>
      {{i18n 'transaction_cancel_info'}}<br>
      {{i18n 'transaction_cancel_effects'}}
    </p>
    <a class="action cancel">{{i18n 'cancel'}}</a>
  </div>
{{/if}}