<div id="list">
  {{#each folders}}
    <label for="{{id}}">
      {{icon 'caret-down'}} {{icon icon}} {{I18n text}}
    </label>
    <section id="{{id}}"></section>
  {{/each}}
</div>

<div id="fullview"></div>