<div class="header">
  <div class="facts">
    <a class="item" href="{{item.pathname}}">
      <div class="cover">
        {{#if item.pictures}}
          <img src="{{src item.pictures 48}}" alt="{{item.title}}">
        {{/if}}
      </div>
      <h4 class="title">{{item.title}}</h4>
    </a>
    <div class="context {{item.transaction}}">
      {{icon icon}}
      {{{context}}}
      {{#if owner.picture}}
        <a href="{{owner.pathname}}" class="owner">
          <img src="{{src owner.picture 48}}">
        </a>
      {{/if}}
    </div>
  </div>
</div>
<div class="timeline"></div>
<div class="actions">
  <span class="next">{{i18n 'next action'}}:</span> <br>
  {{#if nextActions}}
    {{#each nextActions}}
      <a class="{{classes}}">{{i18n text this}}</a>
    {{/each}}
  {{else}}
    <span class="finished">{{i18n 'transaction_finished'}}</span>
  {{/if}}
</div>
{{partial 'new_message' this}}