<div class="check-list">
  <p>{{i18n 'before_accepting_general'}}</p>
  <ul>
    <li>{{i18n 'where_and_when'}}</li>
    <li>{{i18n 'how_long' this}}</li>
  </ul>
</div>
<strong>{{I18n 'advice:'}}</strong> {{i18n 'before_accepting_lending_advice'}}
