<a class="friendAcceptedRequest notification-link" href="{{pathname}}">
  <img src="{{imgSrc picture 48}}">
  <div class="info">
    <span>{{{i18n 'friend_accepted_request' this}}}</span><br>
    <span class="time">{{timeFromNow time}}</span>
  </div>
  {{partial 'notifications:unread_flag'}}
</a>