<a class="groupNotification notification-link {{type}}" href="{{pathname}}">
  <img src="{{imgSrc picture 48}}">
  <div class="info">
    <span>{{{i18n text this}}}</span><br>
    <span class="time">{{timeFromNow time}}</span>
  </div>
  {{partial 'notifications:unread_flag'}}
</a>