<div class="groupNotification {{type}}">
  <img src="{{src picture 48}}">
  <a href="{{pathname}}">
    <span>{{{i18n text this}}}</span><br>
    <span class="time">{{timeFromNow time}}</span>
  </a>
</div>