<hr>
<h3>{{i18n 'Find by'}}</h3>

<h4 class="with-tip">{{i18n 'Title'}}</h4>
<span data-tooltip class="has-tip tip-right" title="{{i18n "you know, the books' title"}}"><i class="fa fa-question-circle"></i></span>
<div class="row collapse">
  <div class="small-9 columns">
    <input id="titleInput" class="has-alertbox enterClick" type='text' placeholder='{{i18n 'ex: Tintin et les Picaros'}}'>
  </div>
  <div class="small-3 columns">
    <span id="titleButton" class="success button postfix">{{i18n 'Search'}} <span class='loading'></span></span>
  </div>
</div>

<h4 class="with-tip">{{i18n 'Author'}}</h4>
<span data-tooltip class="has-tip tip-right" title={{i18n "you know, the books' title"}}><i class="fa fa-question-circle"></i></span>
<div class="row collapse">
  <div class="small-9 columns">
    <input id="authorInput" class="has-alertbox enterClick" type='text' placeholder='ex: Antoine de Saint-Exupery'>
  </div>
  <div class="small-3 columns">
    <span id="authorButton" class="success button postfix">{{i18n 'Search'}} <span class='loading'></span></span>
  </div>
</div>

<h4 class="with-tip">{{i18n 'ISBN'}}</h4>
<span data-tooltip class="has-tip tip-right" title="{{i18n "'International Standard Book Number': Every book has a code of either 10 or 13 digits, often written close to the barcode"}}"><i class="fa fa-question-circle"></i></span>
<div class="row collapse">
  <div class="small-9 columns">
    <input id="isbnInput" class="has-alertbox enterClick" type='text' placeholder='ex: 978-2070342266'>
  </div>
  <div class="small-3 columns">
    <span id="isbnButton" class="success button postfix">{{i18n 'Search'}} <span class='loading'></span></span>
  </div>
</div>