<div class='row'>


  <div class='small-12 large-8 large-offset-2 columns row'>
    <h2 class='subheader'>{{safe header}}</h2>
    <h3>{{i18n 'Add it to a list'}}</h3>

    <div class='small-12 large-6 columns'>
      {{partial '../items/form/templates/listing_picker' this}}
    </div>

    <div class='small-12 large-12 columns'>
      <h3>{{i18n 'Comment'}}</h3>
      <textarea id='comment' class='error' placeholder='({{i18n 'comment_placeholder'}})'></textarea>
    </div>

    <div class='small-12 large-12 columns'>
      <h3>{{i18n 'Personal notes'}}</h3>
      <textarea id='notes' class='error' placeholder='({{i18n 'notes_placeholder'}})'></textarea>
    </div>
  </div>

  <div class='small-12 large-8 large-offset-2 columns margin-top'>
    {{partial '../entities/templates/validation_buttons'}}
  </div>

</div>