<a class="selector-button" tabindex="0">
  <div class="defaultMode">
    <span class="label">{{I18n 'owner'}}</span>
    <span class="count">({{count}})</span>
    {{icon 'caret-down'}}
  </div>
  <div class="selectedMode"></div>
</a>
<div class="options">
  {{#if showFilter}}<input type="text" name="filter" placeholder="{{I18n 'filter'}}...">{{/if}}
  <div class="sections">
    <div class="highlighted"></div>

    <a id="friends-toggler" class="toggler">
      {{icon 'user'}}
      <span class="label">{{I18n 'friends'}}</span>
      {{icon 'caret-down'}}
    </a>
    <div class="friends"></div>

    <a id="groups-toggler" class="toggler">
      {{icon 'users'}}
      <span class="label">{{I18n 'groups'}}</span>
      {{icon 'caret-down'}}
    </a>
    <div class="groups"></div>

    <a id="nearby-toggler" class="toggler">
      {{icon 'map-marker'}}
      <span class="label">{{I18n 'nearby'}}</span>
      {{icon 'caret-down'}}
    </a>
    <div class="nearby"></div>
  </div>
</div>
