<div class="icon-buttons">
  {{#if deleteRight}}
    <a class="menu" data-options="align:left" data-dropdown="{{cid}}-menu" title="{{i18n 'edit'}}" aria-autoclose="true">
      {{#if editRight}}
        {{icon 'pencil'}}
      {{else}}
        {{icon 'times'}}
      {{/if}}
    </a>
    <ul id="{{cid}}-menu" class="tiny f-dropdown" data-dropdown-content>
      {{#if editRight}}
      <li>
        <a class="edit">
          {{icon 'pencil'}}{{i18n 'edit'}}
        </a>
      </li>
      {{/if}}
        <li>
          <a class="delete">
            {{icon 'times'}}{{i18n 'delete'}}
          </a>
        </li>
    </ul>
  {{/if}}
</div>