<div class="icon-buttons">
  {{#if deleteRight}}
    <div class="has-dropdown" title="{{i18n 'edit'}}">
      {{#if editRight}}
        {{icon 'pencil'}}
      {{else}}
        {{icon 'times'}}
      {{/if}}
      <ul class="dropdown">
        {{#if editRight}}
        <li>
          <a class="edit">
            {{icon 'pencil'}}{{i18n 'edit'}}
          </a>
        </li>
        {{/if}}
          <li>
            <a class="delete">
              {{icon 'times'}}{{i18n 'delete'}}
            </a>
          </li>
      </ul>
    </a>
  {{/if}}
</div>