<div class="avatar">
  <img src="{{src user.picture 50}}">
</div>

<div class="rest">

  <div class="header">
    <div class="core">
      <span class="username">{{user.username}}</span>
      <span class="message">{{userContent message}}</span>
    </div>
    <div class="core hidden">
      <form>
        <textarea class="message" name="message" placeholder="edit comment...">{{message}}</textarea>
        <div class="right">
          {{partial 'save_cancel' target=".message"}}
        </div>
      </form>
    </div>
    {{partial 'inventory:comment_edit_menu' this}}
  </div>
  <div>
    <span class="time core">{{timeFromNow created}}</span>
    {{#if edited}}
      <span class="edited core">
        - <a title="{{timeFromNow edited}}">{{i18n 'edited'}}</a>
      </span>
    {{/if}}
  </div>
</div>
