<div class="group-profile-header">
  <div class="section-one">
    <div class="cover-header">
      {{#if picture}}
        <div class="group-cover-picture" style="background-image: url('{{imgSrc picture 1600}}')"></div>
      {{/if}}
      <div class="info">
        <span class="name">{{name}}</span>
      </div>
      <div class="iconButtons">
        {{#if mainUserIsMember}}
          <a class="showGroupSettings" href="{{boardPathname}}" title="{{i18n 'settings'}}">
            {{icon 'cog'}}
            {{#if requestsCount}}<span class="counter">{{requestsCount}}</span>{{/if}}
          </a>
        {{/if}}
      </div>
    </div>
    {{#if description}}
      <p class="description">{{userContent description}}</p>
    {{/if}}
  </div>

  <div class="section-two">
    <div class="list-label-wrapper">
      <p class="list-label">{{I18n 'members'}}</p>
      {{#if mainUserIsMember}}
        <a class="showMembersMenu tiny-button light-blue" href="{{boardPathname}}">{{icon 'plus'}} {{i18n 'invite'}}</a>
      {{/if}}
    </div>
    <div id="membersList"></div>
  </div>
</div>

<div class="group-actions">
  {{partial 'network:group_actions' this}}
</div>
