<a class="nav-list-element" href="{{pathname}}">
  <div class="picture" style="background-image: url({{imgSrc picture 100}})"></div>
  {{#if pictureFilterColor}}
    <div class="picture-color-filter" style="background-color: {{pictureFilterColor}}"></div>
  {{/if}}
  {{#if itemsCount}}
    <div class="items-count">{{itemsCount}}</div>
  {{/if}}
  <div class="info">
    {{#if isGroup}}
      <strong>{{name}}</strong>
    {{else}}
      <strong>{{username}}</strong>
    {{/if}}
  </div>
</a>
