<a class="nav-list-element" href="{{pathname}}">
  <div class="picture" style="background-image: url({{imgSrc picture 100}})"></div>

  {{#if pictureFilterColor}}
    <div class="picture-color-filter" style="background-color: {{pictureFilterColor}}"></div>
  {{/if}}

  {{!-- Not showing itemsCount for group as that would be inconsistent depending on if beforeShow was called --}}
  {{#unless isGroup}}{{#if hasItemsCount}}
    <div class="items-count" title="{{i18n 'num_books' smart_count=itemsCount}}">{{itemsCount}}</div>
  {{/if}}{{/unless}}

  {{#if isGroupAdmin}}
    <div class="group-admin-badge" title="{{I18n 'group admin'}}">{{icon 'cog'}}</div>
  {{/if}}

  <div class="info">
    {{#if isGroup}}
      <strong>{{name}}</strong>
    {{else}}
      <strong>{{username}}</strong>
    {{/if}}
  </div>
</a>
