<a href="{{pathname}}" style="background-image: url({{imgSrc picture 100}})">
  <div class="info">
    {{#if isGroup}}
      <strong>{{name}}</strong>
    {{else}}
      <strong>{{username}}</strong>
    {{/if}}
  </div>
</a>
