<div id="tabs" class="tab-selected-{{selectedTab}}">
  <a class="user" href="{{user.pathname}}">
    <img src="{{imgSrc user.picture 40}}">
    {{user.username}}
  </a>
  <a class="network">
    {{icon 'users'}}
    {{i18n 'friends & groups'}}
  </a>
  <a class="public">
    {{icon 'map-marker'}}
    {{i18n 'public'}}
  </a>
</div>

<div id="controls">
  <a id="displayCascade" class="display-option">{{icon 'th-large'}}</a>
  <a id="displayList" class="display-option">{{icon 'list'}}</a>
  <a id="addToInventory" class="tiny-button light-blue" href="/add">{{icon 'plus'}} {{I18n 'add'}}</a>
</div>
