<div id="filterPreview"></div>
<div id="browserControls">
  {{partial 'loader'}}
  <div id="browser-filters">
    <span class="control-label">{{I18n 'filters'}}</span>
    <div class="selectors">
      <div id="author"></div>
      <div id="genre"></div>
      <div id="subject"></div>
    </div>
  </div>
  <div id="displayControls">
    <a id="cascade" class="{{#if cascade}}selected{{/if}}">{{icon 'th-large'}}</a>
    <a id="table" class="{{#if table}}selected{{/if}}">{{icon 'align-justify'}}</a>
  </div>
  {{#if isMainUser}}
    <a id="addToInventory" class="tiny-button light-blue" href="/add">{{icon 'plus'}} {{I18n 'add books'}}</a>
  {{/if}}
</div>
<div id="itemsView"></div>
