<div id="tabs" class="tab-selected-{{section}}">
  <a id="userTab" href="{{user.pathname}}">
    <img src="{{imgSrc user.picture 40}}">
    {{user.username}}
  </a>
  <a id="networkTab" href="/inventory/network">
    {{icon 'users'}}
    {{i18n 'friends & groups'}}
  </a>
  <a id="publicTab" href="/inventory/public">
    {{icon 'map-marker'}}
    {{i18n 'public'}}
  </a>
</div>
