{{#if isMainUser}}
  <input type="checkbox" name="select" data-id="{{_id}}" {{#if checked}}checked{{/if}}>
{{/if}}

<div class="body">
  <a class="showItem" href="{{pathname}}">
    <div class="image-wrapper">
      {{~#if picture~}}<img src="{{imgSrc picture 128}}" alt="{{title}}">{{~/if~}}
    </div>
    <div class="info">
      <p class="title">{{title}}</p>
      <p class="authors">{{authors}}</p>
    </div>
    <div class="details" title="{{details}}">{{details}}</div>
  </a>

  <div class="modes">
    {{#unless isPrivate}}
      <div class="transaction {{currentTransaction.id}}" title="{{i18n currentTransaction.label}}">
        {{icon currentTransaction.icon}}
      </div>
    {{/unless}}

    {{#if isMainUser}}
      <div class="listing {{currentListing.id}}" title="{{i18n currentListing.label}}">
        {{icon currentListing.icon}}
      </div>
    {{/if}}
  </div>
</div>
