<div class="shelfSelector">
  <span>
    {{#if isInShelf}}
      {{icon 'check-square'}}
    {{else}}
      {{icon 'square'}}
    {{/if}}
    <a class="link">
      {{capitalize name}}
    </a>
  </span>
  <a id="{{_id}}" class="shelfLink" href="/shelves/{{_id}}">
    {{icon 'link'}}
  </a>
</div>
