<ul id="itemsRows"></ul>

<div id="table-actions" class="{{#unless isMainUser}}hidden{{/unless}}">
  <button id="selectAll">
    {{icon 'check-square-o'}}
    <span class="button-label">{{I18n 'select all'}}</span>
    <span class="count">({{itemsCount}})</span>
  </button>
  <button id="unselectAll" class="hidden">
    {{icon 'square-o'}}
    <span class="button-label">{{I18n 'unselect all'}}</span>
  </button>
  <button id="editSelection" class="hidden">
    {{icon 'pencil'}}
    <span class="button-label">{{I18n 'edit selection'}}</span>
    <span class="selectionCounter count"></span>
  </button>
</div>

<div class="fetchMore">
  <span class="loading"></span>
</div>
