<div class="mixedBox">
  <a href="{{user.pathname}}" class="showUser">
    <img class="profilePic" src="{{imgSrc user.picture 48}}">
  </a>
  <a class="itemShow" href="{{pathname}}">
    <div class="transactionBox {{currentTransaction.id}}">
      {{icon currentTransaction.icon}}
    </div>
  </a>
</div>
<div class="labelBox {{currentTransaction.id}}">
  <a class="itemShow label" href="{{pathname}}">
    {{{i18n currentTransaction.labelPersonalized user}}}
  </a>
  {{#if showDistance}}
    <span class="distance">{{i18n 'km_away' user}}</span>
  {{/if}}
</div>
