<div class="image-wrapper">
  {{~#if picture~}}<img src="{{imgSrc picture 128}}" alt="{{title}}">{{~/if~}}
</div>
<div class="data-wrapper">
  <div class="title">
    <span class="label">{{i18n 'title'}}:</span>
    {{title}}
  </div>
  <div class="authors">
    <span class="label">{{i18n 'authors'}}:</span>
    {{authors}}
  </div>
</div>
