{{#unless restricted}}
  <div class="listingMenu {{currentListing.id}}">
    <a class="current" data-dropdown="{{uiId}}-l-menu">
    {{icon currentListing.icon}}{{icon 'caret-down'}}</a>
    <ul id="{{uiId}}-l-menu" data-options="align:right"
    class="tiny f-dropdown" data-dropdown-content>
      <li><label>{{i18n 'change visibility:'}}</label></li>
      {{#each listings}}
        <li>
          <a id="{{id}}" class="listing">
            {{icon icon}} {{i18n label}}
          </a>
        </li>
      {{/each}}
      <li><label>{{i18n 'other operations:'}}</label></li>
      <li>
        <a class="remove dark-grey">
          {{icon 'trash-o'}} {{I18n 'delete'}}
        </a>
      </li>
    </ul>
  </div>
{{/unless}}