{{#if busy}}
  <div class="busy-sign" title="{{i18n 'unavailable'}}">
    {{icon 'sign-out'}}
  </div>
{{/if}}
<a class="itemShow" href="{{pathname}}" rel="nofollow">
  <div class="cover">
    {{#if picture}}
      <img src="{{imgSrc picture 300}}">
    {{/if}}
  </div>
  <div class="data">
    {{#if series}}
      <span class="series" title="{{i18n 'series'}}">{{series}} {{#if ordinal}}- {{ordinal}}{{/if}}</span>
      <hr>
    {{/if}}
    <h3 class="title">{{title}}</h3>
    {{#if subtitle}}<p class="subtitle">{{subtitle}}</p>{{/if}}
    {{#if authors}}
      <hr>
      <span class="authors" title="{{i18n 'authors'}}">{{authors}}</span>
    {{/if}}
  </div>
</a>
{{#if userReady}}
  {{#if restricted}}
    {{partial 'inventory:item_mixed_box' this}}
  {{else}}
    {{partial 'inventory:item_user_box' this}}
    <div class="item-settings itemBox">
      {{#unless isPrivate}}
        {{partial 'inventory:item_transaction_box' this}}
      {{/unless}}
      {{partial 'inventory:item_visibility_box' this}}
    </div>
  {{/if}}
  {{#if details}}
    <div class="detailsBox">
      <span class="details wrapped user-content">
        {{userContent details}}
        {{#if detailsMore}}
          <a class='itemShow more'>{{i18n 'see more'}}</a>
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{partial 'inventory:item_request_box' this}}
{{/if}}
