<div class="cover">
  <a href="{{pathname}}" rel="nofollow">
    {{#if picture}}
      <img src="{{src picture 300}}">
    {{/if}}
  </a>
</div>
<figcaption class="title">
  <h3 class="title">
    <a class="link itemShow" href="{{pathname}}" rel="nofollow">{{title}}</a>
  </h3>
  <div class="authors">
    {{#if entityData.wikidata}}
      {{claim entityData.claims 'P50'}}
    {{else}}
      {{#each entityData.authors}}{{this}} {{/each}}
    {{/if}}
  </div>
  <div></div>
</figcaption>
<div class="userBox">
  <a class="user" href="{{userPathname}}">
    <img class="profilePic" src="{{src profilePic 64}}">
  </a>
  <a class="user" href="{{userPathname}}">
    <strong class="serif">{{username}}</strong>
    <span class="serif time">{{created}}</span>
  </a>
</div>
<div class="settings itemBox">
  {{!-- TRANSACTION --}}
  {{partial 'inventory:item_transaction_box' this}}

  {{!-- VISIBILITY --}}
  {{partial 'inventory:item_visibility_box' this}}
</div>
<div class="comments-box hidden">
  {{#if comment}}
    <div>
      <span class="comment wrapped">
        {{icon 'quote-left'}}
        {{partial 'toggle_wrap' wrap.comment}}
        {{pre comment}}
      </span>
    </div>
  {{/if}}
  {{#if notes}}
    <div>
      <span class="notes grey wrapped" title="{{i18n 'personal notes'}}">
        {{partial 'toggle_wrap' wrap.notes}}
        {{pre notes}}
      </span>
    </div>
  {{/if}}
</div>