<div class="commentBox panel">
  <div class="icon-buttons-header">
    <label>{{i18n 'description'}}</label>
    <div>
      {{#unless restricted}}
        <a id="editComment" class="editButton" title="{{i18n 'edit comment'}}">{{icon 'pencil'}}</a>
        {{partial 'inventory:visibility_indicator' currentListing}}
      {{/unless}}
    </div>
  </div>
  <p id="comment">
    {{pre comment}}
  </p>
  <div id="commentEditor" class='hidden'>
    <textarea placeholder='({{i18n 'comment_placeholder'}})'>{{comment}}</textarea>
    <div class="button-group-right">
      <a id="cancelCommentEdition" class="cancelButton">{{i18n 'cancel'}}</a>
      <a id="validateComment" class="validateButton">{{i18n 'edit'}}</a>
    </div>
  </div>
</div>