{{#if userReady}}
  <span class="section-label">{{I18n 'owner'}}</span>
  {{#if restricted}}
    {{partial 'inventory:item_mixed_box' this}}
    {{partial 'inventory:item_request_box' this}}
    {{#if details}}
      {{partial 'inventory:item_details' this}}
    {{/if}}
  {{else}}
    {{partial 'inventory:item_user_box' this}}
    <div class="item-settings itemBox">
      {{#unless isPrivate}}
        {{partial 'inventory:item_transaction_box' this}}
      {{/unless}}
      {{partial 'inventory:item_visibility_box' this}}
    </div>
    {{partial 'inventory:item_note' this}}
    {{partial 'inventory:item_details' this}}
    <a class="remove remove-button shy-label dark-grey">
      <span>{{I18n 'delete'}}</span>
      {{icon 'trash-o'}}
    </a>
  {{/if}}
{{/if}}
<div id="transactions"></div>
