<div class="comments">
  <div class="loading"></div>
</div>

<div class="newComment">
  {{#unless loggedIn}}
    <div class="local-fog">
      <p>{{i18n 'you need to be connected to comment'}}</p>
      <div class="login-buttons">
        {{partial 'welcome:login_buttons'}}
      </div>
    </div>
  {{/unless}}
  <form>
    <div class="main">
      <div class="avatar">
        {{#if loggedIn}}
          <img src="{{src user.picture 50}}">
        {{/if}}
      </div>
      <textarea class="message ctrlEnterClick" name="message" placeholder="post a comment...">{{message}}</textarea>
    </div>
    <div class="alertBox"></div>
    <div class="bottom">
      {{partial 'ctrl_enter_click_tip'}}
      <a class="tiny-success-button postComment right">{{i18n 'post comment'}}</a>
    </div>
  </form>
</div>
