<a class="itemShow" href="{{pathname}}" rel="nofollow">
  <div class="cover">
    {{#if picture}}
      <img src="{{src picture 300}}">
    {{/if}}
  </div>
  <div class="data">
    <h3 class="title">
      {{title}}
    </h3>
    <hr>
    <div class="authors">
      {{#if entityData.wikidata}}
        {{claim entityData.claims 'P50'}}
      {{else}}
        {{join entityData.authors}}
      {{/if}}
    </div>
  </div>
</a>
{{partial 'inventory:item_user_box' this}}
{{#if details}}
  <div class="detailsBox">
    <span class="details wrapped">
      {{pre details}}
    </span>

  </div>
{{/if}}
<div class="settings itemBox">
  {{partial 'inventory:item_transaction_box' this}}
  {{partial 'inventory:item_visibility_box' this}}
</div>
{{partial 'inventory:item_request_box' this}}
