<div class="cover">
  <a data-href="{{pathname}}">
    {{#if picture}}
      <img src="{{src picture 300}}">
    {{/if}}
  </a>
</div>
<figcaption class="title">
  <h3 class="title"><a class="link itemShow" {{ifvalue 'data-href' pathname}}>{{title}}</a></h3>
</figcaption>
<div class="user-box">
  <a class="user">
    <img class="profilePic" src="{{src profilePic 64}}">
  </a>
  <a class="user">
    <strong class="serif">{{username}}</strong>
    <span class="serif time">{{created}}</span>
  </a>
</div>
<div class="settings itemBox">
  {{!-- TRANSACTION --}}
  {{partial 'inventory:item_transaction_box' this}}

  {{!-- VISIBILITY --}}
  {{partial 'inventory:item_visibility_box' this}}
</div>
<div class="comments-box hidden">
  {{#if comment}}
    <div>
      <span class="comment wrapped">
        {{icon 'quote-left'}}
        {{partial 'toggle_wrap' wrap.comment}}
        {{pre comment}}
      </span>
    </div>
  {{/if}}
  {{#if notes}}
    <div>
      <span class="notes grey wrapped" title="{{i18n 'personal notes'}}">
        {{partial 'toggle_wrap' wrap.notes}}
        {{pre notes}}
      </span>
    </div>
  {{/if}}
</div>