<div class="transactionBox {{currentTransaction.id}} has-dropdown">
  {{#if restricted}}
    <a class="current itemShow">
      {{icon currentTransaction.icon}}{{i18n currentTransaction.labelShort}}
    </a>
  {{else}}
    <a class="current">
      <span class="icon">
        {{icon currentTransaction.icon}}
      </span>
      <span class="rest">
        <span class="label">{{i18n currentTransaction.labelShort}}</span>
        {{icon 'caret-down'}}
      </span>
    </a>
    <ul class="dropdown">
      <li class="dropdown-label capitalized">{{i18n 'available for'}}:</li>
      {{#each transactions}}
        <li>
          <a id="{{id}}" class="transaction {{classes}}">
            {{icon icon}} {{i18n label}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>