<h3 class="layout-type-label">{{I18n 'book'}}</h3>

<div class="wrapper">
  <div class="one">

    {{#if entityIsEdition}}
      <span class="section-label">{{I18n 'edition'}}</span>
    {{else}}
      <span class="section-label">{{I18n 'work'}}</span>
    {{/if}}

    <p class="{{entityType}}">
      {{#if snapshot.entity:image}}
        <a class="showEntity" href="{{entityData.pathname}}">

        <img class="entity-image" src="{{imgSrc snapshot.entity:image 400}}">
        </a>

      {{/if}}
      <a class="showEntity title" href="{{entityData.pathname}}">{{snapshot.entity:title}}</a><br>
      <a class="showEntity subtitle">{{snapshot.entity:subtitle}}</a><br>
      {{#if entityIsEdition}}{{#if entityData.claims.wdt:P212}}
        <a class="showEntity identifier">ISBN: {{entityData.claims.wdt:P212}}</a>
      {{/if}}{{/if}}
    <p>

    {{#if entityIsEdition}}
      <span class="section-label">
      {{#if entityData.isCompositeEdition}}{{I18n 'works'}}{{else}}{{I18n 'work'}}{{/if}}
      </span>
      {{#each works}}
        <p class="work">
          <a class="related-entity-label showEntity" href="{{pathname}}">{{label}}</a>
        </p>
      {{/each}}
    {{else}}
      {{#if mainUserIsOwner}}
        <a class="preciseEdition tiny-button light-blue bold" title="{{I18n 'precise the edition'}}">{{icon 'question-circle'}}{{i18n 'which edition?'}}</a>
      {{/if}}
    {{/if}}

    <div class="authors"></div>
    <div class="scenarists"></div>
    <div class="illustrators"></div>
    <div class="colorists "></div>
    {{#if snapshot.entity:series}}{{#if seriePathname}}
      <p class="series-preview">
        <span class="section-label">{{I18n 'serie'}}</span>
        <a class="showEntity" href="{{seriePathname}}">
          <span class="related-entity-label">{{snapshot.entity:series}}</span>
        </a>
      </p>
    {{/if}}{{/if}}
  </div>

  <div id="itemData" class="two"></div>
</div>
