<div id="entityData">
  <div id="entity"></div>
  {{#unless entityData}}
    <h2>{{title}}</h2>
  {{/unless}}
</div>
<div class="itemData">
  <div class="leftBox panel">
    {{partial 'inventory:item_user_box' this}}
    <div class="settings itemBox">
      {{partial 'inventory:item_transaction_box' this}}
      {{partial 'inventory:item_visibility_box' this}}
      {{partial 'inventory:item_request_box' this}}
    </div>
  </div>
  <div class="rightBox">
    {{partial 'inventory:item_note' this}}
    {{partial 'inventory:item_comment' this}}
    <div id="comments"></div>
  </div>
</div>
<div id="picture" class="hidden"></div>
