<div class="cover">
  <a data-href="{{pathname}}">
    <img src="{{picture}}">
  </a>
</div>
<figcaption class="title">
  <h3 class="title"><a class="link itemShow" {{ifvalue 'data-href' pathname}}>{{title}}</a></h3>
</figcaption>
<div class="user-box">
  <a class="user">
    <img class="profilePic" src="{{src profilePic 64}}">
  </a>
  <a class="user">
    <strong>{{username}}</strong>
    <span class="time">{{created}}</span>
  </a>
</div>
<div class="settings">
  {{!-- TRANSACTION --}}
  <div class="transactionMenu {{currentTransaction.id}}">
    {{#if restricted}}
      <a class="current itemShow">
        {{icon currentTransaction.icon}}{{i18n currentTransaction.labelShort}}
      </a>
    {{else}}
      <a class="current" data-dropdown="{{uiId}}-t-menu">
        {{icon currentTransaction.icon}}
        {{icon 'caret-down'}}
      </a>
      <ul id="{{uiId}}-t-menu" data-options="align:right"
      class="tiny f-dropdown" data-dropdown-content>
        <li class="capitalized">{{i18n 'available for'}}:</li>
        {{#each transactions}}
          <li>
            <a id="{{id}}" class="transaction">
              {{icon icon}} {{i18n label}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{!-- VISIBILITY --}}
  {{#unless restricted}}
    <div class="listingMenu {{currentListing.id}}">
      <a class="current" data-dropdown="{{uiId}}-l-menu">
      {{icon currentListing.icon}}{{icon 'caret-down'}}</a>
      <ul id="{{uiId}}-l-menu" data-options="align:right"
      class="tiny f-dropdown" data-dropdown-content>
        <li>{{i18n 'Visibility'}}:</li>
        {{#each listings}}
          <li>
            <a id="{{id}}" class="listing">
              {{icon icon}} {{i18n label}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/unless}}
</div>
<div class="comments-box hidden">
  {{#if comment}}
    <div>
      <span class="comment wrapped">
        {{icon 'quote-left'}}
        {{partial 'toggle_wrap' wrap.comment}}
        {{pre comment}}
      </span>
    </div>
  {{/if}}
  {{#if notes}}
    <div>
      <span class="notes grey wrapped" title="{{i18n 'personal notes'}}">
        {{partial 'toggle_wrap' wrap.notes}}
        {{pre notes}}
      </span>
    </div>
  {{/if}}
</div>