<table>
  <thead>
    <tr>
      <th>{{i18n 'title'}}</th>
      <th>{{i18n 'authors'}}</th>
      <th>{{i18n 'owner'}}</th>
      <th>{{i18n 'transaction'}}</th>
      <th>{{i18n 'added'}}</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>