<h3>{{{I18n 'editing_selected_items' smart_count=selectedIdsCount}}}</h3>

<div id="selectTransaction" class="dropdown-wrapper">
  <button class="has-dropdown selector" aria-expanded="false" aria-controls="selection-transactions">
    <span class="selector-label">{{I18n 'transaction'}} {{icon 'caret-down'}}</span>
  </button>
  <ul id="selection-transactions" class="dropdown">
    <li class="dropdown-label capitalized">{{I18n 'available for'}}:</li>
    {{#each transactions}}
      <li><button id="{{id}}" class="transaction-option">{{icon icon}} {{I18n label}}</button></li>
    {{/each}}
  </ul>
</div>

<div id="selectListing" class="dropdown-wrapper">
  <button class="has-dropdown selector" aria-expanded="false" aria-controls="selection-transactions">
    <span class="selector-label">{{I18n 'listing'}} {{icon 'caret-down'}}</span>
  </button>
  <ul id="selection-listing" class="dropdown">
    <li class="dropdown-label capitalized">{{I18n 'visible by'}}:</li>
    {{#each listings}}
      <li><button id="{{id}}" class="listing-option">{{icon icon}} {{I18n label}}</button></li>
    {{/each}}
  </ul>
</div>

<p class="selector-label">{{I18n 'shelves'}}</p>
<div class="shelvesSelector"></div>

<div class="buttons">
  <button class="delete">
    {{icon 'trash-o'}}
    <span>{{I18n 'delete'}}</span>
  </button>

  <button class="done success-button">
    {{icon 'check'}}
    <span>{{I18n 'done'}}</span>
  </button>
</div>
