<a class="shelfSelector">
  {{#if isItemInShelf}}
    {{icon 'check-square'}}
  {{else}}
    {{icon 'square'}}
  {{/if}}
</a>
<a id="{{_id}}" class="link shelfLink" href="/shelves/{{_id}}">{{capitalize name}}</a>
