<div class="cover">
  <a data-href="{{pathname}}">
    <img src="{{picture}}">
  </a>
</div>
<figcaption class="title">
  <h3 class="title"><a class="itemShow" {{ifvalue 'data-href' pathname}}>{{title}}</a></h3>
  <div class="user-box">
    <div class="left-box">
      <img class="profilePic" src="{{profilePic}}">
    </div>
    <div class="right-box">
      <span class="legend grey">
        {{i18n 'has_it' this}}
      </span>
      {{#unless restricted}}
        <span class="listingMenu">
          <a class="grey" data-dropdown="{{uiId}}-menu">{{icon currentListing.icon}}{{icon 'caret-down'}}</a>
          <ul id="{{uiId}}-menu" data-options="align:right" class="tiny f-dropdown" data-dropdown-content>
            <li>{{i18n 'Visibility'}}:</li>
            {{#each listings}}
               <li>
                <a id="{{id}}">
                  {{icon icon}} {{i18n label}}
                </a>
              </li>
            {{/each}}
          </ul>
        </span>
      {{/unless}}
      <span>
        <span class="comment wrapped">
          {{pre comment}}
        </span>{{partial 'toggle_wrap' wrap.comment}}
      </span>
      {{#if notes}}
        <span class="notes-box">
          <strong class="grey">{{i18n 'personal notes'}}:</strong>
          <span class="notes grey wrapped">
            {{pre notes}}
          </span>{{partial 'toggle_wrap' wrap.notes}}
        </span>
      {{/if}}
    </div>
  </div>
</figcaption>