<div class="mixedBox">
  <a href="{{user.pathname}}" class="userShow">
    <img class="profilePic" src="{{src user.profilePic 64}}">
  </a>
  <a class="itemShow">
    <div class="transactionBox {{currentTransaction.id}}">
      {{icon currentTransaction.icon}}
    </div>
  </a>
</div>
<div class="labelBox {{currentTransaction.id}}">
  <a class="itemShow label">
    {{{i18n currentTransaction.labelPersonalized user}}}
  </a>
</div>
