{{#unless restricted}}
  <div class="listingMenu {{currentListing.id}}">
    <a class="current" data-dropdown="{{uiId}}-l-menu">
      {{icon currentListing.icon}}
      <span class="label">{{i18n currentListing.label}}</span>
      {{icon 'caret-down'}}
    </a>
    <ul id="{{uiId}}-l-menu" data-options="align:right"
    class="tiny f-dropdown" data-dropdown-content>
      <li><label>{{i18n 'change visibility:'}}</label></li>
      {{#each listings}}
        <li>
          <a id="{{id}}" class="listing">
            {{icon icon}} {{i18n label}}
          </a>
        </li>
      {{/each}}
      <li><label>{{i18n 'other operations:'}}</label></li>
      <li>
        {{partial 'inventory:remove_item'}}
      </li>
    </ul>
  </div>
{{/unless}}