<div class="userBox">
  <a class="user" href="{{user.pathname}}">
    <img class="profilePic" src="{{src profilePic 64}}">
  </a>
  <a class="user" href="{{user.pathname}}">
    <strong class="serif">{{username}}</strong>
    <span class="serif time">{{created}}</span>
  </a>
</div>