<a class="user" href="{{user.pathname}}">
  <div class="userBox">
    <img class="profilePic" src="{{src user.profilePic 64}}">
    <span class="user" href="{{user.pathname}}">
      <strong class="username serif">{{user.username}}</strong>
      <span class="time">{{timeFromNow created}}</span>
    </span>
  </div>
</a>