<div class="tools">
  <div class="tool one">
    {{partial 'inventory:form:listing_picker' this}}
  </div>
  <div class="tool two">
    <input id="itemsTextFilterField" type="text" placeholder="{{i18n 'Filter'}}...">
  </div>
  <div class="tool three">
    <a class="button tiny secondary" id="addItem">{{icon 'plus'}} {{i18n 'New item'}}</a>
  </div>
  <div class="tool four disposition">
    <a class="listLayout active">
      {{icon 'align-justify'}}
    </a>
    <a class="columnsLayout">
      {{icon 'th'}}
    </a>
  </div>
</div>