{{#if admin}}
  <span class="admin">{{I18n 'admin'}}</span>
{{/if}}
{{!-- Do not show the friends menu when not stretch as the dropdown requires place --}}
{{#if member}}
  <span class="memberMenu">
    <div class="member has-dropdown">
      {{!-- <span class="label">{{I18n 'member'}}</span> --}}
      {{icon 'chevron-down'}}
      <ul class="dropdown dropdown-align-right">
        <li>
          <a class="select-2">
            {{icon 'user'}} {{I18n 'see profile'}}</span>
          </a>
        </li>
        {{#if mainUserIsAdmin}}
          {{#unless admin}}
            <li>
              <a class="makeAdmin">
                {{icon 'key'}} {{I18n 'make admin'}}</span>
              </a>
            </li>
            <li>
              <a class="kick">
                {{icon 'ban'}} {{I18n 'remove from group'}}</span>
              </a>
            </li>
          {{/unless}}
        {{/if}}
      </ul>
    </div>
  </span>
{{/if}}
{{#if invited}}
  <span class="invited">{{I18n 'invited'}}</span>
{{/if}}
{{#if requested}}
  {{#if mainUserIsAdmin}}
    <div class="request-actions">
      <a class="acceptRequest action" title="{{I18n "validate user's request to join the group"}}">{{icon 'plus'}}<span class="label">{{I18n 'accept'}}</span>
      </a>
      <a class="refuseRequest action" title="{{I18n "discard user's request to join the group"}}">{{icon 'ban'}}<span class="label">{{I18n 'refuse'}}</span>
      </a>
    </div>
  {{else}}
    <span class="status">{{I18n 'waiting for admin validation'}}</span>
  {{/if}}
{{/if}}
{{#if none}}
  <a class="invite action" title="invite user to join the group"> {{icon 'plus'}} {{I18n 'invite'}} </a>
  <span class="check"></span>
{{/if}}