<div class="avatar-wrapper">
  <img class="avatar" src="{{imgSrc picture 150 150 true}}" alt="{{username}} avatar">
</div>

<div class="info">

  <div class="header">
    <h2 class="username respect-case">{{username}}</h2>

    <div class="profile-buttons">
      {{#if mainUser}}
        {{!-- <span>{{icon 'map-marker'}}{{i18n 'position'}}</span> --}}
        {{!-- <a id="showPositionPicker" class="edit">{{i18n 'edit'}}</a> --}}
      {{else}}
        {{#if distance}}
          <a href="{{positionUrl}}" class="showUserOnMap tiny-button light-blue">
            {{icon 'map-marker'}}
            <span class="label">{{i18n 'km_away_from_you' distance=distance}}</span>
          </a>
        {{/if}}
      {{/if}}
      {{#if mainUser}}
        <a class="edit action tiny-button light-blue" href="/settings/profile">
          {{icon 'pencil'}}
          {{I18n 'edit profile'}}
        </a>
      {{else}}
        {{partial 'inventory:user_menu' this}}
      {{/if}}
    </div>
  </div>

  <ul class="data">
    <li class="inventoryLength">
      <span>{{icon 'book'}}{{i18n 'books'}}</span>
      <span class="count">{{inventoryLength}}</span>
    </li>

    {{#if bio}}
      <li class="bio-wrapper">{{userContent bio}}</li>
    {{else}}
      <li class="bio-wrapper empty">{{i18n "this user didn't add a presentation"}}</li>
    {{/if}}
  </ul>

</div>
