<div class="groupIcon objectIcon">
  <a href="{{pathname}}" data-group-id="{{_id}}" title="{{name}} - {{I18n 'group'}}">
    <div class="img-wrapper">
      <img src="{{imgSrc picture 96}}">
      {{#if pictureFilterColor}}
        <div class="picture-color-filter" style="background-color: {{pictureFilterColor}}"></div>
      {{/if}}
    </div>
    <p class="name label">{{name}}</p>
    {{icon 'group'}}
  </a>
</div>