<div class="groupIcon objectIcon">
  <a href="{{pathname}}" title="{{name}} - {{I18n 'group'}}">
    <img src="{{src picture 96}}">
    <p class="name label">{{name}}</p>
    {{icon 'group'}}
  </a>
</div>