<div class="groupMarker objectMarker">
  <a href="{{pathname}}" data-group-id="{{_id}}" title="{{name}} - {{I18n 'group'}}">
    <div class="picture" style="background-image: url({{imgSrc picture 100}})"></div>
    <p class="name label">{{name}}</p>
    <div class="members-count">{{icon 'group'}} {{membersCount}}</div>
  </a>
</div>