<div class="map-welcome">
  {{icon 'map-marker'}}
  <h3>{{i18n 'you can now find books people nearby have to give, share or sell!'}}</h3>
  {{!-- <p>{{i18n 'add yourself to the map to see public books of people nearby'}}</p> --}}
  {{icon 'arrow-down'}}
</div>
<section id="position-picker" class="centered">
  {{partial 'map:position_picker_button'}}
</section>
