<div class="position-required">
  {{icon 'map-marker'}}
  <p class="requesting-position">{{I18n 'setting a position is required for this action'}}</p>
  {{partial 'map:position_picker_button'}}
  <p class="tip">{{i18n 'position_privacy_context'}}</p>
  <p class="tip">{{i18n 'position_privacy_tip'}}</p>
</div>
