<h3>{{i18n title}}</h3>
<p class="context">{{i18n context}}</p>
<div id="positionPickerMap" class="map-container"></div>
{{#if tip}}
  <p class="tip">{{icon 'info-circle'}}{{i18n tip}}</p>
{{/if}}
<div class="bottom">
  {{#if position}}
    <a id="removePosition" class="button bold radius warning" tabindex="0">
      {{i18n 'delete position'}}
      <span class="loading"></span>
    </a>
  {{/if}}
  <a id="validatePosition" class="button bold radius success" tabindex="0">
    {{i18n 'save position'}}
    <span class="loading"></span>
  </a>
</div>
<span class='check alertBox'></span>
