<h3>{{i18n 'select your position'}}</h3>
<p class="context">{{i18n 'position_privacy_context'}}</p>
<div id="positionPickerMap" class="map-container"></div>
<p class="tip">{{icon 'info-circle'}}{{i18n 'position_privacy_tip'}}</p>
<div>
  <a id="validatePosition" class="button bold radius">
    {{i18n 'save position'}}
    <span class="loading"></span>
  </a>
  <span class='alertBox'></span>
</div>