<div class="userMarker objectMarker">
  <a href="{{pathname}}" data-user-id="{{_id}}" title="{{username}} - {{I18n 'user'}}">
    <div class="picture" style="background-image: url({{imgSrc picture 100}})"></div>
    <p class="username label">{{username}}</p>
  </a>
  {{#if mainUser}}
    <button id="showPositionPicker">{{icon 'pencil'}}</button>
  {{else}}
    <div class="items-count" title="{{i18n 'num_books' smart_count=itemsCount}}">{{icon 'book'}} {{itemsCount}}</div>
  {{/if}}
</div>