<div class="userIcon objectIcon">
  <a href="{{pathname}}" data-user-id="{{_id}}" title="{{username}} - {{I18n 'user'}}">
    <img src="{{src picture 60}}">
    <p class="username label">{{username}}</p>
  </a>
</div>